@use '../../../../styles/util/util';
@use '../../../component/card/employee-card/employee-card.component';

.timeline-wrapper, .websites-wrapper,
.contact-information-wrapper {
  @include util.flex-center-center;

  flex-wrap: wrap;
}

.timeline-wrapper {
  justify-content: flex-start;

  & .timeline-hr {
    border-left: 1px solid var(--contrast);
    border-right: none;
  }
}

@media only screen and (max-width: 999px) {
  .timeline-wrapper, .websites-wrapper {
    @include util.flex-layout-column;
    padding: 0 3vw;
  }

  .websites-wrapper {
    & > * {
      width: 94vw;
      margin: 10px 0;
    }
  }

  .contact-information-wrapper {
    @include util.flex-layout-column;

    & app-contact-information-card {
      width: 94vw;
      padding-bottom: 60px;
    }
  }

  .timeline-wrapper {
    & .timeline-hr {
      height: 120px;
    }
  }
}

@media only screen and (min-width: 1000px) {

  .timeline-wrapper, .websites-wrapper {
    @include util.flex-layout-row;
    @include util.margin-x-auto;

    width: 1000px;

    & > * {
      width: 40%;
    }

    & .right {
      margin: 150px 41px 0;
    }
  }

  .contact-information-wrapper {
    @include util.flex-layout-column;
    & app-contact-information-card {
      width: 800px;
    }
  }

  .websites-wrapper {
    & > * {
      margin: 10px 50px;
    }
  }

  .timeline-wrapper {
    padding: 0 40px;

    & > * {
      margin: 0 50px;
    }

    & .timeline-hr {
      height: 700px;
      width: 0;
      margin: 0;

      &.right {
        display: none;
      }
    }
  }
}
