<!-- Employees -->
<app-hero [contents]="employeeAppHeroContents"></app-hero>
<div class="employees-wrapper">
  <ng-container *ngFor="let employee of EMPLOYEES; last as isLast">
    <hr *ngIf="isLast"/>
    <app-employee-card [employee]="employee"></app-employee-card>
  </ng-container>
</div>

<!-- Follow Us -->
<app-hero [contents]="followUsAppHeroContents">
</app-hero>
<div class="websites-wrapper">
  <ng-container *ngFor="let website of websites">
    <app-brand-button (click)="redirect(website.url + '/' + website.handle)" [icon]="website.cssClass"
                      [text]="website.name | titlecase">
    </app-brand-button>
  </ng-container>
</div>

<!-- Contact Information -->
<app-hero [contents]="contactInformationAppHeroContents">
</app-hero>
<div class="contact-information-wrapper">
    <app-contact-information-card></app-contact-information-card>
</div>

<!-- History of Us -->
<app-hero [contents]="historyOfUsAppHeroContents">
</app-hero>
<div class="timeline-wrapper">
  <ng-container *ngFor="let timelineItem of OTH_TIME_LINE; index as i">
    <app-timeline-card [arrow]="i % 2 === 0 ? 'left' : 'right'" [class.left]="i % 2 === 0"
                       [class.right]="i % 2 === 1"
                       [timelineItem]="timelineItem">
    </app-timeline-card>
    <hr [class.left]="i % 2 === 0"
        [class.right]="i % 2 === 1"
        class="timeline-hr"/>
  </ng-container>
</div>
