<div [class]="cardClass" class="card">
  <span *ngIf="ribbon" [attr.data-ribbon]="ribbon.text" [class]="ribbon.theme + '-theme'" class="ribbon">
    <!-- Ribbon of the card -->
  </span>

  <ng-container *ngTemplateOutlet="headerTemplate || defaultHeaderTemplate">
    <!-- Header of the card -->
  </ng-container>
  <ng-template #defaultHeaderTemplate>
    <div *ngIf="header" class="header">
      {{ header }}
    </div>
  </ng-template>

  <ng-container *ngTemplateOutlet="bodyTemplate || defaultBodyTemplate">
    <!-- Body of the card -->
  </ng-container>
  <ng-template #defaultBodyTemplate>
    <div *ngIf="body" class="body">
      {{ body }}
    </div>
  </ng-template>

  <ng-container *ngTemplateOutlet="footerTemplate || defaultFooterTemplate">
    <!-- Footer of the card -->
  </ng-container>
  <ng-template #defaultFooterTemplate>
    <div *ngIf="footer" class="footer">
      {{ footer }}
    </div>
  </ng-template>

  <ng-container *ngTemplateOutlet="bottomWrapperTemplate || defaultBottomWrapperTemplate">
    <!-- Bottom wrapper of the card -->
  </ng-container>
  <ng-template #defaultBottomWrapperTemplate>
    <div class="bottom-wrapper"></div>
  </ng-template>
</div>
