<div class="card">
  <div class="header">
    <ng-container *ngTemplateOutlet="header ? header : defaultHeader"></ng-container>
    <ng-template #defaultHeader>Some header...</ng-template>
  </div>
  <div class="body">
    <ng-container *ngTemplateOutlet="body ? body : defaultBody"></ng-container>
    <ng-template #defaultBody>Some body...</ng-template>
  </div>
  <div class="footer">
    <ng-container *ngTemplateOutlet="footer ? footer : defaultFooter"></ng-container>
    <ng-template #defaultFooter>Some body...</ng-template>
  </div>
  <ng-container *ngTemplateOutlet="bottomWrapper ? bottomWrapper: defaultBottomWrapper"></ng-container>
  <ng-template #defaultBottomWrapper>
    <div class="default-bottom-wrapper"></div>
  </ng-template>
  <span *ngIf="ribbon" [attr.data-ribbon]="ribbon.text" [class]=" ribbon.theme + '-theme'" class="ribbon"></span>
</div>
