<div class="card">
  <span *ngIf="ribbon" [attr.data-ribbon]="ribbon.text" [class]=" ribbon.theme + '-theme'" class="ribbon">
    <!-- Ribbon of the card -->
  </span>

  <ng-container *ngTemplateOutlet="header ? header : defaultHeader">
    <!-- Header of the card -->
  </ng-container>
  <ng-template #defaultHeader>
    <div class="header">
      {{ defaultHeaderContent }}
    </div>
  </ng-template>

  <ng-container *ngTemplateOutlet="body ? body : defaultBody">
    <!-- Body of the card -->
  </ng-container>
  <ng-template #defaultBody>
    <div class="body">
      {{ defaultBodyContent }}
    </div>
  </ng-template>

  <ng-container *ngTemplateOutlet="footer ? footer : defaultFooter">
    <!-- Footer of the card -->
  </ng-container>
  <ng-template #defaultFooter>
    <div class="footer">
      {{ defaultFooterContent }}
    </div>
  </ng-template>

  <ng-container *ngTemplateOutlet="bottomWrapper ? bottomWrapper: defaultBottomWrapper">
    <!-- Bottom wrapper of the card -->
  </ng-container>
  <ng-template #defaultBottomWrapper>
    <div class="bottom-wrapper"></div>
  </ng-template>
</div>
