@use '../../../../styles/util/util';
@use '../../card/card.component';

.status-card {
  & .header {
    display: flex;

    & .available-icon-status {
      margin-left: auto;
    }

    & .available-icon-status, & .unavailable-icon-status {
      display: flex;
      width: -webkit-fit-content;
      align-items: center;
      color: var(--color);
      padding: 15px;

      & app-led {
        margin-right: 12px;
      }
    }
  }

  & .body {

    // Design
    min-height: 120px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 50px;

    & .status-section {
      @include util.flex-layout-column;
      width: 49%;


      & .status-column {
        @include util.flex-layout-row;

        align-items: center;
        justify-content: flex-start;

        padding: {
          top: 15px;
          bottom: 15px;
          left: 25px;
        }

        border-top: 1px solid var(--darker-contrast);

        & i {
          margin-left: auto;
          margin-right: 12px;
          font-size: 17px;
          cursor: pointer;
          color: var(--lighter-contrast);
        }

        & app-led {
          margin-right: 14px;
        }

        &.second {
          border-right: none;
        }
      }

      & h4 {
        text-align: left;
      }

      &.solo {
        width: 100%;

        & .status-column {
          border: none;

          padding: {
            top: 6px;
            bottom: 6px;
          }
        }
      }

      &.solo h4 {
        font-weight: 500;
        margin: 20px 0;
      }
    }
  }

  & .footer {
    @include card.default-footer;
    @include util.flex-layout-row;
    @include card.default-footer-border-color;

    justify-content: space-between;
    align-items: center;

    color: var(--lighter);

    padding: {
      top: 20px;
      bottom: 20px;
    }

    & .right {
      @include util.flex-layout-row;
      @include util.flex-center-center;

      justify-content: flex-end;

      & small {
        text-align: right;
      }

      min-width: 30%;

      & > * {
        margin: 10px;
      }
    }

    & small {

      text-align: left;

      &:first-child {
        width: 70%;
      }
    }
  }
}

@media only screen and (max-width: 999px) {
  .status-card {
    font-size: 17px;

    & .hero > * {
      width: 94vw;
    }

    & .body {
      padding: {
        left: 20px;
        right: 20px;
      }

      & .status-section {
        width: 100%;

        & .status-column {
          border-right: none;
        }
      }
    }

    & .footer {
      padding: {
        left: 20px;
        right: 20px;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .status-card {
    font-size: 19px;

    & .body {
      width: 700px;

      padding: {
        left: 40px;
        right: 40px;
      }
    }

    & .footer {
      padding: {
        left: 40px;
        right: 40px;
      }
    }
  }
}
