<app-card *ngIf="overallSystemStatus.systemStatuses" [bodyTemplate]="bodyTemplate"
          [footerTemplate]="footerTemplate" class="status-card">
  <!-- Body -->
  <ng-template #bodyTemplate>
    <div class="body">
      <ng-container *ngFor="let systemStatus of overallSystemStatus.systemStatuses">
        <div class="status-section solo">
          <div class="status-column">
            <app-led
                [informationType]="systemStatus.overall === 'UP' ? 'success' : systemStatus.overall === 'DOWN' ? 'error' : 'yellow'"></app-led>
            <h4>{{ systemStatus.name | titlecase }}
            </h4>
          </div>
        </div>
        <div *ngFor="let status of systemStatus.statuses; index as i" class="status-section">
          <div class="status-column" *ngIf="i % 2 == 0">
            <app-led
                [informationType]="status.alive === 'UP' ? 'success' : status.alive === 'DOWN' ? 'error' : ''"></app-led>
            <h4>{{ status.name | titlecase}}
            </h4>
            <i aria-hidden="true" class="fas fa-external-link-alt fa-lg fa-fw"
               (click)="navigate( systemStatus.name, status.name )"></i>
          </div>
          <div class="status-column second" *ngIf="i % 2 != 0">
            <app-led
                [informationType]="status.alive === 'UP' ? 'success' : status.alive === 'DOWN' ? 'error' : ''"></app-led>
            <h4>{{ status.name | titlecase}}
            </h4>
            <i aria-hidden="true" class="fas fa-external-link-alt fa-lg fa-fw"
               (click)="navigate( systemStatus.name, status.name )"></i>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-template>

  <!-- Footer -->
  <ng-template #footerTemplate>
    <div class="footer">
      <small>{{ overallSystemStatus.checkDate ? 'Last check ' + ( overallSystemStatus.checkDate | date: 'dd MMM, HH:mm:ss' ) : '' }}</small>
      <div class="right">
        <small>Overall Status: </small>
        <app-led [informationType]="setOverallStatusLed()"></app-led>
      </div>
    </div>
  </ng-template>
</app-card>
