<div class="my-profile-page">
  <!--MY PROFILE CARD-->
  <!-- Todo: Create new card and replace it-->
  <app-card [headerTemplate]="header" [bodyTemplate]="body">
    <ng-template #header>
      <img *ngIf="profileImg" [src]="profileImg" alt="wallpaper" style="width: 150px; height: 150px; margin-top: -100px;">
    </ng-template>

    <ng-template #body>
      <div body class="content-column-wrapper" style="width: 100%;">
        <div body class="rate-badge-wrapper">
          <app-rate-bar [rate]="rateObject"></app-rate-bar>
          <p class="badge-area">
            <em *ngIf="topContributor !== undefined" style="margin-right: 5px;">
              <span *ngIf="topContributor === 0">🥇</span>
              <span *ngIf="topContributor === 1">🥈</span>
              <span *ngIf="topContributor === 2">🥉</span>
            </em>
            <em *ngIf="numberOfEventsTaken !== undefined && numberOfEventsTaken > 10"
                show-delay="500" style="margin-right: 5px;" tooltip="Curious">📚</em>
            <em *ngIf="numberOfEventsMade != undefined && numberOfEventsMade < 5" show-delay="500"
                style="margin-right: 5px;"
                tooltip="New">👋</em>
            <em *ngIf="userInfo?.isAcademical" show-delay="500" tooltip="Joined with .edu mail">🎓</em>
          </p>
        </div>
        <div [class.with-rate]="formattedRateNumber" class="column-first">
          <div class="section-header">
            <p class="dim">{{( userInfo?.payload?.firstName && userInfo?.payload?.lastName ) ?
              ( userInfo.payload.firstName + ' ' + userInfo.payload.lastName + ' (@' + userInfo.username + ')' )
              : ( userInfo?.username ? userInfo.username : '' ) }}
          </div>
          <div *ngIf="userInfo" class="section-output flex-layout-column">
            <app-label-data *ngIf="userInfo?.payload?.bio"
                            [data]="userInfo.payload.bio">
            </app-label-data>
            <app-label-with-icon-data *ngIf="userInfo?.payload?.location" [data]="userInfo.payload.location"
                                      [solid]="'map-marker-alt'">
            </app-label-with-icon-data>
            <div *ngIf="followerCount !== undefined && followeeCount !== undefined" class="follower-following-count-area">
              <div class="follower-count-area">
                <em class="follower-count">{{followerCount}}</em> Following
              </div>
              <div class="following-count-area">
                <em class="following-count">{{followeeCount}}</em> Followers
              </div>
              <div *ngIf="numberOfEventsMade !== undefined" class="events-count-area">
                <em class="event-count">{{ numberOfEventsMade }}</em> Events
              </div>
            </div>
          </div>
          <div *ngIf="userInterests.length > 0"
               class="section-header">
            <p class="dim">Interests</p>
            <hr/>
          </div>
          <div *ngIf="userInfo" [class]="'interest-list'" class="section-output">
            <app-label-with-icon-data *ngFor="let result of userInterests" [data]="(!result.leafCategory && !result.subCategory && result.category ? result.category.name : '') +
          (!result.leafCategory && result.subCategory ? result.subCategory.name : '') + (result.leafCategory ? result.leafCategory.name : '')"
                                      [fixWidth]="true"
                                      [noMarginIcon]="true"
                                      [noMargin]="true"
                                      [queryParams]="{category: result.category.id, 'sub-category': result.subCategory?.id, 'leaf-category': result.leafCategory?.id}"
                                      [solid]="'bookmark'" [urlData]="URLS.dashboard.learn">
            </app-label-with-icon-data>
          </div>
          <div
            *ngIf="userInfo?.payload?.phone || userInfo?.email || userInfo?.payload?.website || userInfo?.payload?.social?.twitter || userInfo?.payload?.social?.facebook || userInfo?.payload?.social?.youtube"
            class="section-header">
            <p class="dim">Contact</p>
            <hr/>
          </div>
          <div *ngIf="userInfo" class="section-output flex-layout-column">
            <app-label-with-icon-data *ngIf="userInfo?.payload?.phone" [data]="userInfo.payload.phone"
                                      [highlight]="true" [isClickable]="true" [solid]="'phone-alt'"
                                      [urlPrefix]="'tel:'">
            </app-label-with-icon-data>
            <span class="tooltip" show-delay="500" tooltip="Only visible to you">
            <app-label-with-icon-data *ngIf="userInfo?.email" [data]="userInfo.email" [highlight]="true"
                                      [isClickable]="true" [solid]="'envelope'" [urlPrefix]="'mailto:'">
            </app-label-with-icon-data>
          </span>
            <app-label-with-icon-data *ngIf="userInfo?.payload?.website" [data]="userInfo.payload.website"
                                      [highlight]="true" [isClickable]="true" [solid]="'globe'">
            </app-label-with-icon-data>
            <app-label-with-icon-data *ngIf="userInfo?.payload?.social?.twitter" [brand]="'twitter'"
                                      [data]="userInfo.payload.social.twitter"
                                      [urlPrefix]="environmentCommon.website.twitter.url">
            </app-label-with-icon-data>
            <app-label-with-icon-data *ngIf="userInfo?.payload?.social?.facebook" [brand]="'facebook'"
                                      [data]="userInfo.payload.social.facebook"
                                      [urlPrefix]="environmentCommon.website.facebook.url">
            </app-label-with-icon-data>
            <app-label-with-icon-data *ngIf="userInfo?.payload?.social?.youtube" [brand]="'youtube'"
                                      [data]="userInfo.payload.social.youtube"
                                      [urlPrefix]="environmentCommon.website.youtube.url + '/c'">

            </app-label-with-icon-data>
          </div>
        </div>
      </div>
    </ng-template>

  </app-card>
  <!--END OF DASHBOARD CARD-->
  <!--LESSONS TAKEN CARD-->
  <!-- TODO: Create new card and replace it-->
  <app-card *ngIf="lessonsInfo.length > 0" [headerTemplate]="header" [bodyTemplate]="body">
    <ng-template #header>
      <p>Lessons Taken</p>
    </ng-template>

    <ng-template #body>
      <div *ngIf="!loadingLessonsTaken" [ngStyle]="{'height' : lessonsInfo.length * 50 + 'px'}" style="width: 100%;" class="chart-wrapper">
        <br/>
        <ngx-charts-bar-horizontal
          [animations]="false"
          [customColors]="colors"
          [gradient]="gradient"
          [legend]="showLegend"
          [results]="eventsInfo"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="eventsTakenXAxisLabel"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis">
        </ngx-charts-bar-horizontal>
        <app-color-chart></app-color-chart>
      </div>
    </ng-template>
  </app-card>

  <app-card *ngIf="eventsInfo.length === 0" [headerTemplate]="header" [bodyTemplate]="body">
    <ng-template #header>
      <p>Lessons Taken</p>
    </ng-template>

    <ng-template #body>
      <div style="margin-left: 10px; padding-bottom: 20px;">
        <h3 class="dim">No results found</h3>
      </div>
    </ng-template>
  </app-card>
  <!--END OF LESSONS TAKEN CARD-->

  <!--CONTRIBUTIONS CARD-->
  <app-card *ngIf="userInfo?.payload?.userProfileActivated && eventsInfo.length > 0" [headerTemplate]="header" [bodyTemplate]="body">
    <ng-template #header>
      <p>Events</p>
    </ng-template>

    <ng-template #body>
      <div *ngIf="!loadingCount" [ngStyle]="{'height' : eventsInfo.length * 50 + 'px'}" body class="chart-wrapper">
        <br/>
        <ngx-charts-bar-horizontal
          [animations]="false"
          [customColors]="colors"
          [gradient]="gradient"
          [legend]="showLegend"
          [results]="eventsInfo"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="eventsXAxisLabel"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis">
        </ngx-charts-bar-horizontal>
        <div class="color-text">

          Less

          <svg class="d-inline-block" height="10" width="10">
            <rect height="10" style="fill: var(--theme-color-lighter-4)" width="10"></rect>
          </svg>
          <svg class="d-inline-block" height="10" width="10">
            <rect height="10" style="fill: var(--theme-color-lighter-3)" width="10"></rect>
          </svg>
          <svg class="d-inline-block" height="10" width="10">
            <rect height="10" style="fill: var(--theme-color-lighter-2)" width="10"></rect>
          </svg>
          <svg class="d-inline-block" height="10" width="10">
            <rect height="10" style="fill: var(--theme-color-lighter-1)" width="10"></rect>
          </svg>
          <svg class="d-inline-block" height="10" width="10">
            <rect height="10" style="fill: var(--theme-color)" width="10"></rect>
          </svg>

          More

        </div>
      </div>
      <app-card *ngIf="userInfo?.payload?.userProfileActivated && eventsInfo.length === 0" [headerTemplate]="header"
                [bodyTemplate]="body">
        <ng-template #header>
          <p>Events</p>
        </ng-template>

        <ng-template #body>
          <div style="margin-left: 10px; padding-bottom: 20px;">
            <h3 class="dim">No results found</h3>
          </div>
        </ng-template>
      </app-card>
    </ng-template>
  </app-card>
  <!--END OF CONTRIBUTIONS CARD-->
</div>
