<div class="raw-content-page-layout">
  <div class="logo-wrapper">
    <img [src]="loading ? BRAND.logo.maintenance : (error ? BRAND.logo.error : BRAND.logo.fixed )" alt="logo"
         class="brand-logo" height="150"/>
  </div>

  <!-- Verifying account -->
  <app-hero *ngIf="loading" [contents]="verifyingAccountAppHeroContents"
            [heroClass]="'no-padding-top'"></app-hero>

  <!-- Account verification failed -->
  <app-hero *ngIf="!loading && error"
            [contents]="accountVerificationFailedAppHeroContents"
            [heroClass]="'no-padding-top'"></app-hero>
  <app-information-button (click)="router.navigate([URLS.root])" *ngIf="!loading && error"
                          [informationType]="INFORMATION_TYPES.error" i18n-text text="HOME"></app-information-button>

  <!-- Account verified -->
  <app-hero *ngIf="!loading && !error"
            [contents]="accountVerifiedAppHeroContents"
            [heroClass]="'no-padding-top'"></app-hero>
  <app-information-button (click)="router.navigate([URLS.login])" *ngIf="!loading && !error"
                          [informationType]="INFORMATION_TYPES.success" i18n-text
                          text="LOG IN"></app-information-button>
</div>
