<svg preserveAspectRatio="xMidYMax slice" viewBox="0 0 1000 250" xmlns="http://www.w3.org/2000/svg">
  <path d="M 536.6,43 525.6,0 H 452.4 Z"
        fill="var(--theme-color-lighter-4)"/>
  <path d="m 452.4,0 -43,41 127.2,2 z"
        fill="var(--theme-color-lighter-2)"/>
  <path d="M 536.6,43 634.7,0 H 525.6 Z"
        fill="var(--theme-color)"/>
  <path d="M 409.4,41 438.27898,186.75733 536.6,43 Z"
        fill="var(--theme-color-lighter-7)"/>
  <path d="M 536.6,43 648.7,94 634.7,0 Z"
        fill="var(--theme-color-lighter-2)"/>
  <path d="M 438.27898,186.75733 588.57953,169.24855 536.6,43 Z"
        fill="var(--theme-color-lighter-2)"/>
  <path d="M 588.57953,169.24855 648.7,94 536.6,43 Z"
        fill="var(--theme-color-lighter-8)"/>
  <path d="M 452.4,0 H 318.3 l 91.1,41 z"
        fill="var(--theme-color-lighter-1)"/>
  <path d="m 409.4,41 -71.1,80 99.97898,65.75733 z"
        fill="var(--theme-color-lighter-3)"/>
  <path d="m 318.3,0 20,121 71.1,-80 z"
        fill="var(--theme-color-lighter-1)"/>
  <path d="M 588.57953,169.24855 678.565,158.58124 648.7,94 Z"
        fill="var(--theme-color-lighter-8)"/>
  <path d="M 648.7,94 747.8,0 H 634.7 Z"
        fill="var(--theme-color-lighter-9)"/>
  <path d="m 338.3,121 -45.25474,83.57454 145.23372,-17.81721 z"
        fill="var(--theme-color-lighter-8)"/>
  <path d="M 818.8,73 747.8,0 648.7,94 Z"
        fill="var(--theme-color-lighter-6)"/>
  <path d="m 318.3,0 -91.1,51 111.1,70 z"
        fill="var(--theme-color-lighter-4)"/>
  <path d="M 678.565,158.58124 818.8,73 648.7,94 Z"
        fill="var(--theme-color-lighter-3)"/>
  <path d="M 227.2,51 293.04526,204.57454 338.3,121 Z"
        fill="var(--theme-color-lighter-2)"/>
  <path d="M 318.3,0 H 191.2 l 36,51 z"
        fill="var(--theme-color-lighter-4)"/>
  <path d="m 133.1,148 66.1196,67.87281 93.82566,-11.29827 z"
        fill="var(--theme-color)"/>
  <path d="M 791.77832,144.46396 818.8,73 678.20203,158.52059 Z"
        fill="var(--theme-color-lighter-7)"/>
  <path d="M 152.1,98 293.04526,204.57454 227.2,51 Z"
        fill="var(--theme-color)"/>
  <path d="M 903.73578,131.87372 874.9,66 818.8,73 Z"
        fill="var(--theme-color-lighter-9)"/>
  <path d="M 191.2,0 152.1,98 227.2,51 Z"
        fill="var(--theme-color-lighter-8)"/>
  <path d="m 152.1,98 -19,50 159.94526,56.57454 z"
        fill="var(--theme-color-lighter-8)"/>
  <path d="M 903.73578,131.87372 818.8,73 791.77832,144.46396 Z"
        fill="var(--theme-color-lighter-9)"/>
  <path d="M 818.8,73 911.9,0 H 747.8 Z"
        fill="var(--theme-color-lighter-1)"/>
  <path d="M 191.2,0 H 90.1 l 62,98 z"
        fill="var(--theme-color-lighter-6)"/>
  <path d="M 152.1,98 0,119 133.1,148 Z"
        fill="var(--theme-color-lighter-8)"/>
  <path d="m 874.9,66 37,-66 -93.1,73 z"
        fill="var(--theme-color)"/>
  <path d="M 1000,66 V 0 h -88.1 z"
        fill="var(--theme-color)"/>
  <path d="M 0,119 82.421442,229.58573 133.1,148 Z"
        fill="var(--theme-color-lighter-4)"/>
  <path d="M 133.1,148 82.421442,229.58573 199.2196,215.87281 Z"
        fill="var(--theme-color-lighter-2)"/>
  <path d="M 90.1,0 0,56 152.1,98 Z"
        fill="var(--theme-color-lighter-2)"/>
  <path d="M 90.1,0 H 0 v 56 z"
        fill="var(--theme-color)"/>
  <path d="m 0,56 v 63 L 152.1,98 Z"
        fill="var(--theme-color-lighter-7)"/>
  <path d="M 1000,66 H 874.9 l 28.83578,65.87372 z"
        fill="var(--theme-color-lighter-1)"/>
  <path d="M 1000,66 911.9,0 874.9,66 Z"
        fill="var(--theme-color-lighter-8)"/>
  <path d="M 1000,120 V 66 l -96.26422,65.87372 z"
        fill="var(--theme-color-lighter-5)"/>
  <path d="M 0,119 V 240 L 82.421442,229.58573 Z"
        fill="var(--theme-color-lighter-7)"/>
</svg>
