.code-editor {
  background: var(--darker-light-mode);
  width: 100%;
  border-radius: 5px;
  min-height: 220px;
  overflow: auto;
  text-align: left;
  box-sizing: border-box;
}

.code-editor-content {
  padding: 20px 15px 25px 15px;
  font-family: 'JetBrains Mono', monospace;
}

.code-editor-header {
  background-color: var(--shadow-darker-dark-mode);
  box-shadow: 0 0 3px 2px var(--shadow);
  display: flex;
  flex-direction: row;
}

.code-editor-title {
  padding: 5px 3.5px 3.5px 6px;
  font-size: 12px;
  background: var(--error);
  text-transform: uppercase;
  box-sizing: border-box;
  width: 95px;
  color: var(--darker-contrast-light-mode);
  font-weight: 500;
}

.arrow-right {
  width: 8px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid var(--error);
  margin-left: -0.2px;
}
