<div class="code-editor">
  <div class="code-editor-header">
    <p class="code-editor-title">OTH Terminal</p>
  </div>

  <div class="code-editor-content">
    <p class="command-line">
      <span class="request command">$</span>open-template-hub-server-generator
    </p>
    <p class="command-line"><span class="response command">></span> 1) Payment Server</p>
    <p class="command-line"><span class="response command">></span> 2) Auth Server</p>
    <p class="command-line">
      <span class="response command">></span> 3) Basic Info Server
    </p>
    <p class="command-line">
      <span class="response command">></span> Please enter a server type you want to
      generate:
    </p>
  </div>
</div>
