.code-editor {
  background: var(--darker);
  width: 500px;
  border-radius: 5px;
  min-height: 220px;
  overflow: auto;
  text-align: left;
}

.code-editor-content {
  padding: 15px;
  padding-top: 20px;
}

.code-editor-header {
  border-bottom: 0.5px solid var(--lighter);
  display: flex;
  flex-direction: row;
}

.code-editor-title {
  padding: 3.5px;
  font-size: 12px;
  background: var(--error);
  text-transform: uppercase;
  box-sizing: border-box;
  width: 92px;
  color: var(--card);
  font-weight: 500;
}

.arrow-right {
  width: 8px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid var(--error);
  margin-left: -1px;
}
