.code-editor {
  background: var(--darker);
  min-width: 500px;
  border-radius: 5px;
  min-height: 220px;
  text-align: left;
}

.code-editor-content {
  padding: 15px;
}

.code-editor-header {
  border-bottom: 0.5px solid var(--lighter);
  display: flex;
  flex-direction: row;
}

.code-editor-title {
  padding: 12px;
  font-size: 16px;
  background: var(--error);
  text-transform: uppercase;
  box-sizing: border-box;
  width: 140px;
  color: var(--card);
  font-weight: 500;
}

.arrow-right {
  width: 20px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid var(--error);
}
