@use '../../../../../styles/util/util';

.top-nav {
  height: 50px;
  padding: 20px 45px;
  display: flex;
  box-shadow: 5px 0 10px var(--shadow);
  background-color: var(--background-color-alpha);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  & a {
    padding: 10px 17px;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
  }
}

.brand {
  margin-right: 10px;
}

.top-nav .right-item-wrapper .contact {

  border-bottom: var(--theme-color) 2px solid;
}

.top-nav .brand > * {
  margin: 0.2em;
}

app-dropdown-menu i {
  font-size: 22px;
  margin: 0.2em 0.2em 0.2em 0;
  color: var(--theme-color);
}

.top-nav .left-item-wrapper {
  margin-right: auto;
}

.top-nav .right-item-wrapper {
  margin-right: 1em;
  margin-left: auto;
  margin-top: 0.5em;
}

.top-nav a i {
  font-size: 24px;
  margin-left: 0.05em;

  &.caret {
    font-size: 18px;
    margin-left: 0.25em;
  }
}

@media only screen and (max-width: 999px) {
  .top-nav {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .top-nav a {
    display: inline-flex;
  }
}

@media (hover: hover) {
  .top-nav a:first-child:hover {
    background: none;
  }

  .top-nav .right-item-wrapper .contact:hover {
    @include util.default-border-radius;

    transition: 0.3s ease-in-out;

    color: white;
    background-color: var(--theme-color);
  }

  .bottom-nav a:hover {
    background: var(--hover);
  }

  .bottom-nav .right-item-wrapper .contact:hover {
    color: white;
    background: var(--theme-color);
  }
}
