<nav class="top-nav rounded-box">
  <a class="brand" routerLink="{{URLS.root}}">
    <img [src]="brand.brandLogo" alt="logo" class="brand-logo" height="40"/>
    <h2>Open Template Hub</h2>
  </a>
  <div class="left-item-wrapper">
    <a>
      <app-dropdown-menu [options]="PRODUCT_LINES">
        <span>Products</span>
        <i aria-hidden="true" class="material-icons">expand_more</i>
      </app-dropdown-menu>
    </a>
    <a>
      <app-dropdown-menu [options]="SERVICES">
        <span>Services</span>
        <i aria-hidden="true" class="material-icons">expand_more</i>
      </app-dropdown-menu>
    </a>
    <a routerLink="{{URLS.pricing}}">
      <span>
          Pricing
      </span>
    </a>
  </div>
  <a class="demo" routerLink="{{URLS.maintenance}}">
    <span>
        Request for Demo
    </span>
  </a>
  <a class="contact-us" routerLink="{{URLS.maintenance}}">
    <span>
        Contact Us
    </span>
  </a>
</nav>
<div [class.landing-layout-top-nav-loading]="loading">
</div>
