.top-nav {
  height: 50px;
  padding: 20px 80px;
  display: flex;
  box-shadow: 5px 0 10px var(--shadow);
  background-color: var(--background-color-alpha);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.top-nav a {
  border-radius: 3px;
  padding: 10px 17px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}

.brand {
  margin-right: 10px;
}

.top-nav .demo {
  color: var(--brand-color);
  border-radius: 0;
  border-bottom: var(--brand-color) 1px solid;
  margin-right: 20px;
}

.top-nav .demo:hover {
  color: white;
  border-radius: 3px;
  background: var(--brand-color);
}

.top-nav .contact-us {
  background-color: var(--contrast);
}

.top-nav .brand > * {
  margin: 0.2em;
}

app-dropdown-menu i {
  font-size: 22px;
  margin: 0.2em 0.2em 0.2em 0;
}

.top-nav .left-item-wrapper {
  margin-right: auto;
}

@media only screen and (max-width: 999px) {
  .top-nav {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .top-nav a {
    display: inline-flex;
  }
}

@media only screen and (max-width: 1299px) {
  .top-nav {
    padding: 20px 40px;
  }
}

@media (hover: hover) {

  .top-nav a:first-child:hover {
    background: none;
  }

  .bottom-nav a:hover {
    background: var(--hover);
  }

  .bottom-nav .demo:hover {
    color: white;
    background: var(--brand-color);
  }
}
