<div [class.footer-hide-shadow]="hideShadow" [class.footer-popup-padding]="popupPadding" class="footer">
  <div class="footer-links">
    <div class="footer-link-column">
      <p>Products</p>
      <div *ngFor="let productLine of PRODUCT_LINES" class="footer-link-group">
        <p *ngIf="productLine.name"
           [class]="productLine.color ? productLine.color + '-theme' : ''">{{ productLine.name }}</p>
        <a *ngFor="let product of productLine.products; last as isLast; first as isFirst"
           [class]="productLine.color ? productLine.color + '-theme' : ''"
           [routerLink]="URLS.product + '/' + productLine.key + '/' + product.key"
           class="footer-link-item">
          {{ product.name }}
        </a>
      </div>
    </div>
    <div class="footer-link-column double">
      <div class="footer-link-inner-column">
        <div *ngFor="let productLine of SERVICES" class="footer-link-group">
          <p *ngIf="productLine.name"
             [class]="productLine.color ? productLine.color + '-theme' : ''">{{ productLine.name }}</p>
          <a *ngFor="let product of productLine.products; last as isLast; first as isFirst"
             [class]="productLine.color ? productLine.color + '-theme' : ''"
             [routerLink]="URLS.product + '/' + productLine.key + '/' + product.key"
             class="footer-link-item">
            {{ product.name }}
          </a>
        </div>
        <div class="footer-link-group">
          <p>Company</p>
          <a [routerLink]="URLS.about" class="footer-link-item">
            About
          </a>
          <a [routerLink]="URLS.maintenance" class="footer-link-item">
            Customers
          </a>
          <a [routerLink]="URLS.maintenance" class="footer-link-item">
            Enterprise
          </a>
          <a [routerLink]="URLS.maintenance" class="footer-link-item">
            Partners
          </a>
          <a [routerLink]="URLS.maintenance" class="footer-link-item">
            Branding
          </a>
          <a [routerLink]="URLS.maintenance" class="footer-link-item">
            Jobs
          </a>
          <a [routerLink]="URLS.maintenance" class="footer-link-item">
            Blog
          </a>
        </div>
      </div>
      <div class="footer-link-inner-column">
        <div class="footer-link-group">
          <p>Developers</p>
          <app-ext-link [href]="environmentCommon.website.github.url + '/' + environmentCommon.oth.social.github"
                        [linkClass]="'link'">
          <span body>
            Open Source
          </span>
          </app-ext-link>
          <a [routerLink]="URLS.maintenance" class="footer-link-item">
            Docs
          </a>
          <a [routerLink]="URLS.maintenance" class="footer-link-item">
            API
          </a>
          <a [routerLink]="URLS.status" class="footer-link-item">
            Status
          </a>
        </div>
        <div class="footer-link-group">
          <p>Resources</p>
          <a [routerLink]="URLS.maintenance" class="footer-link-item">
            Support
          </a>
          <a [routerLink]="URLS.contactUs" class="footer-link-item">
            Contact
          </a>
          <a [routerLink]="URLS.terms" class="footer-link-item">
            Terms & Conditions
          </a>
          <a [routerLink]="URLS.privacyPolicy" class="footer-link-item">
            Privacy
          </a>
          <a [routerLink]="URLS.cookiePolicy" class="footer-link-item">
            Cookies
          </a>
          <a [routerLink]="URLS.maintenance" class="footer-link-item">
            Sitemap
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-hr-row">
    <hr/>
  </div>
  <div class="footer-brand-row">
    <a class="brand" routerLink="{{URLS.root}}">
      <img [src]="brand.brandLogo" alt="logo" class="brand-logo" height="40"/>
      <h2>Open Template Hub <span class="copyright">&#169; 2021</span></h2>
    </a>
    <div class="footer-social">
      <app-ext-link
          [href]="environmentCommon.website.twitter.url + '/' + environmentCommon.oth.social.twitter">
        <i [class]="'fab fa-' + environmentCommon.website.twitter.cssClass + ' fa-2x fa-fw'" aria-hidden="true" body>
        </i>
      </app-ext-link>
      <app-ext-link
          [href]="environmentCommon.website.github.url + '/' + environmentCommon.oth.social.github">
        <i [class]="'fab fa-' + environmentCommon.website.github.cssClass + ' fa-2x fa-fw'" aria-hidden="true" body>
        </i>
      </app-ext-link>
      <app-ext-link
          [href]="environmentCommon.website.productHunt.url + '/' + environmentCommon.oth.social.productHunt">
        <i [class]="'fab fa-' + environmentCommon.website.productHunt.cssClass + ' fa-2x fa-fw'" aria-hidden="true"
           body>
        </i>
      </app-ext-link>
      <app-ext-link
          [href]="environmentCommon.website.linkedin.companyUrl + '/' + environmentCommon.oth.social.linkedin">
        <i [class]="'fab fa-' + environmentCommon.website.linkedin.cssClass + ' fa-2x fa-fw'" aria-hidden="true" body>
        </i>
      </app-ext-link>
    </div>
    <div
        class="footer-version">{{' v-' + appVersion + ( environment.identity !== 'production' ? '-' + environment.identity : '' )}}</div>
  </div>
</div>
