@mixin card-header-width-sm {
  max-width: 92%;
  min-width: 92%;
  width: 92%;
}

@media only screen and (min-width: 1000px) {
  app-event-card {
    margin: {
      left: 20px;
      right: 20px;
    }
  }
}
