.product-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 35px;
}

.features {
  display: flex;
  flex-direction: column;
  position: relative;
}

.register-button {
  margin-top: 8px;
  border: none;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  color: var(--card);
  background-color: var(--darker);
  cursor: pointer;
  transition: 0.2s ease;
  vertical-align: text-bottom;
  height: 35px;
}

.product-name {
  font-size: 1em;
  color: var(--color);
  background: var(--card);
  margin-top: -20px;
  border-top-right-radius: 122px;
  border-top-left-radius: 96px;
  border-bottom-left-radius: 925px;
  font-weight: 700;
  padding: 20px;
}

.product-description {
  font-size: 0.5em;
  color: var(--darker);
  font-weight: 500;
}

.register-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register-wrapper input {
  border: 1px solid var(--shadow);
  transition: border-color 400ms ease-out;
  font-size: 14px;
  font-weight: 500;
  background: var(--card);
}

.register-wrapper input::placeholder {
  color: var(--lighter-contrast);
}

.register-wrapper input:focus {
  border: 1px solid var(--lighter);
}

.counters {
  display: flex;
  border-top: 1px solid var(--theme-color-lighter-5);
}

.demonstration {
  max-width: 100%;
}

.counters a {
  letter-spacing: 0.04em;
}

.counter-wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  color: var(--theme-color-lighter-2);
  font-weight: 500;
}

.counter-wrapper h6 {
  width: auto;
  margin: 5px 10px 0;
  padding-bottom: 9px;
  font-size: 0.55em;
  color: var(--lighter-contrast);
}

.counter-wrapper h4 {
  font-weight: bold;
}

.product-page .product-content {
  display: flex;
  align-items: center;
}

.product-content-left {
  background: var(--shadow-lighter);
  height: 360px;
  border-top-left-radius: 95px;
  border-bottom-right-radius: 225px;
  border-bottom-left-radius: 2px;
}

.product-content-right {
  align-items: center;
  justify-content: center;
}

.card-area {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

app-swiper-wrapper {
  height: 200px;
}

app-price-plan {
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width: 999px) {
  .product-page {
    font-size: 32px;
  }

  .product-description {
    padding: 40px 15px;
  }

  .register-wrapper {
    margin-top: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .register-wrapper input {
    width: 100%;
  }

  .register-wrapper a i {
    font-size: 1.2em;
  }

  .register-wrapper > * {
    max-width: 90%;
  }

  .counters {
    width: 90%;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .counter-wrapper {
    height: 50px;
  }

  .product-line-header {
    padding-bottom: 20px;
    text-align: center;
  }

  .product-page .product-content {
    padding-top: 50px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .product-content-left {
    border-bottom-right-radius: 125px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    width: 94%;
  }

  .product-content-right {
    width: 94%;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1000px) {
  .product-page {
    font-size: 35px;
  }

  .product-line-header {
    padding-bottom: 40px;
  }

  .product-description {
    padding: 45px 40px;
  }

  .register-wrapper a {
    font-size: 0.5em;
  }

  .register-wrapper a i {
    font-size: 1em;
  }

  .counters {
    padding-top: 10px;
    padding-bottom: 160px;
    width: 90%;
    margin-top: 50px;
  }

  app-testimonial-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-content-left {
    width: 45%;
    min-height: 450px;
  }

  .product-content-right {
    width: 40%;
  }

  .register-wrapper > * {
    max-width: 50%;
  }

  .counters a:not(:first-child) {
    padding-left: 9vw;
  }

  .counter-wrapper {
    flex-direction: column;
    text-align: left;
    align-items: initial;
  }

  .counters a {
    font-size: 0.7em;
  }

  .counter-wrapper h6 {
    margin: 5px 0 0;
  }

  .product-page .product-content {
    padding-top: 50px;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
  }
}

@media (hover: hover) {
  .register-wrapper a:hover {
    box-shadow: 0 3px 15px 1px var(--shadow);
  }
}
