@use '../landing-layout.component';
@use '../../../component/card/card.component';
@use '../../../../styles/util/util';

.form-page-layout {
  & .body {
    @include card.default-body;

    flex-wrap: wrap;
    align-items: flex-start;
    padding: 50px 0;

    & .column {
      & .title {

        & p {
          box-sizing: border-box;
          color: var(--darker);
          font-weight: bold;
          border-bottom: 1px solid var(--theme-color);
        }
      }

      & .link-group {
        @include util.flex-layout-column;

        & .link-item {
          padding-bottom: 1px;
        }
      }

      & .link-inner-column {
        width: 170px;
      }
    }
  }
}


@media only screen and (max-width: 999px) {

  .form-page-layout {
    & .body {
      @include util.flex-center-center;

      width: 94vw;

      & .column {
        @include util.flex-center-center;

        & .title {
          width: 100%;

          & p {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 48px;
          }
        }

        & .link-group {
          @include util.flex-center-center;

          & .link-item {
            height: 48px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            min-height: 48px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1000px) {

  .form-page-layout {
    & .body {
      width: 600px;

      flex-direction: row;
      justify-content: space-evenly;

      & .column {
        width: 40%;

        & .title, & .link-item {
          margin: 0 0 20px;
        }
      }
    }
  }
}

@media (hover: hover) {

  .link-item {
    &:hover {
      background: none;
      color: var(--theme-color);
    }
  }
}
