<app-card [headerTemplate]="headerTemplate" [bodyTemplate]="bodyTemplate" [footerTemplate]="footerTemplate" class="policy-card">
  <!-- Header -->
  <ng-template #headerTemplate>
    <ng-container *ngTemplateOutlet="policyHeader || defaultPolicyHeader">
      <!-- Header of the card -->
    </ng-container>
    <ng-template #defaultPolicyHeader>
      <div class="header" *ngIf="defaultHeaderContent">
        {{ defaultHeaderContent }}
      </div>
    </ng-template>
  </ng-template>

  <!-- Body -->
  <ng-template #bodyTemplate>
    <div class="body">
      <ng-container *ngTemplateOutlet="policyBody || defaultPolicyBody">
        <!-- Body of the card -->
      </ng-container>
      <ng-template #defaultPolicyBody>
        <div class="body" *ngIf="defaultBodyContent">
          {{ defaultBodyContent }}
        </div>
      </ng-template>
    </div>
  </ng-template>

  <!-- Footer -->
  <ng-template #footerTemplate>
    <div class="footer">
      <img alt="logo" class="brand-logo" src="./assets/logo/brand-logo.png">
      <small>Open Template Hub <span class="copyright">© 2021</span></small>
    </div>
  </ng-template>
</app-card>
