<button [class.always-dark]="alwaysDark" [class.always-light]="alwaysLight" [class.attendee]="isAttendee"
        [class.contribute]="isContribute" [class.fixed-width]="fixedWidth"
        [class.hover-with-color]="hoverWithColor" [class.lighter-contrast]="lighterContrast"
        [class.mobile-view]="mobileView" [class.relative-to-parent]="relativeToParent" [class.selected]="selected"
        [class.sleek-button]="isSleekButton" [class.small-button]="smallButton"
        [class.success]="success" [class.theme-color]="!transparent && themeColor"
        [class.theme-light-color]="themeLightColor"
        [class.transparent-theme-color]="transparent && themeColor"
        [class.transparent]="transparent"
        [class]="classType" [disabled]="loading || disabled" [ngClass]="themeColor + '-theme' + ' ' + brandIcon ? brandIcon : ''"
        [style.cursor]="cursor"
        class="button1">
  <i *ngIf="icon" [class]="'fas fa-' + icon + ' fa-lg fa-fw'" aria-hidden="true"></i>
  <i *ngIf="brandIcon" [class]="'fab fa-' + brandIcon + ' fa-lg fa-fw'" aria-hidden="true"></i>
  {{text}}
</button>
