@use '../../../styles/util/util';
@use '../../../styles/page/page';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 11;
}

.header-filler {
  height: 90px;
}

.form-page-layout {

  & app-card {
    & .body {
      box-sizing: border-box;
      padding: 25px;
      font-size: 17px;

      & app-social-button {
        margin: 8px;
      }
    }
  }
}

@media only screen and (max-width: 999px) {

  .header, .header-filler {
    display: none;
  }

  .raw-content-page-layout, .form-page-layout {
    padding: 0 3vw 50px;
    min-height: 80vh;
  }

  .form-page-layout {

    & app-card {
      & .body {
        width: 94vw;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {

  .header, .header-filler {
    display: block;
  }

  .raw-content-page-layout, .form-page-layout {
    padding: 0 90px 50px;
    min-height: 50vh;
  }

  .form-page-layout {

    & app-card {
      & .body {
        width: 400px;
      }
    }
  }
}
