@use '../../../styles/page/page';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 11;
}

.header-filler {
  height: 90px;
}

.policy-content a {
  color: var(--theme-color);
}

.landing-form-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-form-page app-social-button {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

@media only screen and (max-width: 999px) {

  .header, .header-filler {
    display: none;
  }

  .policy-content {
    padding: 18px;
  }

  .policy-content h5, .policy-content p {
    padding-bottom: 12px;
  }

  .landing-raw-content-page {
    padding: 60px 3vw;
  }

  .landing-form-page {
    padding-top: 10vh;
  }
}

@media only screen and (min-width: 1000px) {

  .header, .header-filler {
    display: block;
  }

  .policy-content {
    padding: 60px;
  }

  .policy-content h5, .policy-content p {
    padding-bottom: 20px;
  }

  .landing-raw-content-page {
    padding: 80px 90px 0;
  }

  .landing-form-page {
    padding-top: 165px;
  }
}
