<div class="color-chart">

  Less

  <svg width="10" height="10" class="d-inline-block">
    <rect width="10" height="10" style="fill: var(--theme-color-lighter-4)"></rect>
  </svg>
  <svg width="10" height="10" class="d-inline-block">
    <rect width="10" height="10" style="fill: var(--theme-color-lighter-3)"></rect>
  </svg>
  <svg width="10" height="10" class="d-inline-block">
    <rect width="10" height="10" style="fill: var(--theme-color-lighter-2)"></rect>
  </svg>
  <svg width="10" height="10" class="d-inline-block">
    <rect width="10" height="10" style="fill: var(--theme-color-lighter-1)"></rect>
  </svg>
  <svg width="10" height="10" class="d-inline-block">
    <rect width="10" height="10" style="fill: var(--theme-color)"></rect>
  </svg>

  More

</div>
