@import "../../../../styles/theme/themes";

.donation-accounts app-social-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interest-list app-label-with-icon-data {
  margin: 5px;
  min-width: -webkit-fit-content;
  display: flex;
  align-items: center;
}

.interest-list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  flex-wrap: wrap;
}

.follower-following-count-area {
  display: flex;
  margin-top: 0.7em;
  margin-left: 0.4em;
  font-weight: 300;
  color: var(--color);
  flex-wrap: wrap;
}

.follower-count-area, .following-count-area {
  margin-right: 20px;
}

.follower-count, .following-count, .event-count {
  font-style: normal;
  color: var(--brand-color);
}

.dashboard-page-events {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.rate-badge-wrapper {
  position: absolute;
  top: 45px;
  left: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rate-badge-wrapper label {
  font-size: 1.5em;
}

.rate-wrapper {
  display: flex;
  margin-right: 30px;
}

@media only screen and (min-width: 1300px) {
  app-card1 .content-column-wrapper {
    display: flex;
    flex-direction: row;
  }

  app-card1 .column-second {
    display: flex;
    flex-direction: column;
    max-width: 40%;
  }
}

@media only screen and (min-width: 1000px) {
  .dashboard-page {
    display: block;
    align-items: center;
    padding-top: 110px;
  }

  .dashboard-page app-card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  app-card1 .column-first {
    display: flex;
    flex-direction: column;
  }

  app-card1 .img-wrapper {
    padding-bottom: 0.5em;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
    margin-left: 1.1em;
    overflow-x: auto;
    text-align: left;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-start;
    align-items: center;
  }

  app-card1 .column-first, app-card1 .column-second {
    width: -webkit-fill-available;
  }

  .donation-accounts app-social-button {
    width: 16vw;
  }

  .interest-list {
    flex-direction: row;
    place-content: center flex-start;
    align-items: center;
  }
}

@media only screen and (max-width: 1299px) {
  .donation-accounts app-social-button {
    width: 100%;
    max-width: 400px;
  }
}

@media only screen and (max-width: 999px) {
  .dashboard-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 85px;
  }

  .dashboard-page app-card1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  app-card1 .img-wrapper {
    margin-bottom: 1.5em;
    margin-top: 0.5em;
    overflow-x: auto;
    text-align: center;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
  }

  .donation-accounts app-social-button {
    width: 100%;
    max-width: 400px;
  }

  .interest-list {
    flex-direction: column;
    place-content: flex-start;
  }

  .rate-badge-wrapper label {
    font-size: 1.4em;
  }

  .rate-badge-wrapper {
    left: 0;
    width: 100%;
    display: block;
  }

  .column-first.with-rate {
    margin-top: 30px;
  }

  .badge-area {
    padding-top: 5px;
    margin-left: initial;
    text-align: center;
  }

  /*
  .rate-wrapper {
    width: -webkit-fit-content;
    margin-left: auto;
    margin-right: auto;
  }*/
}
