:root {

  --brand-color-blue-theme: #4098d6;
  --brand-color-default-theme: var(--brand-color-blue-theme);

  --brand-color-blue-theme-lighter-1: #57abd8;
  --brand-color-blue-theme-lighter-2: #67b7da;
  --brand-color-blue-theme-lighter-3: #78c1dc;
  --brand-color-blue-theme-lighter-4: #84c2dc;
  --brand-color-blue-theme-lighter-5: #8cbedd;
  --brand-color-blue-theme-lighter-6: #acd5e6;
  --brand-color-blue-theme-lighter-7: #bedfeb;
  --brand-color-blue-theme-lighter-8: #d9eef3;
  --brand-color-blue-theme-lighter-9: #f0f8fa;

  --brand-color-blue-theme-darker-1: #4a9fc4;
  --brand-color-blue-theme-darker-2: #498db2;
  --brand-color-blue-theme-darker-3: #4a7895;
  --brand-color-blue-theme-darker-4: #4a7785;
  --brand-color-blue-theme-darker-5: #415867;
  --brand-color-blue-theme-darker-6: #475a64;
  --brand-color-blue-theme-darker-7: #445058;
  --brand-color-blue-theme-darker-8: #41484d;
  --brand-color-blue-theme-darker-9: #404142;

  --brand-blue-theme-background: #1e7aab;

  --hover-blue-theme-lighter: rgba(64, 152, 214, 0.3);
  --hover-blue-theme-darker: rgba(27, 67, 88, 0.6);
}

:root .blue-theme, .light-theme.blue-theme {

  --brand-color: var(--brand-color-blue-theme);

  --brand-color-lighter-1: var(--brand-color-blue-theme-lighter-1);
  --brand-color-lighter-2: var(--brand-color-blue-theme-lighter-2);
  --brand-color-lighter-3: var(--brand-color-blue-theme-lighter-3);
  --brand-color-lighter-4: var(--brand-color-blue-theme-lighter-4);
  --brand-color-lighter-5: var(--brand-color-blue-theme-lighter-5);
  --brand-color-lighter-6: var(--brand-color-blue-theme-lighter-6);
  --brand-color-lighter-7: var(--brand-color-blue-theme-lighter-7);
  --brand-color-lighter-8: var(--brand-color-blue-theme-lighter-8);
  --brand-color-lighter-9: var(--brand-color-blue-theme-lighter-9);

  --brand-color-darker-1: var(--brand-color-blue-theme-darker-1);
  --brand-color-darker-2: var(--brand-color-blue-theme-darker-2);
  --brand-color-darker-3: var(--brand-color-blue-theme-darker-3);
  --brand-color-darker-4: var(--brand-color-blue-theme-darker-4);
  --brand-color-darker-5: var(--brand-color-blue-theme-darker-5);
  --brand-color-darker-6: var(--brand-color-blue-theme-darker-6);
  --brand-color-darker-7: var(--brand-color-blue-theme-darker-7);
  --brand-color-darker-8: var(--brand-color-blue-theme-darker-8);
  --brand-color-darker-9: var(--brand-color-blue-theme-darker-9);

  --hover: var(--hover-blue-theme-lighter);
}

@mixin blue-theme-dark-mode {
  --brand-color-lighter-1: var(--brand-color-blue-theme-darker-1);
  --brand-color-lighter-2: var(--brand-color-blue-theme-darker-2);
  --brand-color-lighter-3: var(--brand-color-blue-theme-darker-3);
  --brand-color-lighter-4: var(--brand-color-blue-theme-darker-4);
  --brand-color-lighter-5: var(--brand-color-blue-theme-darker-5);
  --brand-color-lighter-6: var(--brand-color-blue-theme-darker-6);
  --brand-color-lighter-7: var(--brand-color-blue-theme-darker-7);
  --brand-color-lighter-8: var(--brand-color-blue-theme-darker-8);
  --brand-color-lighter-9: var(--brand-color-blue-theme-darker-9);

  --brand-color-darker-1: var(--brand-color-blue-theme-lighter-1);
  --brand-color-darker-2: var(--brand-color-blue-theme-lighter-2);
  --brand-color-darker-3: var(--brand-color-blue-theme-lighter-3);
  --brand-color-darker-4: var(--brand-color-blue-theme-lighter-4);
  --brand-color-darker-5: var(--brand-color-blue-theme-lighter-5);
  --brand-color-darker-6: var(--brand-color-blue-theme-lighter-6);
  --brand-color-darker-7: var(--brand-color-blue-theme-lighter-7);
  --brand-color-darker-8: var(--brand-color-blue-theme-lighter-8);
  --brand-color-darker-9: var(--brand-color-blue-theme-lighter-9);

  --hover: var(--hover-blue-theme-darker);
}

.dark-theme.blue-theme {
  @include blue-theme-dark-mode
}

@media (prefers-color-scheme: dark) {
  :root .blue-theme {
    @include blue-theme-dark-mode
  }
}
