<ng-container *ngIf="product">
  <div class="product-presentation">
    <ng-container [ngSwitch]="productLineKey">
      <ng-container *ngSwitchCase="'services'" [ngSwitch]="product.key">
        <app-card
            [bodyTemplate]="bodyTemplate" [cardClass]="'transparent-card'" class="features-card">
          <ng-template #bodyTemplate>
            <div class="body">
              <p class="title">Why Open Template Hub?</p>
              <ng-container *ngFor="let feature of product.features">
                <p class="feature-title">{{ feature.name }}</p>

                <div *ngFor="let detail of feature.details">
                  <h6>{{ detail.name + ': ' + detail.description}}</h6>
                </div>
              </ng-container>
            </div>
          </ng-template>
        </app-card>
      </ng-container>
      <ng-container *ngSwitchDefault [ngSwitch]="product.key">
        <app-card
            *ngSwitchCase="['auth-server-template', 'payment-server-template', 'file-storage-server-template'].includes(product.key) ? product.key : ''"
            [bodyTemplate]="bodyTemplate" [cardClass]="'transparent-card'" [footerTemplate]="footerTemplate"
            class="presentation-card">
          <ng-template #bodyTemplate>
            <div class="body">
              <div class="social-login-wrapper">
                <img [src]="BRAND.logo.main" alt="logo" class="brand-logo" width="80"/>
                <i aria-hidden="true" class="fa fa-check-circle"></i>
                <app-presentation-swiper
                    [items]="setPresentation()"></app-presentation-swiper>
              </div>
              <p class="feature-title">{{ presentationText }}</p>
            </div>
          </ng-template>
          <ng-template #footerTemplate>
            <div class="footer theme-color-lighter-3-border">
              <p>Some of the preconfigured systems:</p>
              <p>
                <span *ngFor="let partner of presentationPartners; last as isLast">
                  {{ partner.name + ( !isLast ? ',' : '' ) + ' ' | titlecase }}
                </span>
              </p>
            </div>
          </ng-template>
        </app-card>
        <app-animated-code-editor
            *ngSwitchCase="['server-generator', 'app-generator'].includes(product.key) ? product.key : ''"
            [commandLines]="product.commandLines">
        </app-animated-code-editor>
        <app-card *ngSwitchDefault
                  [bodyTemplate]="bodyTemplate" [cardClass]="'transparent-card'" class="features-card">
          <ng-template #bodyTemplate>
            <div class="body">
              <p class="title">Why Open Template Hub?</p>
              <ng-container *ngFor="let feature of product.features">
                <p class="feature-title">{{ feature.name }}</p>

                <div *ngFor="let detail of feature.details">
                  <h6>{{ detail.name + ': ' + detail.description}}</h6>
                </div>
              </ng-container>
            </div>
          </ng-template>
        </app-card>

      </ng-container>
    </ng-container>
  </div>
</ng-container>
