@use '../../../styles/util/util';
@use '../../component/card/card.component';

.product-presentation {
  @include util.flex-layout-row;
  @include util.flex-center-center;

  width: 100%;
  height: 100%;

  & > * {
    max-width: 94%;
  }

  & .body {
    @include card.default-body;
    @include util.flex-layout-column;
    @include util.flex-center-center;

    padding: 41px;

    width: 100%;
  }

  & .presentation-card, & .features-card {
    @include util.default-shadow;

    background-color: var(--shadow-lighter);
    border-radius: 5px;

    & .title, & .feature-title {
      font-size: 19px;
      margin: 15px 0;
    }
  }

  & .presentation-card {
    margin-top: 74px;
  }

  & .features-card {
    text-align: left;

    & .title, & .feature-title {
      font-weight: 500;

      &:first-child {
        margin-top: 10px;
      }
    }
  }

  & .footer {
    @include card.default-footer;
    @include util.flex-layout-column;

    padding: 20px 50px;
    font-size: 18px;

    & span {
      font-weight: 300;
      color: var(--theme-color-lighter-1);
    }
  }

  & img {
    max-height: 400px;
    max-width: 100%;
  }

  & app-animated-code-editor, app-card1 {
    width: 100%;
  }
}

.social-login-wrapper {
  padding-bottom: 23px;
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  & .brand-logo {
    margin: 0 auto;
  }

  & i {
    color: var(--success);
  }
}

.social-login-wrapper app-swiper-wrapper {
  height: 100px;
  width: 100px;
}

@media only screen and (max-width: 999px) {
  .product-presentation {

    & .presentation-card, & .features-card {
      margin-top: 0;
    }

    & img {
      max-width: 94%;
    }
  }
}

