<div class="raw-content-page-layout">
  <!-- Cookie blog -->
  <app-hero [contents]="[{text: 'Blog', level: 1}]"></app-hero>
  <app-blog-card [blogBody]="body">
    <!-- Body -->
    <ng-template #body>
      <div class="blog-content">
        <p><strong>What Is Open Template Hub</strong></p>
        <p>
          This article contains a guidance about all aspects of Open Template Hub.
        </p>
        <p>
          <strong>
            What is Open Template Hub?
          </strong>
        </p>
        <p>
          Open Template Hub is an Open Source Organization aims minimizing effort while building a new Software
          Business.
        </p>
        <p>
          <strong> What does Open Template Hub provide to community?
          </strong>
        </p>
        <p>
          We, as Open Template Hub Contributors, keep developing new functionalities and capabilities every day as Open
          Source. You can create your microservices, you can create your mobile and web applications which are
          integrated with those microservices, that means you can create your own business through Open Template Hub
          extremely fast.
        </p>
        <p>
          Let's assume you have a new software business idea. Once you start implementation, you will need several
          common capabilities like Authentication, Payment, File Storage, Analytics, Basic Info Management and in the
          end, you will need a Web and Mobile GUI which are integrated with those capabilities, each and every time you
          have a new idea. Open Template Hub gives you that power to create your own business and make it alive just in
          a couple of minutes!
        </p>
        <p>
          <strong> You can create your microservices using Server Generator:
          </strong>
        </p>
        <p>
          Server Generator provides you the capability to generate 5 common-type microservices just with one command.
        </p>
        <p>
          These are the service types you are able to generate for now:
        </p>
        <p>
          Payment Server to get payment via Stripe, CoinBase and Paypal providers
        </p>
        <p>
          Business Logic Server to manage your basic info operations
        </p>
        <p>
          Authentication Server to manage authentications with supporting OAuth1 and OAuth2 flows (Social Logins with
          Facebook, Twitter, Github, etc..)
        </p>
        <p>
          File Storage Server to store your files with S3 provider
        </p>
        <p>
          Analytics Server to store your analytics data
        </p>
        <p>
          You can easily generate these servers and you can deploy wherever you want; Heroku, GCP, Azure, AWS and so on.
          You will have also prepared Github Actions for many CI/CD ops once you deploy your repository to Github,
          Postman suites for TDD and attached to automated runs on Github Actions as well, stress tests and a lot of
          DevOps stuff are covered in these templates.
        </p>
        <p>
          <strong> You can create your application interfaces using Application Generator:
          </strong>
        </p>
        <p>
          Application Generator provides you the capability to generate 2 common-type application GUI just with a single
          command. These are the application types you are able to generate for now:
        </p>
        <p>
          Web Application designed using Angular and integrated with all microservices above
        </p>
        <p>
          Mobile Application designed using React Native and integrated with all microservices above
        </p>
        <p>
          You will have lots of components, screens and API calls are covered for authentication, payment, file storage,
          analytics, basic user profiles and controllers integrated with services endpoints.
        </p>
        <p>
          <strong> So, what's next?
          </strong>
        </p>
        <p>
          We have so many plans to keep enhancing our functionalities, services and increasing external provider
          support. Implementing stream server for meetings and chat supporting significant providers like Zoom and
          Google, implementing MQ flow for all our servers, more components for user interfaces with enhancing UX,
          automated CI flows for builds and tests, automated deployment scripts using Terraform/Terragrunt or using some
          other proper tech to decrease build time of your business from minutes to seconds and so on..
        </p>
        <p>
          <strong> Last Words..
          </strong>
        </p>
        <p>
          We have thousands of downloads / usages for our generators, packages, libraries and templates. However, we
          still do not see any external contribution on our repositories. We created this plan as 2 people in the
          beginning and we are developing these capabilities on Github for 1 year as 2 people while we are also running
          our regular jobs and our own businesses..
        </p>
        <p>
          We both are spending like 10-15 hours for our regular jobs and businesses, daily. After that, we are working
          on development of Open Template Hub, we are giving our nights, even weekends. Whenever we implement a new
          functionality we are sharing it on LinkedIn. However, we do not have a single commit yet from any other person
          except two of us and we do not have any interaction on our posts when we announce something about Open
          Template Hub. We only see consumers and zero support. This insensitivity bothers us a lot. We believe we are
          doing a GOOD job here, but if we want to have a GREAT job, then everyone knows that it needs a community. You
          may not have time to contribute, you may not be a developer, or you may even not be interested in. We can
          totally understand this and it makes sense, of course. However, if you consume our repositories believing this
          is a good thing and if you have time to watch and like some "Cat" videos on Social Media, we believe that you
          can give your one precious second and click on any interaction button on the posts to have a role making it
          GREAT.

        </p>
        <p>
          Thank you so much for all of your support.
        </p>
        <p>
          If you have any question about Open Template Hub, please ask without hesitation.
        </p>
      </div>
    </ng-template>
  </app-blog-card>
</div>
