<app-dropdown-menu #dropdownMenuProducts [productLines]="PRODUCT_LINES">
</app-dropdown-menu>
<app-dropdown-menu #dropdownMenuServices [productLines]="SERVICES">
</app-dropdown-menu>
<nav class="bottom-nav">
  <a (click)="closeSettings(); dropdownMenuProducts.closeDropdown(); dropdownMenuServices.closeDropdown()"
     *ngIf="openSettings" href="javascript:void(0)">
    <i aria-hidden="true" class="material-icons">arrow_back_ios</i>
    <span>
        Back
    </span>
  </a>
  <a *ngIf="!openSettings" routerLink="{{ URLS.root }}">
    <i aria-hidden="true" [class]="'fas fa-home fa-fw'"></i>
    <span>
        Home
    </span>
  </a>
  <a *ngIf="!openSettings" (click)="dropdownMenuProducts.toggleDropdown(); dropdownMenuServices.closeDropdown()">
    <i aria-hidden="true" [class]="'fas fa-server fa-fw'"></i>
    <span>
        Products
    </span>
  </a>
  <a *ngIf="!openSettings" (click)="dropdownMenuServices.toggleDropdown(); dropdownMenuProducts.closeDropdown()">
    <i aria-hidden="true" [class]="'fas fa-handshake fa-fw'"></i>
    <span>
        Services
    </span>
  </a>
  <a (click)="openSettings = !openSettings; dropdownMenuProducts.closeDropdown(); dropdownMenuServices.closeDropdown()"
     *ngIf="!openSettings" href="javascript:void(0)">
    <i aria-hidden="true" class="material-icons">arrow_forward_ios</i>
    <span>
        More
    </span>
  </a>
  <a *ngIf="openSettings && !openOtherSettings" routerLink="{{ URLS.pricing }}"
     (click)="dropdownMenuProducts.closeDropdown(); dropdownMenuServices.closeDropdown()">
    <i aria-hidden="true" [class]="'fas fa-dollar-sign fa-fw'"></i>
    <span>
        Pricing
    </span>
  </a>
  <a class="demo" *ngIf="openSettings && !openOtherSettings" routerLink="{{ URLS.maintenance }}"
     (click)="dropdownMenuProducts.closeDropdown(); dropdownMenuServices.closeDropdown()">
    <i aria-hidden="true" [class]="'fas fa-laptop-code fa-fw'"></i>
    <span>
        Request for Demo
    </span>
  </a>
  <a *ngIf="openSettings && !openOtherSettings" routerLink="{{ URLS.maintenance }}"
     (click)="dropdownMenuProducts.closeDropdown(); dropdownMenuServices.closeDropdown()">
    <i aria-hidden="true" [class]="'fas fa-address-card fa-fw'"></i>
    <span>
        Contact Us
    </span>
  </a>
</nav>
