<swiper
    [autoplay]="{
      delay: 2500,
      disableOnInteraction: false
    }"
    [breakpoints]="{
      '640': {
        slidesPerView: 1,
        spaceBetween: 30
      },
      '768': {
        slidesPerView: 2,
        spaceBetween: 40
      },
      '1000': {
        slidesPerView: 3,
        spaceBetween: 50
      }
    }"
    [loopFillGroupWithBlank]="true"
    [loop]="true"
    [navigation]="true"
    [pagination]="{
      clickable: true
    }"
    [slidesPerView]="1"
    [spaceBetween]="10"
    class="mySwiper">
  <ng-template *ngFor="let partner of partners" swiperSlide>
    <img [src]="partner.brandLogo" alt="logo" class="brand-logo" height="90"/>
  </ng-template>
</swiper>
