<swiper
  [slidesPerView]="1"
  [spaceBetween]="10"
  [loop]="true"
  [loopFillGroupWithBlank]="true"
  [pagination]="{
      clickable: true
    }"
  [navigation]="true"
  [breakpoints]="{
      '640': {
        slidesPerView: 1,
        spaceBetween: 30
      },
      '768': {
        slidesPerView: 2,
        spaceBetween: 40
      },
      '1024': {
        slidesPerView: 3,
        spaceBetween: 50
      }
    }"
  class="mySwiper"
>
  <ng-template *ngFor="let partner of partners" swiperSlide>
    <img [src]="partner.brandLogo" alt="logo" class="brand-logo" height="50"/>
  </ng-template>
</swiper>
