@import "~swiper/swiper-bundle.min.css";

app-swiper-wrapper {
  width: 65%;
  margin: 0 auto;
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
  position: initial;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  filter: contrast(0);
}

.swiper-button-prev {
  left: -40px;
}

.swiper-button-next {
  right: -40px;
}

.swiper-button-next, .swiper-button-prev {
  color: var(--contrast);
}

.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 20px;
}

.swiper-pagination-bullet-active {
  background: var(--brand-color);
}

/*
@media only screen and (max-width: 999px) {
  .swiper-button-next::after, .swiper-button-prev::after {
    display: none;
  }
}*/
