<div class="landing-form-page">
  <app-card1 *ngIf="!success" [isSmall]="true" [title]="'Reset password'">
    <form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm" body>
      <div class="section">

        <div [class.input-error]="submitted && f.password.invalid" class="input-with-icon">
          <input formControlName="password" placeholder="Password..." required type="password">
          <i area-hidden="true" class="fas fa-key fa-lg fa-fw"></i>
        </div>
        <div [class.input-error]="submitted && f.confirmPassword.invalid" class="input-with-icon">
          <input formControlName="confirmPassword" placeholder="Confirm Password..." required type="password">
          <i area-hidden="true" class="fas fa-lock fa-lg fa-fw"></i>
        </div>
      </div>
      <div class="section-submit">
        <app-button1 [text]="'DONE'"></app-button1>
      </div>
    </form>
  </app-card1>
  <app-card1 *ngIf="success" [isSmall]="true" [title]="'Password updated'">
    <div body class="section">
      <h3>Please proceed with login</h3>
      <br/>
      <br/>
      <app-button1 (click)="router.navigate(['/login'])" [text]="'LOG IN'"></app-button1>
    </div>
  </app-card1>
</div>

