<div class="form-page-layout">
  <div class="hero">
    <div class="hero-content">
      <h2>Forget password</h2>
    </div>
    <app-card [body]="body">
      <!-- Body -->
      <ng-template #body>
        <div class="body" *ngIf="!success">
          <form (ngSubmit)="onSubmit()" [formGroup]="forgetPasswordForm">
            <div class="section">
              <div [class.error-input]="submitted && forgetPasswordForm.controls.username.invalid" class="input-with-icon">
                <input formControlName="username" placeholder="Username..." required type="text">
                <i aria-hidden="true" class="fas fa-user fa-lg fa-fw"></i>
              </div>
            </div>
            <div class="section-submit">
              <app-theme-button [buttonText]="'SEND'" [buttonClasses]="sendButtonClasses"></app-theme-button>
            </div>
          </form>
        </div>
        <div class="body" *ngIf="success">
          <div class="section">
            <h3>{{'Reset email sent!'}}</h3>
            <h3>{{'Please check you inbox'}}</h3>
            <br/>
            <br/>
            <app-theme-button (click)="router.navigate(['/login'])" [buttonText]="'LOG IN'"></app-theme-button>
          </div>
        </div>
      </ng-template>
    </app-card>
  </div>
</div>
