<div [class.footer-hide-shadow]="hideShadow" [class.footer-popup-padding]="popupPadding" class="footer">
  <div class="footer-links">
    <div class="footer-link-group">
      <p>Products</p>
      <div *ngFor="let productLine of PRODUCT_LINES" class="footer-link-sub-group">
        <p *ngIf="productLine.name" [class]="productLine.color ? productLine.color + '-theme' : ''">{{ productLine.name }}</p>
        <a class="footer-link-item" *ngFor="let product of productLine.products; last as isLast; first as isFirst"
           [queryParams]="{productLineName: productLine.key, productName: product.key}" [routerLink]="URLS.product"
           [class]="productLine.color ? productLine.color + '-theme' : ''">
          {{ product.name }}
        </a>
      </div>
    </div>
    <div class="footer-link-group">
      <div class="footer-link-sub-group">
        <p>Developers</p>
        <app-ext-link [href]="environmentCommon.website.github.url + '/' + environmentCommon.oth.social.github"
                      [linkClass]="'link'">
          <span body>
            Open Source
          </span>
        </app-ext-link>
        <a class="footer-link-item" [routerLink]="URLS.maintenance">
          Docs
        </a>
        <a class="footer-link-item" [routerLink]="URLS.maintenance">
          API
        </a>
        <a class="footer-link-item" [routerLink]="URLS.maintenance">
          Status
        </a>
      </div>
      <div class="footer-link-sub-group">
        <p>Company</p>
        <a class="footer-link-item" [routerLink]="URLS.aboutUs">
          About
        </a>
        <a class="footer-link-item" [routerLink]="URLS.maintenance">
          Customers
        </a>
        <a class="footer-link-item" [routerLink]="URLS.maintenance">
          Enterprise
        </a>
        <a class="footer-link-item" [routerLink]="URLS.maintenance">
          Partners
        </a>
        <a class="footer-link-item" [routerLink]="URLS.maintenance">
          Jobs
        </a>
        <a class="footer-link-item" [routerLink]="URLS.maintenance">
          Blog
        </a>
      </div>
    </div>
    <div class="footer-link-group">
      <div class="footer-link-sub-group">
        <p>Resources</p>
        <a class="footer-link-item" [routerLink]="URLS.maintenance">
          Support
        </a>
        <a class="footer-link-item" [routerLink]="URLS.contactUs">
          Contact
        </a>
        <a class="footer-link-item" [routerLink]="URLS.terms">
          Terms & Policies
        </a>
        <a class="footer-link-item" [routerLink]="URLS.cookiePolicy">
          Cookies
        </a>
        <a class="footer-link-item" [routerLink]="URLS.maintenance">
          Sitemap
        </a>
      </div>
    </div>
  </div>
  <div class="footer-hr-row">
    <hr/>
  </div>
  <div class="footer-brand-row">
    <a class="brand" routerLink="{{URLS.root}}">
      <img [src]="brand.brandLogo" alt="logo" class="brand-logo" height="40"/>
      <h2>Open Template Hub <span class="copyright">&#169; 2021</span></h2>
    </a>
    <div class="footer-social">
      <app-ext-link
          [href]="environmentCommon.website.twitter.url + '/' + environmentCommon.oth.social.twitter">
        <i [class]="'fab fa-' + environmentCommon.website.twitter.cssClass + ' fa-2x fa-fw'" aria-hidden="true" body>
        </i>
      </app-ext-link>
      <app-ext-link
          [href]="environmentCommon.website.github.url + '/' + environmentCommon.oth.social.github">
        <i [class]="'fab fa-' + environmentCommon.website.github.cssClass + ' fa-2x fa-fw'" aria-hidden="true" body>
        </i>
      </app-ext-link>
      <app-ext-link
          [href]="environmentCommon.website.productHunt.url + environmentCommon.oth.social.productHunt">
        <i [class]="'fab fa-' + environmentCommon.website.productHunt.cssClass + ' fa-2x fa-fw'" aria-hidden="true"
           body>
        </i>
      </app-ext-link>
      <app-ext-link
          [href]="environmentCommon.website.linkedin.url + '/company/' + environmentCommon.oth.social.linkedin">
        <i [class]="'fab fa-' + environmentCommon.website.linkedin.cssClass + ' fa-2x fa-fw'" aria-hidden="true" body>
        </i>
      </app-ext-link>
    </div>
    <div
        class="footer-version">{{' v-' + appVersion + ( environment.identity !== 'production' ? '-' + environment.identity : '' )}}</div>
  </div>
</div>
