<div [class.footer-hide-shadow]="hideShadow" [class.footer-popup-padding]="popupPadding" class="footer">
  <a class="footer-link-content" routerLink="{{URLS.aboutUs}}">
    <i aria-hidden="true" class="material-icons">business</i>
    <span>
        ABOUT US
    </span>
  </a>
  <a class="footer-link-content" routerLink="{{URLS.maintenance}}">
    <i aria-hidden="true" class="material-icons">chrome_reader_mode</i>
    <span>
        BLOG
    </span>
  </a>
  <a class="footer-link-content" routerLink="{{URLS.terms}}">
    <i aria-hidden="true" class="material-icons">policy</i>
    <span>
        TERMS & POLICIES
    </span>
  </a>
  <a [routerLink]="URLS.contactUs" class="footer-link-content">
    <i aria-hidden="true" class="material-icons">email</i>
    <span>
        CONTACT
    </span>
  </a>
  <a class="footer-link-content" routerLink="{{URLS.maintenance}}">
    <i aria-hidden="true" class="material-icons">work</i>
    <span>
        JOBS
    </span>
  </a>
  <app-ext-link [href]="environmentCommon.website.github.url + '/' + environmentCommon.oth.social.github"
                class="footer-link-content">
    <div body class="footer-link-content-inner">
      <i aria-hidden="true" class="material-icons">code</i>
      <span>
        OPEN SOURCE
    </span>
    </div>
  </app-ext-link>
  <div class="footer-hr-row">
    <hr/>
  </div>
  <div class="footer-brand-row">
    <a class="brand" routerLink="{{URLS.root}}">
      <img [src]="brand.brandLogo" alt="logo" class="brand-logo" height="40"/>
      <h2>Open Template Hub <span class="copyright">&#169; 2021</span></h2>
    </a>
    <div class="footer-social">
      <app-ext-link
          [href]="environmentCommon.website.twitter.url + '/' + environmentCommon.oth.social.twitter">
        <i [class]="'fab fa-' + environmentCommon.website.twitter.cssClass + ' fa-2x fa-fw'" aria-hidden="true" body>
        </i>
      </app-ext-link>
      <app-ext-link
          [href]="environmentCommon.website.github.url + '/' + environmentCommon.oth.social.github">
        <i [class]="'fab fa-' + environmentCommon.website.github.cssClass + ' fa-2x fa-fw'" aria-hidden="true" body>
        </i>
      </app-ext-link>
      <app-ext-link
          [href]="environmentCommon.website.productHunt.url + environmentCommon.oth.social.productHunt">
        <i [class]="'fab fa-' + environmentCommon.website.productHunt.cssClass + ' fa-2x fa-fw'" aria-hidden="true"
           body>
        </i>
      </app-ext-link>
      <app-ext-link
          [href]="environmentCommon.website.linkedin.url + '/company/' + environmentCommon.oth.social.linkedin">
        <i [class]="'fab fa-' + environmentCommon.website.linkedin.cssClass + ' fa-2x fa-fw'" aria-hidden="true" body>
        </i>
      </app-ext-link>
    </div>
    <div
        class="footer-version">{{' v-' + appVersion + ( environment.identity !== 'production' ? '-' + environment.identity : '' )}}</div>
  </div>
</div>
