<app-card [bodyTemplate]="bodyTemplate" class="contact-information-card">
  <!-- Body -->
  <ng-template #bodyTemplate>
    <div class="body">
      <div class="info-line">
        <p class="title"><i class="fas fa-phone" aria-hidden="true"></i></p>
        <a class="info" [href]="'tel:' + CONTACT_INFO.phone">{{
          CONTACT_INFO.phone
        }}</a>
      </div>
      <div class="info-line">
        <p class="title"><i class="fas fa-envelope" aria-hidden="true"></i></p>
        <a class="info" [href]="'mailto:' + CONTACT_INFO.email">{{
          CONTACT_INFO.email
        }}</a>
      </div>
      <div class="info-line">
        <p class="title">
          <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
        </p>
        <a
          class="info"
          [href]="CONTACT_INFO.map"
          target="_blank"
          >{{ CONTACT_INFO.address }}</a
        >
      </div>
      <div class="map">
        <iframe
          [src]="CONTACT_INFO.embedMapSource"
          title="Address Information"
          width="100%"
          height="150"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"></iframe>
      </div>
    </div>
  </ng-template>
</app-card>
