@use '../util/util';

.section, .section-submit {
  @include util.flex-layout-column;
  margin: {
    top: 1.5em;
  }
}

.section-submit {
  align-items: center;

  & hr {
    margin: {
      top: 10px;
      bottom: 10px;
    }

    border: {
      bottom: 0;
    }

    width: 100%;
  }

  & p {
    margin: {
      top: 7px;
    }
  }

  & > * {
    margin: 0.4em;
  }
}

.section-output {
  margin: 0.7rem 0.4em;
}

@mixin default-input-font-config {
  font: {
    size: 16px;
    weight: 300;
  }
}

textarea, input, select {
  @include default-input-font-config;

  color: var(--color);
  background: transparent;
  border: 0;
  width: 100%;

  border: {
    radius: 0;

    bottom: {
      width: 1px;
      style: solid;
      color: var(--lighter-contrast);
    };
  }

  box-sizing: border-box;

  transition: {
    property: border-bottom-color;
    duration: 400ms;
    timing-function: ease-out;
  };

  outline: none;
  padding: 8px;

  &::-webkit-input-placeholder {
    color: var(--lighter-contrast);
  }

  &:focus {
    border: {
      color: var(--color);

      bottom: {
        width: 2px;
      };
    }
  }
}

input[type=checkbox] {
  display: none;

  & + label {
    display: block;
    cursor: pointer;
    width: fit-content;

    &:before {
      content: "\2714";

      border: {
        radius: 3px;
        width: 2px;
        style: solid;
        color: var(--lighter-contrast);
      }

      display: inline-block;
      width: 1em;
      height: 1em;

      padding: {
        left: 0.2em;
        bottom: 0.2em;
      }

      margin: {
        right: 0.2em;
      }

      vertical-align: center;
      color: transparent;
      transition: 200ms;
    }
  }

  &:checked + label:before {
    color: var(--lighter-contrast);
    background-color: var(--color);
    border-color: var(--color);
  }
}

.input-with-icon, .input-checkbox, .input-with-label {
  width: 100%;
  position: relative;

  margin: {
    top: 0.5em;
    bottom: 0.5em;
  }
}

select {
  @include util.default-border-radius;
  padding-left: 18px;

  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  border: 1px solid var(--lighter-contrast);
  background: transparent url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat;
  background-position-x: 97%;
  background-position-y: 5px;
}

.input-with-icon, .input-with-label {
  @include util.flex-layout-row-reverse;
  justify-content: flex-start;
  align-items: center;

  & textarea {
    height: 57px;
    resize: none;

    &:focus + i {
      color: var(--color);
    }
  }

  &.with-svg input {
    height: 38px;
  }

  & input:focus {
    & + i {
      color: var(--color);
    }

    & + svg {
      fill: var(--color);
    }
  }

  & i, & img {
    padding: 11px 8px;
    color: var(--lighter-contrast);
    border-radius: 3px 0 0 3px;
    transition: 200ms;
  }

  & svg {
    fill: var(--lighter-contrast);
    border-radius: 3px 0 0 3px;
    transition: 200ms;
    width: 32px;
    height: 32px;

    margin: {
      left: 5px;
      right: 5px;
    }
  }
}

.input-checkbox-label {
  @include util.flex-layout-row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 7px;

  & span {
    height: 24px;
    width: 24px;
    box-sizing: border-box;
    box-shadow: 0 0 6px -1px inset var(--shadow);

    border: {
      radius: 3px;
      width: 1px;
      style: solid;
      color: var(--lighter-contrast);
    }
    margin-left: 1px;
    transition: 200ms;

    &:after {
      @include util.prefix(transform, rotate(45deg), webkit ms);

      content: "";
      position: absolute;
      display: none;
      left: 16px;
      top: 11px;
      width: 6px;
      height: 11px;
      border: solid var(--lighter-contrast);
      border-width: 0 2px 2px 0;
    }
  }

  & p {
    font-size: 16px;
    font-weight: 300;
    margin-left: 17px;
  }

  & input:checked ~ span {
    border-color: var(--color);
    background-color: var(--color);

    &:after {
      display: block;
    }
  }
}

.input-with-label {
  justify-content: space-between;
  white-space: nowrap;
}

@media (hover: hover) {
  form a:hover {
    background: none;
  }
}
