.led {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

@mixin set-led-color($information-type) {
  .led.#{$information-type} {
    background-color: var(--#{$information-type});
    box-shadow: var(--shadow-darker) 0 -1px 7px 1px, inset var(--#{$information-type}-darker) 0 -1px 9px, var(--#{$information-type}-lighter) 0 2px 12px;
  }
}

@include set-led-color("error");
@include set-led-color("warning");
@include set-led-color("success");
@include set-led-color("info");
