:root {
  --social: #898989;
  --twitter: #00aced;
  --google: #4286f5;
  --facebook: #1877f2;
  --linkedin: #2867b2;
  --vk: #4a76a8;
  --twitch: #8c45f6;
  --dribbble: #ea4c89;
  --reddit: #ff4500;
  --pinterest: #e60023;
  --yandex: #e61400;
  --github: #171515;
  --youtube: #e52d27;
  --buymeacoffee: #FF813F;
  --patreon: #F96854;

  --stripe: #4553ff;
  --coinbase: #1652f0;
  --paypal: #169BD7;
}
