:root {
  --theme-color-yellow-theme: #d6b140;
  --theme-color-default-theme: var(--theme-color-yellow-theme);

  --theme-color-yellow-theme-lighter-1: #d8b957;
  --theme-color-yellow-theme-lighter-2: #dabd67;
  --theme-color-yellow-theme-lighter-3: #dcc378;
  --theme-color-yellow-theme-lighter-4: #dcc784;
  --theme-color-yellow-theme-lighter-5: #ddc88c;
  --theme-color-yellow-theme-lighter-6: #e6d6ac;
  --theme-color-yellow-theme-lighter-7: #ebdfbe;
  --theme-color-yellow-theme-lighter-8: #f3ecd9;
  --theme-color-yellow-theme-lighter-9: #faf8f0;

  --theme-color-yellow-theme-darker-1: #c4a64a;
  --theme-color-yellow-theme-darker-2: #b29849;
  --theme-color-yellow-theme-darker-3: #95824a;
  --theme-color-yellow-theme-darker-4: #85754a;
  --theme-color-yellow-theme-darker-5: #675d41;
  --theme-color-yellow-theme-darker-6: #645e47;
  --theme-color-yellow-theme-darker-7: #585344;
  --theme-color-yellow-theme-darker-8: #4d4a41;
  --theme-color-yellow-theme-darker-9: #424240;

  --theme-yellow-theme-background: #ab881e;

  --hover-yellow-theme-lighter: rgba(214, 177, 64, 0.3);
  --hover-yellow-theme-darker: rgba(214, 177, 64, 0.3);
}

:root .yellow-theme, .light-theme.yellow-theme {

  --theme-color: var(--theme-color-yellow-theme);

  --theme-color-lighter-1: var(--theme-color-yellow-theme-lighter-1);
  --theme-color-lighter-2: var(--theme-color-yellow-theme-lighter-2);
  --theme-color-lighter-3: var(--theme-color-yellow-theme-lighter-3);
  --theme-color-lighter-4: var(--theme-color-yellow-theme-lighter-4);
  --theme-color-lighter-5: var(--theme-color-yellow-theme-lighter-5);
  --theme-color-lighter-6: var(--theme-color-yellow-theme-lighter-6);
  --theme-color-lighter-7: var(--theme-color-yellow-theme-lighter-7);
  --theme-color-lighter-8: var(--theme-color-yellow-theme-lighter-8);
  --theme-color-lighter-9: var(--theme-color-yellow-theme-lighter-9);

  --theme-color-darker-1: var(--theme-color-yellow-theme-darker-1);
  --theme-color-darker-2: var(--theme-color-yellow-theme-darker-2);
  --theme-color-darker-3: var(--theme-color-yellow-theme-darker-3);
  --theme-color-darker-4: var(--theme-color-yellow-theme-darker-4);
  --theme-color-darker-5: var(--theme-color-yellow-theme-darker-5);
  --theme-color-darker-6: var(--theme-color-yellow-theme-darker-6);
  --theme-color-darker-7: var(--theme-color-yellow-theme-darker-7);
  --theme-color-darker-8: var(--theme-color-yellow-theme-darker-8);
  --theme-color-darker-9: var(--theme-color-yellow-theme-darker-9);

  --hover: var(--hover-yellow-theme-lighter);
}

@mixin yellow-theme-dark-mode {

  --theme-color: var(--theme-color-yellow-theme);

  --theme-color-lighter-1: var(--theme-color-yellow-theme-darker-1);
  --theme-color-lighter-2: var(--theme-color-yellow-theme-darker-2);
  --theme-color-lighter-3: var(--theme-color-yellow-theme-darker-3);
  --theme-color-lighter-4: var(--theme-color-yellow-theme-darker-4);
  --theme-color-lighter-5: var(--theme-color-yellow-theme-darker-5);
  --theme-color-lighter-6: var(--theme-color-yellow-theme-darker-6);
  --theme-color-lighter-7: var(--theme-color-yellow-theme-darker-7);
  --theme-color-lighter-8: var(--theme-color-yellow-theme-darker-8);
  --theme-color-lighter-9: var(--theme-color-yellow-theme-darker-9);

  --theme-color-darker-1: var(--theme-color-yellow-theme-lighter-1);
  --theme-color-darker-2: var(--theme-color-yellow-theme-lighter-2);
  --theme-color-darker-3: var(--theme-color-yellow-theme-lighter-3);
  --theme-color-darker-4: var(--theme-color-yellow-theme-lighter-4);
  --theme-color-darker-5: var(--theme-color-yellow-theme-lighter-5);
  --theme-color-darker-6: var(--theme-color-yellow-theme-lighter-6);
  --theme-color-darker-7: var(--theme-color-yellow-theme-lighter-7);
  --theme-color-darker-8: var(--theme-color-yellow-theme-lighter-8);
  --theme-color-darker-9: var(--theme-color-yellow-theme-lighter-9);

  --hover: var(--hover-yellow-theme-darker);
}

.dark-theme.yellow-theme {
  @include yellow-theme-dark-mode
}

@media (prefers-color-scheme: dark) {
  :root .yellow-theme {
    @include yellow-theme-dark-mode
  }
}
