@use "sass:math";

/* Media Queries */

@mixin mq-xs {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin mq-sm {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin mq-md {
  @media (min-width: 720px) {
    @content;
  }
}

@mixin mq-lg {
  @media (min-width: 1000px) {
    @content;
  }
}

$items: 5;
$rows: ceil(math.div($items, 2));

/* Card sizing */

$card-height: 400px;
$card-width: 450px;
$inner-margin: 15px;
$number-size: 35px;
$stagger: 180px;
$outer-margin: 90px;
$marker-size: 9px;

/* Calculations */

$container-height: $rows * ($card-height + $outer-margin) + $stagger;
$container-width: $card-width*2 + $outer-margin*3;
$head-height: $number-size + 50;
$body-height: $card-height - $head-height;
$marker-dist: $card-width + math.div($outer-margin, 2) - math.div($marker-size, 2) - 5px;


/* Placeholders */

@include mq-lg {
  %arrow {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  %marker {
    position: absolute;
    content: "";
    width: $marker-size;
    height: $marker-size;
    background-color: var(--brand-color-lighter-2);
    border: 5px solid var(--background-color);
    border-radius: $marker-size;

    // Alternate design
    //    background-color: var(--background-color);
    //    border: 5px solid var(--lighter-contrast);
    //    box-shadow: 0 3px 15px 0 var(--shadow), 0 2px 2px 0 var(--shadow) inset;
  }
}


/* Some Cool Stuff */

$counter: $items - $rows + 2;
@for $i from 1 through $rows {
  .demo-card:nth-child(#{$i*2-1}) {
    order: $i
  }
  .demo-card:nth-child(#{$i*2}) {
    order: $counter
  }
  $counter: $counter + 1;
}

* {
  box-sizing: border-box;
}

.bodyless {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#timeline {

  .demo-card-wrapper {
    position: relative;
    margin: auto;
    @include mq-lg {
      display: flex;
      flex-flow: column wrap;
      width: $container-width;
      height: $container-height;
      margin: 0 auto;
    }

    &::after {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(50% + 1px);
      border-left: 1px solid var(--lighter-contrast);
    }
  }

  .demo-card {
    background-color: transparent;
    border-radius: 5px;

    .head::after {
      border-color: var(--brand-color-lighter-2);
    }

    position: relative;
    display: block;
    margin: 10px auto 80px;
    max-width: 94%;
    z-index: 2;
    @include mq-lg {
      max-width: $card-width;
      height: $card-height;
      margin: math.div($outer-margin, 2) $outer-margin;
      &:nth-child(odd) {
        margin-right: math.div($outer-margin, 2);

        .head::after {
          @extend %arrow;
          border-left-width: 15px;
          border-left-style: solid;
          left: 100%;
        }

        .head::before {
          @extend %marker;
          left: $marker-dist + 1;
        }
      }
      &:nth-child(even) {
        margin-left: math.div($outer-margin, 2);

        .head::after {
          @extend %arrow;
          border-right-width: 15px;
          border-right-style: solid;
          right: 100%;
        }

        .head::before {
          @extend %marker;
          right: $marker-dist - 1;
        }
      }
      &:nth-child(2) {
        margin-top: $stagger;
      }
    }

    .head {
      position: relative;
      display: flex;
      align-items: center;
      color: var(--color);
      background-color: var(--brand-color-lighter-2);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      .number-box {
        display: inline;
        float: left;
        margin: $inner-margin;
        padding: 10px;
        font-size: $number-size;
        line-height: $number-size;
        background: var(--card);
        border-radius: 5px;
        box-shadow: 0 3px 15px 0 var(--shadow) inset;
      }

      .title {
        color: var(--color);
        display: flex;
        flex-direction: column;
      }
    }

    .body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      border-top: 0;
      padding: $inner-margin;
      @include mq-lg {
        height: $body-height;
      }

      p {
        font-size: 17px;
        margin-bottom: $inner-margin;
      }

      img {
        display: block;
        max-height: 50%;
        max-width: 50%;
      }
    }
  }
}
