<section id=timeline>
  <div class="demo-card-wrapper">
    <div *ngFor="let item of timeline; index as i" [class]="item.theme ? item.theme + '-theme' : ''" class="demo-card">
      <app-card1
          [bottomWrapperColor]="'var(--theme-color-lighter-5)'"
          [enableHeader]="false"
          [paddingContent]="false">
        <div [class]="!item.paragraph && !item.img ? 'bodyless' : ''" class="head" custom-header>
          <div class="number-box">
            <span>{{ i + 1 }}</span>
          </div>
          <div class="title">
            <h3>{{ item.title }}
            </h3>
            <h5>{{ item.date }}</h5>
          </div>
        </div>
        <div *ngIf="item.paragraph || item.img" body class="body">
          <p>{{ item.paragraph }}</p>
          <div class="img-wrapper">
            <img *ngIf="item.img" [src]="item.img" alt="img">
          </div>
        </div>
      </app-card1>
    </div>
  </div>
</section>
