<div [class.background-color]="isBackgroundColor" [class.card1-scrollable-content]="isScrollable"
     [class.card1-small]="isSmall" [class.center-margin]="centerToParent"
     [class.no-margin]="!margin" [class.no-shadow]="!shadow" [class.testimonial-size]="testimonialSizeActive"
     [style.height]="height ? height : ''" [style.width]="width ? width : ''" class="card1">
  <div *ngIf="topWrapper" [class.card1-top-wrapper-in-theme-color]="topWrapperInThemeColor"
       class="card1-top-wrapper">
  </div>
  <div *ngIf="topLayer" class="layers top-svg">
    <svg [style.margin-top]="topLayerMarginTop"
         [style.min-height]="topLayerMinHeight" preserveAspectRatio="xMidYMax slice" viewBox="0 0 1000 250"
         xmlns="http://www.w3.org/2000/svg">
      <path d="M 0,250 1000,120 V 0 H 0 Z" style="fill: var(--theme-color-lighter-2);"></path>
    </svg>
  </div>
  <div *ngIf="!headerProfileImg && enableHeader && !enableHeaderFullImg" [class]="headerType" class="card1-header">
    <h3>{{title}}</h3>
  </div>
  <ng-content *ngIf="!headerProfileImg && !enableHeader && !enableHeaderFullImg" select="[custom-header]"></ng-content>

  <div *ngIf="headerProfileImg && enableHeader" class="card1-header card1-header-img">
    <div class="profile-img-wrapper">
      <img [src]="headerProfileImg" alt="profile img" class="profile-img-full"/>
    </div>
  </div>

  <div *ngIf="enableHeader && enableHeaderFullImg"
       [class.max-height]="maxHeight" [class]="headerType" class="card1-header card1-header-img card1-header-full-img">
    <ng-content select="[headerFullImg]"></ng-content>
  </div>

  <div *ngIf="subHeaderProfileImg" class="profile-img-wrapper card1-sub-header-profile-img">
    <img [src]="subHeaderProfileImg" alt="profile img"
         class="profile-img-full"/>
  </div>

  <div *ngIf="underHeaderProfileImg" class="profile-img-wrapper card1-under-header-profile-img">
    <img [src]="underHeaderProfileImg" alt="profile img"
         class="profile-img-full"/>
  </div>

  <div [class.no-padding]="!paddingContent" [class.no-top-padding]="!paddingTopContent"
       [class.overflow-visible]="isCardContentOverflowVisible"
       class="card1-content">
    <ng-content select="[body]"></ng-content>
  </div>
  <div *ngIf="bottomWrapper" [style.background-color]="bottomWrapperColor ? bottomWrapperColor : ''"
       class="card1-bottom-wrapper">
  </div>
  <div *ngIf="bottomLayer" class="bottom-layer">
    <svg style="min-height: 210px;" xmlns="http://www.w3.org/2000/svg">
      <path [style.fill]="bottomLayerBackgroundColor ? bottomLayerBackgroundColor : 'var(--theme-color-lighter-2)'"
            d="M28.9,-40.6C39.8,-43.8,52.4,-40.7,53.9,-32.9C55.4,-25,45.8,-12.5,45.4,-0.2C44.9,12,53.7,24,49.3,26.9C45,29.8,27.5,23.6,17.1,32.7C6.7,41.9,3.4,66.3,-3.1,71.6C-9.5,76.9,-18.9,63.1,-26.9,52.5C-34.8,42,-41.2,34.7,-48.2,26.5C-55.3,18.3,-63,9.2,-64.9,-1.1C-66.9,-11.4,-63.1,-22.8,-59.3,-36.6C-55.4,-50.4,-51.6,-66.6,-41.7,-63.9C-31.9,-61.2,-15.9,-39.7,-3.4,-33.8C9,-27.8,18.1,-37.4,28.9,-40.6Z"
            fill-opacity="0.4"
            stroke="null" transform="translate(100 100)"/>
    </svg>
  </div>
  <span *ngIf="ribbon.text" [attr.data-ribbon]="ribbon.text" [class]=" ribbon.theme + '-theme'" class="ribbon"></span>
</div>
