<div class="about-us-page">
  <div class="hero">
    <div class="hero-content">
      <h1>Team Behind the Open Template Hub</h1>
      <!-- TODO: Implement a new component from card for team members -->
    </div>
  </div>
  <div class="hero">
    <div class="hero-content">
      <h1>History of the Open Template Hub</h1>
      <h4>Minimizes your effort while building a new software business with our open source GitHub micro server
        templates and responsive web UI + mobile UI templates</h4>
    </div>
  </div>
  <app-timeline [timeline]="TIME_LINE">
  </app-timeline>
</div>
