.about-us-page {
  padding-bottom: 20vh;
}

@media only screen and (max-width: 999px) {
  .about-us-page {
    font-size: 17px;
  }

  .about-us-page .hero-content > * {
    flex-direction: column;
    margin-bottom: 50px;
    max-width: 94vw;
  }
}

@media only screen and (min-width: 1000px) {
  .about-us-page {
    font-size: 25px;
  }

  .about-us-page .hero {
    padding-bottom: 50px;
  }

  .about-us-page .hero-content {
    flex-direction: column;
    max-width: 50vw;
  }

  .about-us-page .hero-content > * {
    flex-direction: column;
    margin-bottom: 75px;
  }
}
