@use '../../../../styles/util/util';
@use '../../../../styles/page/page';

.status-page {
  @include util.flex-layout-column;
  @include util.flex-center-center;

  width: 100%;

  & .hero {
    padding-bottom: 50px;

    & .hero-content {
      margin-bottom: 80px;
    }
  }
}

@media only screen and (max-width: 999px) {
  .status-page {
    font-size: 17px;

    & .hero > * {
      width: 94vw;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .status-page {
    font-size: 25px;
  }
}
