$information-colors-light-mode: (
  "success": #228b22,
  "error": #e23237,
  "warning": #d28f29,
  "info": #5c98cd
);

$information-colors-dark-mode: (
  "success": #398039,
  "error": #e04e52,
  "warning": #cda05c,
  "info": #3d79ac
);

:root {
  @each $info, $color in $information-colors-light-mode {
    --#{$info}-light-mode: #{$color};
  }

  @each $info, $color in $information-colors-dark-mode {
    --#{$info}-dark-mode: #{$color};
  }
}

.light-theme {
  @each $info, $color in $information-colors-light-mode {
    --#{$info}: var(--#{$color}-light-mode);
  }
}

@mixin theme-information-dark-mode {
  @each $info, $color in $information-colors-dark-mode {
    --#{$info}: var(--#{$info}-dark-mode);
  }
}

.dark-theme {
  @include theme-information-dark-mode;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include theme-information-dark-mode;
  }
}

@mixin define-information-text($type) {
  .#{$type}-text {
    color: var(--#{$type});

    & p, & i, & h1, & h2, & h3, & h4, & h5, & h6 {
      color: var(--#{$type});
    }
  }
}

@mixin define-information-input($type) {
  .#{$type}-input {

    & input, & select {
      border-color: var(--#{$type});

      &:focus {
        border-color: var(--#{$type});
      }
    }

    &.input-with-icon, &.input-with-label {

      & input {
        &::placeholder, & p {
          color: var(--#{$type});
        }
      }

      & select {
        color: var(--#{$type});
      }

      & i, & span {
        color: var(--#{$type});
      }

      & input:focus {
        & + i, & + span {
          color: var(--#{$type});
        }
      }
    }
  }
}

@mixin define-information-border($type) {
  .#{$type}-border {
    border-color: var(--#{$type});
  }
}

@mixin define-information-color($type) {
  .#{$type}-background-color {
    --info: var(--#{$type});
  }
}

@each $info, $_ in $information-colors-light-mode {
  @include define-information-text(#{$info});
  @include define-information-input(#{$info});
  @include define-information-border(#{$info});
  @include define-information-color(#{$info});
}
