$information-colors-light-mode: (
    "success": #2bb22b,
    "success-lighter": #40b940,
    "success-darker": #148314,
    "error": #e23237,
    "error-lighter": #e04e52,
    "error-darker": #b6161b,
    "warning": #e8a830,
    "warning-lighter": #e7b049,
    "warning-darker": #c48817,
    "info": #579edc,
    "info-lighter": #6aa7dc,
    "info-darker": #3177b4
);

$information-colors-dark-mode: (
    "success": #40b940,
    "success-lighter": #5fc95f,
    "success-darker": #2bb22b,
    "error": #e04e52,
    "error-lighter": #e36e71,
    "error-darker": #e23237,
    "warning": #e7b049,
    "warning-lighter": #e5bc6f,
    "warning-darker": #e8a830,
    "info": #6aa7dc,
    "info-lighter": #93c4ef,
    "info-darker": #579edc
);

:root {
  @each $info, $color in $information-colors-light-mode {
    --#{$info}-light-mode: #{$color};
  }

  @each $info, $color in $information-colors-dark-mode {
    --#{$info}-dark-mode: #{$color};
  }
}

:root, .light-theme {
  @each $info, $color in $information-colors-light-mode {
    --#{$info}: var(--#{$info}-light-mode);
  }
}

@mixin theme-information-dark-mode {
  @each $info, $color in $information-colors-dark-mode {
    --#{$info}: var(--#{$info}-dark-mode);
  }
}

.dark-theme {
  @include theme-information-dark-mode;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include theme-information-dark-mode;
  }
}

@mixin define-information-text($type) {
  .#{$type}-text {
    color: var(--#{$type});

    & p, & i, & h1, & h2, & h3, & h4, & h5, & h6 {
      color: var(--#{$type});
    }
  }
}

@mixin define-information-input($type) {
  .#{$type}-input {

    & input, & select {
      border-color: var(--#{$type});

      &:focus {
        border-color: var(--#{$type});
      }
    }

    &.input-with-icon, &.input-with-label {

      & input {
        &::placeholder, & p {
          color: var(--#{$type});
        }
      }

      & select {
        color: var(--#{$type});
      }

      & i, & span {
        color: var(--#{$type});
      }

      & input:focus {
        & + i, & + span {
          color: var(--#{$type});
        }
      }
    }
  }
}

@mixin define-information-border($type) {
  .#{$type}-border {
    border-color: var(--#{$type});
  }
}

@mixin define-information-color($type) {
  .#{$type}-background-color {
    --info: var(--#{$type});
  }
}

@each $info, $_ in $information-colors-light-mode {
  @include define-information-text(#{$info});
  @include define-information-input(#{$info});
  @include define-information-border(#{$info});
  @include define-information-color(#{$info});
}
