:root {
  // [LIGHT MODE DEFINITIONS BEGIN]
  --success-light-mode: #228b22;
  --error-light-mode: #e23237;
  --warning-light-mode: #d28f29;
  --info-light-mode: #5c98cd;

  // [LIGHT MODE END]

  // [DARK MODE DEFINITIONS BEGIN]
  --success-dark-mode: #398039;
  --error-dark-mode: #e04e52;
  --warning-dark-mode: #cda05c;
  --info-dark-mode: #3d79ac;
  // [DARK MODE END]
}

:root, .light-theme {
  --success: var(--success-light-mode);
  --error: var(--error-light-mode);
  --warning: var(--warning-light-mode);
  --info: var(--info-light-mode);
}

@mixin theme-information-dark-mode {
  --success: var(--success-dark-mode);
  --error: var(--error-dark-mode);
  --warning: var(--warning-dark-mode);
  --info: var(--info-dark-mode);
}

.dark-theme {
  @include theme-information-dark-mode;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include theme-information-dark-mode;
  }
}

@mixin define-information-text($type) {
  .#{$type}-text {
    color: var(--#{$type});

    & p, & i, & h1, & h2, & h3, & h4, & h5, & h6 {
      color: var(--#{$type});
    }
  }
}

@mixin define-information-input($type) {
  .#{$type}-input {

    & input, & select {
      border-color: var(--#{$type});

      &:focus {
        border-color: var(--#{$type});
      }
    }

    &.input-with-icon, &.input-with-label {

      & input {
        &::placeholder, & p {
          color: var(--#{$type});
        }
      }

      & select {
        color: var(--#{$type});
      }

      & i, & span {
        color: var(--#{$type});
      }

      & input:focus {
        & + i, & + span {
          color: var(--#{$type});
        }
      }
    }
  }
}

@mixin define-information-border($type) {
  .#{$type}-border {
    border-color: var(--#{$type});
  }
}

@include define-information-text(success);
@include define-information-text(info);
@include define-information-text(warning);
@include define-information-text(error);

@include define-information-input(success);
@include define-information-input(info);
@include define-information-input(warning);
@include define-information-input(error);

@include define-information-border(success);
@include define-information-border(info);
@include define-information-border(warning);
@include define-information-border(error);
