@mixin no-padding-no-margin {
  padding: 0;
  margin: 0;
}

@mixin min-full-screen {
  min-height: 100vh;
  min-width: 100vw;
}

@mixin default-fonts {
  font-family: Roboto, sans-serif;
}

@mixin dim {
  color: var(--lighter-contrast);
  border-color: var(--lighter-contrast);
}

@mixin shine {
  color: var(--darker);
  border-color: var(--darker);
}

* {
  @include no-padding-no-margin;

  &:focus {
    outline: 0;
  }
}

html, body {
  @include no-padding-no-margin;
  @include min-full-screen;
  @include default-fonts;
}

body {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0.25em;
  }

  &::-webkit-scrollbar-track:vertical {
    background: var(--darker-contrast);
  }

  &::-webkit-scrollbar-thumb:vertical {
    background: var(--contrast);
  }

  &::-webkit-scrollbar:horizontal {
    display: none;
  }
}

div * {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

p, a, h1, h2, h3, h4, h5, h6, label, ul, li {
  color: var(--color);
  font-weight: 300;
  word-break: break-word;
  text-decoration: none;
}

hr {
  border: {
    width: 1px;
    style: solid;
    color: var(--lighter-contrast);
  }
}

.dim {
  p, a, h1, h2, h3, h4, h5, h6, label, ul, li {
    @include dim;
  }
}

.shine {
  p, a, h1, h2, h3, h4, h5, h6, label, ul, li {
    @include shine;
  }
}

a {
  cursor: pointer;

  &:hover {
    color: var(--darker);
  }
}

a.link {

  color: var(--brand-color-lighter-2);
  font-weight: normal;

  &:hover {
    color: var(--brand-color);
  }
}


@media (prefers-color-scheme: dark) {
  body {
    &::-webkit-scrollbar-track:vertical {
      background: var(--darker-contrast);
    }

    &::-webkit-scrollbar-thumb:vertical {
      background: var(--contrast);
    }
  }
}
