<app-card [headerTemplate]="headerTemplate" [bodyTemplate]="bodyTemplate" [footerTemplate]="footerTemplate"
          class="blog-holder-card">
  <!-- Header -->
  <ng-template #headerTemplate>
    <div class="header">
      <img [src]="blog.author.profile.photoUri" height="80" width="80" alt="author">
      <p class="title">{{ blog.title }}</p>
    </div>
  </ng-template>

  <!-- Body -->
  <ng-template #bodyTemplate>
    <div class="body">
      <p class="except">{{ blog.excerpt }}</p>
    </div>
  </ng-template>

  <!-- Footer -->
  <ng-template #footerTemplate>
    <div class="footer">
      <div class="footer-left">
        <p i18n="@@readMore.button" class="footer-text">Read more</p>
        <i aria-hidden="true" class="arrow fas fa-chevron-right"></i>
      </div>
      <p class="footer-text">{{ blog.date }}</p>
    </div>
  </ng-template>
</app-card>
