@use '../../util/util';

:root {
  --border-radius-round: 0 6px 0 12px;
  --border-radius-image-round: 0 6px 0 12px;
  --border-radius-product-line-round: var(--border-radius-round);
  --height-bottom-line-round: 4px;
}

.round-theme {
  --border-radius: var(--border-radius-round);
  --border-radius-image: var(--border-radius-image-round);
  --border-radius-product-line: var(--border-radius-product-line-round);
  --height-bottom-line: var(--height-bottom-line-round);
}
