:root {
  --brand-color: #d56666;
  --brand-color-lighter-1: #d87879;
  --brand-color-lighter-2: #db8281;
  --brand-color-lighter-3: #dc8e8e;
  --brand-color-lighter-4: #e09b9b;
  --brand-color-lighter-5: #e09f9f;
  --brand-color-lighter-6: #e8b7b8;
  --brand-color-lighter-7: #edc7c8;
  --brand-color-lighter-8: #f5dfde;
  --brand-color-lighter-9: #fcf3f4;

  --brand-background: #b74d4d;
  --hover: rgba(150, 89, 89, 0.2);
  --overlay: rgba(224, 159, 159, 0.3);

  // shine animation colors
  --color-alpha-0-5: rgba(108, 26, 26, 0.5);
  --color-alpha-0-13: rgba(108, 26, 26, 0.13);
}

.dark-theme {
  --brand-color-lighter-1: #c56869;
  --brand-color-lighter-2: #b26565;
  --brand-color-lighter-3: #9d6060;
  --brand-color-lighter-4: #855b5a;
  --brand-color-lighter-5: #704f4f;
  --brand-color-lighter-6: #644f50;
  --brand-color-lighter-7: #5f4d4d;
  --brand-color-lighter-8: #514647;
  --brand-color-lighter-9: #424141;

  --overlay: rgba(105, 74, 74, 0.7);
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand-color-lighter-1: #c56869;
    --brand-color-lighter-2: #b26565;
    --brand-color-lighter-3: #9d6060;
    --brand-color-lighter-4: #855b5a;
    --brand-color-lighter-5: #704f4f;
    --brand-color-lighter-6: #644f50;
    --brand-color-lighter-7: #5f4d4d;
    --brand-color-lighter-8: #514647;
    --brand-color-lighter-9: #424141;

    --overlay: rgba(105, 74, 74, 0.7);
  }

  .dark-theme {
    --brand-color-lighter-5: #e09f9f;
    --overlay: rgba(224, 159, 159, 0.3);
  }
}
