<div class="hero">
  <div class="hero-left">
    <h1>Open Template Hub</h1>
    <p i18n>
      Minimizes your effort while building a new software business with our open
      source GitHub micro server templates and responsive web UI + mobile UI
      templates
    </p>
  </div>

  <div class="hero-right">
    <app-image-content-loader
        *ngIf="!brandLogoLoaded"
        [imageContentLoaderClass]="'brand-logo-main'"></app-image-content-loader>
    <img
        (load)="setBrandLogoLoaded()"
        [src]="'https://raw.githubusercontent.com/open-template-hub/open-template-hub.github.io/master/assets/min/logo/oth-packages.min.png'"
        [style]="'display:' + (!brandLogoLoaded ? 'none;' : 'block;')"
        alt="oth-packages"
        height="450"
        width="800"/>
  </div>
</div>

<div class="counters">
  <a [href]="environmentCommon.website.github.url + '/' + environmentCommon.oth.social.github"
     class="counter-wrapper"
     rel="noopener"
     target="_blank">
    <app-text-content-loader
        *ngIf="npmCounterLoading"
        [size]="'30'"
        class="loader"></app-text-content-loader>
    <p class="counter" id="npmDownloadCounterElement"></p>
    <p class="description" i18n>Npm Downloads</p>
  </a>
  <a
      [href]="'https://github.com/open-template-hub/server-generator'"
      class="counter-wrapper counter-alter"
      rel="noopener"
      target="_blank">
    <p class="counter" id="serverTypesCounterElement">0</p>
    <p class="description" i18n>Server Types</p>
  </a>
  <a [href]="'https://github.com/open-template-hub/app-generator'"
     class="counter-wrapper"
     rel="noopener"
     target="_blank">
    <p class="counter" id="uiTypesCounterElement">0</p>
    <p class="description" i18n>UI Types</p>
  </a>
</div>

<!-- Testimonials -->
<app-hero [contents]="testimonialsTitle"></app-hero>
<div class="cards-wrapper">
  <app-testimonial-card
      *ngFor="let testimonial of TESTIMONIALS"
      [testimonial]="testimonial">
  </app-testimonial-card>
  <app-button [text]="'Read More Stories'" [routerLink]="URLS.customers"
              [buttonClasses]="['lighter-contrast-border-color', 'lighter-contrast-font-color', 'transparent-button']">
  </app-button>
</div>

<!-- Customers -->
<app-hero [contents]="customersTitle"></app-hero>
<div class="customers-wrapper">
  <app-business-partner-swiper [partners]="PARTNERS">
  </app-business-partner-swiper>
</div>

<!-- Why Us -->
<app-hero [contents]="whyUsTitle"></app-hero>
<div class="cards-wrapper">
  <app-feature-card
      *ngFor="let feature of FEATURES"
      [feature]="feature">
  </app-feature-card>
</div>

<!-- Explore -->
<app-hero [contents]="exploreTitle"></app-hero>
<ng-container *ngFor="let productLine of PRODUCT_LINES">
  <app-hero [contents]="[{ text: productLine.name, level: 3 }]" [heroClass]="'no-padding'"></app-hero>
  <div class="cards-wrapper">
    <ng-container *ngFor="let relatedProduct of productLine.products">
      <app-presentation-card
          [class]="relatedProduct.color ? relatedProduct.color : ''"
          [footerText]="relatedProduct.openSource ? '#opensource' : '#premium'"
          [href]="URLS.product + '/' + productLine.key + '/' + relatedProduct.key"
          [imgHeight]="150"
          [secondaryText]="relatedProduct.description"
          [src]="relatedProduct.logo"
          [title]="relatedProduct.name"
          class="related-product">
      </app-presentation-card>
    </ng-container>
  </div>
</ng-container>

<app-cookies></app-cookies>
