@use '../../../../styles/page/page';
@use '../../../../styles/util/util';
@use '../landing-layout.component';

.hero {
  & .hero-content.home-design {
    @include util.flex-center-center;

    max-width: 100vw;
    width: 100%;

    // add this class to home-design class to have background image
    &.with-background-img {
      background: url("../../../../assets/home-hero-background-wide.png") no-repeat center center;
      background-size: cover;
    }

    & .hero-content-left, & .hero-content-right {
      @include util.flex-layout-column;
      @include util.flex-center-center;
    }

    & .hero-content-left p {
      font-size: 25px;
    }
  }
}

.counters {
  @include util.flex-layout-row;
  @include util.flex-center-center;
  @include util.margin-x-auto;

  & .counter-wrapper {
    @include util.flex-layout-column;
    @include util.flex-center-center;

    text-align: center;
    width: 100%;

    & .counter {
      color: var(--theme-color);
      font-weight: 400;
    }

    & .description {
      width: auto;
      margin: 5px 30px 0;
      padding-bottom: 12px;
      border-bottom: 2px solid var(--theme-color-lighter-2);
    }
  }
}

.testimonials-wrapper {
  @include util.flex-layout-row;

  align-items: center;
  justify-content: space-evenly;

  box-sizing: border-box;

  flex-wrap: wrap;

  width: 100%;

  padding-bottom: 120px;

  & > * {
    width: 300px;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 999px) {
  .hero {
    font-size: 28px;

    & .hero-content.home-design {

      & .hero-content-left {
        & h1 {
          padding: 30px 0;
        }

        & p {
          font-size: 18px;
        }
      }

      & .hero-content-right img {
        width: 94vw;
      }
    }
  }

  .counters {
    width: 100%;
    flex-direction: column;
    padding: 50px 0;

    & .counter-wrapper {
      min-height: 120px;
      padding-top: 10px;

      & .counter {
        font-size: 28px;
      }

      & .description {
        font-size: 18px;
      }
    }
  }

  .testimonials-wrapper {
    font-size: 18px;

    & > * {
      width: 94vw;
    }
  }

  app-swiper-wrapper {
    margin-bottom: 80px;
  }
}

@media only screen and (min-width: 1000px) {

  .hero {
    font-size: 35px;

    & .hero-content.home-design {
      flex-direction: row;
      padding-bottom: 50px;

      & .hero-content-left, & .hero-content-right {
        max-width: 45vw;
      }

      & .hero-content-left {
        padding-bottom: 50px;

        & h1 {
          padding: 50px 0;
        }
      }

      & .hero-content-right img {
        width: 40vw;
      }
    }
  }

  .counters {
    box-sizing: border-box;
    padding: 180px 50px 50px;
    width: 1000px;

    & .counter-wrapper {
      & .counter {
        font-size: 33px;
      }

      & .description {
        font-size: 21px;
      }
    }
  }

  .testimonials-wrapper {
    font-size: 18px;
    padding-top: 20px;

    & > * {
      margin: {
        left: 10px;
        right: 10px;
      }
    }
  }

  app-swiper-wrapper {
    margin: 80px 0 50px;
  }
}

