@use '../../../../styles/page/page';
@use '../../../../styles/util/util';
@use '../landing-layout.component';
@use '../../../component/card/card.component';

.hero {
  @include util.flex-layout-row;
  @include util.margin-x-auto;

  align-items: center;
  justify-content: space-evenly;

  width: 100%;

  padding-top: 7vh;

  text-align: center;

  & .hero-left,
  & .hero-right {
    @include util.flex-layout-column;
    @include util.flex-center-center;
  }

  & .hero-left p {
    font-size: 24px;
  }

  & .hero-right img {
    width: 100%;
    height: auto;
  }
}

.counters {
  @include util.flex-layout-row;
  @include util.flex-center-center;
  @include util.margin-x-auto;

  & .ratio {
    @include util.flex-layout-row;
    @include util.flex-center-center;
    @include util.margin-x-auto;
  }

  & .counter-wrapper {
    @include util.flex-layout-column;
    @include util.flex-center-center;

    text-align: center;
    width: 100%;

    & .counter {
      color: var(--theme-color-darker-1);
      font-weight: 400;
    }

    & .loader {
      padding: 16px;
    }

    & .description {
      width: auto;
      margin: 5px 30px 0;
      padding-bottom: 12px;
      border-bottom: 2px solid var(--theme-color-darker-1);
    }
  }
}

.customers-wrapper {
  @include util.flex-layout-column;
  @include util.flex-center-center;

  box-sizing: border-box;

  width: 100%;

  padding-left: 3vw;
  padding-right: 3vw;

  padding-bottom: 100px;
}

.features-section-wrapper {
  @include util.flex-layout-column;
  @include util.flex-center-center;

  box-sizing: border-box;

  width: 100%;

  padding: 50px;

  & .section-header {
    color: var(--darker);
    text-align: center;
  }

  & .section-description {
    color: var(--lighter);
    padding: 30px;
    text-align: center;
  }

  & .section-content {
    @include util.flex-layout-row;
    @include util.flex-center-center;

    width: 100%;
    padding-left: 3vw;
    padding-right: 4.5vw;
    margin-top: 50px;

    & app-feature-card {
      margin-left: 15px;
      margin-right: 15px;
      width: 300px;
    }
  }
}

@media only screen and (max-width: 999px) {
  .hero {
    max-width: 94vw;
    flex-direction: column;

    font-size: 25px;

    & .hero-left {
      & h1 {
        padding: 30px 0;
      }

      & p {
        font-size: 18px;
      }
    }

    & > * {
      width: 94vw;
      margin-bottom: 40px;
    }
  }

  .counters {
    width: 100%;
    flex-direction: column;
    padding: 50px 0;

    & .counter-wrapper {
      min-height: 120px;
      padding-top: 10px;

      & .counter {
        font-size: 28px;
      }

      & .description {
        font-size: 18px;
      }
    }
  }

  .features-section-wrapper {
    & .section-content {
      @include util.flex-layout-column;
      @include util.flex-center-center;

      padding: 0 3vw 0 3vw;

      & app-feature-card {
        margin-top: 20px;
        margin-left: 0px;
        width: 94vw;
      }
    }
  }

  app-swiper-wrapper {
    margin-bottom: 80px;
  }
}

@media only screen and (min-width: 1000px) {
  .hero {
    flex-direction: row;
    padding-bottom: 50px;

    box-sizing: border-box;

    padding-left: 100px;
    padding-right: 100px;

    & .hero-left,
    &.hero-right {
      min-width: 450px;
    }

    & .hero-left {
      font-size: 38px;
      max-width: 50%;

      padding-bottom: 50px;

      & h1 {
        padding: 40px 0;
      }
    }
  }

  .counters {
    box-sizing: border-box;
    padding: 180px 50px 50px;
    width: 1000px;

    & .counter-wrapper {
      & .counter {
        font-size: 33px;
      }

      & .description {
        font-size: 21px;
      }
    }
  }

  app-swiper-wrapper {
    margin: 80px 0 50px;
  }
}
