<div>
  <app-card1
    [enableHeaderFullImg]="false"
    [height]="'485px'"
    [paddingContent]="false"
    [width]="'320px'"
    [maxHeight]="'485px'"
    [enableHeader]="false"
    [bottomLayer]="true"
    [bottomLayerBackgroundColor]="option.style.themeColor"
    [testimonialSizeActive]="true"
  >
    <div body class="content-wrapper">
      <div class="icon-wrapper">
        <i
          aria-hidden="true"
          [style.color]="option.style.themeColor"
          class="fas fa-quote-left fa-lg fa-fw"
        ></i>
      </div>
      <p class="review-area">{{ option.review }}</p>
      <div>
        <img
          [src]="option.reviewer.photoUri"
          alt="logo"
          class="profile-image"
          [style.border-color]="option.style.themeColor"
        />
        <div class="footer-social">
          <a
            [href]="option.reviewer.social.twitter"
            target="_blank"
            aria-label="twitter"
            rel="noopener"
          >
            <i
              aria-hidden="true"
              [style.color]="option.style.themeColor"
              [class]="
                'fab fa-' +
                environmentCommon.website.twitter.cssClass +
                ' fa-2x fa-fw'
              "
            ></i>
          </a>
          <a
            [href]="option.reviewer.social.linkedIn"
            target="_blank"
            aria-label="linkedin"
            rel="noopener"
          >
            <i
              aria-hidden="true"
              [style.color]="option.style.themeColor"
              [class]="
                'fab fa-' +
                environmentCommon.website.linkedin.cssClass +
                ' fa-2x fa-fw'
              "
            ></i>
          </a>
        </div>
        <div class="reviewer">
          <p class="reviewer-name">{{option.reviewer.name}}</p>
          <p class="reviewer-title" [style.color]="option.style.themeColor">{{option.reviewer.title}}</p>
        </div>
      </div>
    </div>
  </app-card1>
</div>
