.content-wrapper {
  text-align: center;
  font-size: 0.5em;
}

.review-area {
  color: var(--lighter-contrast);
  padding: 25px;
}

.icon-wrapper {
  text-align: left;
  padding: 1em 1em 0.1em;
}

.icon-wrapper i {
  color: var(--brand-color);
}

.footer-social {
  display: flex;
  justify-content: center;
  font-size: 0.5em;
  margin-top: 15px;
}

.footer-social a {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.footer-social i {
  color: var(--brand-color);
}

.profile-image {
  display: flex;
  flex-direction: column;
}

.profile-image img {
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  padding: 5px;
  border: 2px solid var(--color);
}

.profile-image span {
  margin-top: 1.5em;
}

@media only screen and (max-width: 999px) {
  .content-wrapper {
    font-size: 0.6em;
  }
}
