<div>
  <app-card1
      [bottomLayerBackgroundColor]="option.style.themeColor"
      [bottomLayer]="true"
      [enableHeaderFullImg]="false"
      [enableHeader]="false"
      [height]="'485px'"
      [paddingContent]="false"
      [testimonialSizeActive]="true"
      [width]="'320px'"
  >
    <div body class="content-wrapper">
      <div class="icon-wrapper">
        <i
            [style.color]="option.style.themeColor"
            aria-hidden="true"
            class="fas fa-quote-left fa-lg fa-fw"
        ></i>
      </div>
      <p class="review-area">{{ option.review }}</p>
      <div>
        <img
            [src]="option.reviewer.photoUri"
            [style.border-color]="option.style.themeColor"
            alt="logo"
            class="profile-image"
        />
        <div class="footer-social">
          <app-ext-link [href]="option.reviewer.social.twitter">
            <i [class]="'fab fa-' + environmentCommon.website.twitter.cssClass + ' fa-2x fa-fw'"
               [style.color]="option.style.themeColor"
               aria-hidden="true"
               body>
            </i>
          </app-ext-link>
          <app-ext-link [href]="option.reviewer.social.linkedIn">
            <i [class]="'fab fa-' + environmentCommon.website.linkedin.cssClass + ' fa-2x fa-fw'"
               [style.color]="option.style.themeColor"
               aria-hidden="true"
               body>
            </i>
          </app-ext-link>
        </div>
        <div class="reviewer">
          <p class="reviewer-name">{{option.reviewer.name}}</p>
          <p [style.color]="option.style.themeColor" class="reviewer-title">{{option.reviewer.title}}</p>
        </div>
      </div>
    </div>
  </app-card1>
</div>
