.content-wrapper {
  text-align: center;
  font-size: 0.5em;
}

.review-area {
  color: var(--lighter-contrast);
  padding: 25px;
  max-height: 7em;
}

.icon-wrapper {
  text-align: left;
  padding: 1em 1em 0.1em;
}

.icon-wrapper i {
  color: var(--brand-color);
}

.footer-social {
  display: flex;
  justify-content: center;
  font-size: 0.5em;
  margin-top: 1em;
  margin-right: 14em;
}

.footer-social a {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.footer-social i {
  color: var(--brand-color);
}

.reviewer {
  bottom: 2em;
  right: 0.1em;
  position: absolute;
}

.reviewer-name {
  font-weight: 700;
  margin-top: 2em;
  font-size: 15px;
  max-width: 12em;
  text-align: left;
}

.reviewer-title {
  font-weight: 500;
  margin-top: 0.2em;
  font-size: 13px;
  max-width: 12em;
  text-align: left;
}

.profile-image {
  height: 4em;
  width: 4em;
  margin-top: 4em;
  margin-right: 5em;
  border-bottom: 0.1em solid;
  border-radius: 12em;
}

.profile-image img {
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  padding: 5px;
  border: 2px solid var(--color);
}

.profile-image span {
  margin-top: 1.5em;
}

@media only screen and (max-width: 999px) {
  .content-wrapper {
    font-size: 0.6em;
  }

  .profile-image {
    margin-top: 1em;
    margin-right: 7em;
  }

  .review-area {
    max-height: 3em;
  }
}
