:root {
  --theme-color-green: #45b445;
  --theme-color-green-secondary: #205f20;
  --theme-color-green-tertiary: #71dc70;

  --theme-color-green-lighter-1: #50b550;
  --theme-color-green-lighter-2: #5dbb5d;
  --theme-color-green-lighter-3: #6bc06b;
  --theme-color-green-lighter-4: #78c678;
  --theme-color-green-lighter-5: #85cb85;
  --theme-color-green-lighter-6: #93d193;
  --theme-color-green-lighter-7: #bbe2bb;
  --theme-color-green-lighter-8: #d5edd5;
  --theme-color-green-lighter-9: #f0f8f0;

  --theme-color-green-darker-1: #42a742;
  --theme-color-green-darker-2: #419e41;
  --theme-color-green-darker-3: #409540;
  --theme-color-green-darker-4: #3f8c3f;
  --theme-color-green-darker-5: #3e843e;
  --theme-color-green-darker-6: #3d7b3d;
  --theme-color-green-darker-7: #3a603a;
  --theme-color-green-darker-8: #384f38;
  --theme-color-green-darker-9: #363d36;

  --hover-green-theme-lighter: rgba(67, 176, 67, 0.3);
  --hover-green-theme-darker: rgba(67, 176, 67, 0.6);
}

:root .green-theme, :root .light-theme.green-theme {

  --theme-color: var(--theme-color-green);
  --theme-color-secondary: var(--theme-color-green-secondary);
  --theme-color-tertiary: var(--theme-color-green-tertiary);

  --theme-color-lighter-1: var(--theme-color-green-lighter-1);
  --theme-color-lighter-2: var(--theme-color-green-lighter-2);
  --theme-color-lighter-3: var(--theme-color-green-lighter-3);
  --theme-color-lighter-4: var(--theme-color-green-lighter-4);
  --theme-color-lighter-5: var(--theme-color-green-lighter-5);
  --theme-color-lighter-6: var(--theme-color-green-lighter-6);
  --theme-color-lighter-7: var(--theme-color-green-lighter-7);
  --theme-color-lighter-8: var(--theme-color-green-lighter-8);
  --theme-color-lighter-9: var(--theme-color-green-lighter-9);

  --theme-color-darker-1: var(--theme-color-green-darker-1);
  --theme-color-darker-2: var(--theme-color-green-darker-2);
  --theme-color-darker-3: var(--theme-color-green-darker-3);
  --theme-color-darker-4: var(--theme-color-green-darker-4);
  --theme-color-darker-5: var(--theme-color-green-darker-5);
  --theme-color-darker-6: var(--theme-color-green-darker-6);
  --theme-color-darker-7: var(--theme-color-green-darker-7);
  --theme-color-darker-8: var(--theme-color-green-darker-8);
  --theme-color-darker-9: var(--theme-color-green-darker-9);

  --hover: var(--hover-green-theme-lighter);
}

@mixin green-theme-dark-mode {

  --theme-color-lighter-1: var(--theme-color-green-darker-1);
  --theme-color-lighter-2: var(--theme-color-green-darker-2);
  --theme-color-lighter-3: var(--theme-color-green-darker-3);
  --theme-color-lighter-4: var(--theme-color-green-darker-4);
  --theme-color-lighter-5: var(--theme-color-green-darker-5);
  --theme-color-lighter-6: var(--theme-color-green-darker-6);
  --theme-color-lighter-7: var(--theme-color-green-darker-7);
  --theme-color-lighter-8: var(--theme-color-green-darker-8);
  --theme-color-lighter-9: var(--theme-color-green-darker-9);

  --theme-color-darker-1: var(--theme-color-green-lighter-1);
  --theme-color-darker-2: var(--theme-color-green-lighter-2);
  --theme-color-darker-3: var(--theme-color-green-lighter-3);
  --theme-color-darker-4: var(--theme-color-green-lighter-4);
  --theme-color-darker-5: var(--theme-color-green-lighter-5);
  --theme-color-darker-6: var(--theme-color-green-lighter-6);
  --theme-color-darker-7: var(--theme-color-green-lighter-7);
  --theme-color-darker-8: var(--theme-color-green-lighter-8);
  --theme-color-darker-9: var(--theme-color-green-lighter-9);

  --hover: var(--hover-green-theme-darker);
}

.dark-theme.green-theme {
  @include green-theme-dark-mode
}

@media (prefers-color-scheme: dark) {
  :root .green-theme {
    @include green-theme-dark-mode
  }
}
