:root {
  --theme-color-orange: #ED9121;
  --theme-color-orange-secondary: #915b14;
  --theme-color-orange-tertiary: #ffb054;

  --theme-color-orange-lighter-1: #ee9830;
  --theme-color-orange-lighter-2: #efa040;
  --theme-color-orange-lighter-3: #f0a850;
  --theme-color-orange-lighter-4: #f1b060;
  --theme-color-orange-lighter-5: #f3b76f;
  --theme-color-orange-lighter-6: #f4bf7f;
  --theme-color-orange-lighter-7: #f7d7af;
  --theme-color-orange-lighter-8: #fae6ce;
  --theme-color-orange-lighter-9: #fcf6ee;

  --theme-color-orange-darker-1: #df8a22;
  --theme-color-orange-darker-2: #d28323;
  --theme-color-orange-darker-3: #c57d25;
  --theme-color-orange-darker-4: #b87626;
  --theme-color-orange-darker-5: #ab7028;
  --theme-color-orange-darker-6: #9e6929;
  --theme-color-orange-darker-7: #76552d;
  --theme-color-orange-darker-8: #5c4830;
  --theme-color-orange-darker-9: #423b33;

  --hover-orange-theme-lighter: rgba(237, 145, 33, 0.3);
  --hover-orange-theme-darker: rgba(237, 145, 33, 0.6);
}

:root .orange-theme, :root .light-theme.orange-theme {

  --theme-color: var(--theme-color-orange);
  --theme-color-secondary: var(--theme-color-orange-secondary);
  --theme-color-tertiary: var(--theme-color-orange-tertiary);

  --theme-color-lighter-1: var(--theme-color-orange-lighter-1);
  --theme-color-lighter-2: var(--theme-color-orange-lighter-2);
  --theme-color-lighter-3: var(--theme-color-orange-lighter-3);
  --theme-color-lighter-4: var(--theme-color-orange-lighter-4);
  --theme-color-lighter-5: var(--theme-color-orange-lighter-5);
  --theme-color-lighter-6: var(--theme-color-orange-lighter-6);
  --theme-color-lighter-7: var(--theme-color-orange-lighter-7);
  --theme-color-lighter-8: var(--theme-color-orange-lighter-8);
  --theme-color-lighter-9: var(--theme-color-orange-lighter-9);

  --theme-color-darker-1: var(--theme-color-orange-darker-1);
  --theme-color-darker-2: var(--theme-color-orange-darker-2);
  --theme-color-darker-3: var(--theme-color-orange-darker-3);
  --theme-color-darker-4: var(--theme-color-orange-darker-4);
  --theme-color-darker-5: var(--theme-color-orange-darker-5);
  --theme-color-darker-6: var(--theme-color-orange-darker-6);
  --theme-color-darker-7: var(--theme-color-orange-darker-7);
  --theme-color-darker-8: var(--theme-color-orange-darker-8);
  --theme-color-darker-9: var(--theme-color-orange-darker-9);

  --hover: var(--hover-orange-theme-lighter);
}

@mixin orange-theme-dark-mode {

  --theme-color-lighter-1: var(--theme-color-orange-darker-1);
  --theme-color-lighter-2: var(--theme-color-orange-darker-2);
  --theme-color-lighter-3: var(--theme-color-orange-darker-3);
  --theme-color-lighter-4: var(--theme-color-orange-darker-4);
  --theme-color-lighter-5: var(--theme-color-orange-darker-5);
  --theme-color-lighter-6: var(--theme-color-orange-darker-6);
  --theme-color-lighter-7: var(--theme-color-orange-darker-7);
  --theme-color-lighter-8: var(--theme-color-orange-darker-8);
  --theme-color-lighter-9: var(--theme-color-orange-darker-9);

  --theme-color-darker-1: var(--theme-color-orange-lighter-1);
  --theme-color-darker-2: var(--theme-color-orange-lighter-2);
  --theme-color-darker-3: var(--theme-color-orange-lighter-3);
  --theme-color-darker-4: var(--theme-color-orange-lighter-4);
  --theme-color-darker-5: var(--theme-color-orange-lighter-5);
  --theme-color-darker-6: var(--theme-color-orange-lighter-6);
  --theme-color-darker-7: var(--theme-color-orange-lighter-7);
  --theme-color-darker-8: var(--theme-color-orange-lighter-8);
  --theme-color-darker-9: var(--theme-color-orange-lighter-9);

  --hover: var(--hover-orange-theme-darker);
}

.dark-theme.orange-theme {
  @include orange-theme-dark-mode
}

@media (prefers-color-scheme: dark) {
  :root .orange-theme {
    @include orange-theme-dark-mode
  }
}
