:root {
  --theme-color-red: #d56666;
  --theme-color-red-secondary: #803c3c;
  --theme-color-red-tertiary: #faa5a5;

  --theme-color-red-lighter-1: #d77070;
  --theme-color-red-lighter-2: #da7b7b;
  --theme-color-red-lighter-3: #dd8686;
  --theme-color-red-lighter-4: #e09191;
  --theme-color-red-lighter-5: #e39c9c;
  --theme-color-red-lighter-6: #e6a7a7;
  --theme-color-red-lighter-7: #efc7c7;
  --theme-color-red-lighter-8: #f5dddd;
  --theme-color-red-lighter-9: #fbf3f3;

  --theme-color-red-darker-1: #c96262;
  --theme-color-red-darker-2: #be5f5f;
  --theme-color-red-darker-3: #b25b5b;
  --theme-color-red-darker-4: #a75858;
  --theme-color-red-darker-5: #9b5454;
  --theme-color-red-darker-6: #905151;
  --theme-color-red-darker-7: #6e4646;
  --theme-color-red-darker-8: #573f3f;
  --theme-color-red-darker-9: #403838;

  --hover-red-theme-lighter: rgba(213, 102, 102, 0.3);
  --hover-red-theme-darker: rgba(213, 102, 102, 0.6);
}

:root .red-theme, :root .light-theme.red-theme {

  --theme-color: var(--theme-color-red);
  --theme-color-secondary: var(--theme-color-red-secondary);
  --theme-color-tertiary: var(--theme-color-red-tertiary);

  --theme-color-lighter-1: var(--theme-color-red-lighter-1);
  --theme-color-lighter-2: var(--theme-color-red-lighter-2);
  --theme-color-lighter-3: var(--theme-color-red-lighter-3);
  --theme-color-lighter-4: var(--theme-color-red-lighter-4);
  --theme-color-lighter-5: var(--theme-color-red-lighter-5);
  --theme-color-lighter-6: var(--theme-color-red-lighter-6);
  --theme-color-lighter-7: var(--theme-color-red-lighter-7);
  --theme-color-lighter-8: var(--theme-color-red-lighter-8);
  --theme-color-lighter-9: var(--theme-color-red-lighter-9);

  --theme-color-darker-1: var(--theme-color-red-darker-1);
  --theme-color-darker-2: var(--theme-color-red-darker-2);
  --theme-color-darker-3: var(--theme-color-red-darker-3);
  --theme-color-darker-4: var(--theme-color-red-darker-4);
  --theme-color-darker-5: var(--theme-color-red-darker-5);
  --theme-color-darker-6: var(--theme-color-red-darker-6);
  --theme-color-darker-7: var(--theme-color-red-darker-7);
  --theme-color-darker-8: var(--theme-color-red-darker-8);
  --theme-color-darker-9: var(--theme-color-red-darker-9);

  --hover: var(--hover-red-theme-lighter);
}

@mixin red-theme-dark-mode {

  --theme-color-lighter-1: var(--theme-color-red-darker-1);
  --theme-color-lighter-2: var(--theme-color-red-darker-2);
  --theme-color-lighter-3: var(--theme-color-red-darker-3);
  --theme-color-lighter-4: var(--theme-color-red-darker-4);
  --theme-color-lighter-5: var(--theme-color-red-darker-5);
  --theme-color-lighter-6: var(--theme-color-red-darker-6);
  --theme-color-lighter-7: var(--theme-color-red-darker-7);
  --theme-color-lighter-8: var(--theme-color-red-darker-8);
  --theme-color-lighter-9: var(--theme-color-red-darker-9);

  --theme-color-darker-1: var(--theme-color-red-lighter-1);
  --theme-color-darker-2: var(--theme-color-red-lighter-2);
  --theme-color-darker-3: var(--theme-color-red-lighter-3);
  --theme-color-darker-4: var(--theme-color-red-lighter-4);
  --theme-color-darker-5: var(--theme-color-red-lighter-5);
  --theme-color-darker-6: var(--theme-color-red-lighter-6);
  --theme-color-darker-7: var(--theme-color-red-lighter-7);
  --theme-color-darker-8: var(--theme-color-red-lighter-8);
  --theme-color-darker-9: var(--theme-color-red-lighter-9);

  --hover: var(--hover-red-theme-darker);
}

.dark-theme.red-theme {
  @include red-theme-dark-mode
}

@media (prefers-color-scheme: dark) {
  :root .red-theme {
    @include red-theme-dark-mode
  }
}
