@use 'node_modules/@open-template-hub/card/styles/card/card';

@use '../../../../styles/util/util';

.contributor-card {
  & .body {
    @include card.default-body;
    @include util.flex-layout-row;
    @include util.default-border-radius;

    align-items: center;
    justify-content: flex-start;

    width: 100%;

    border: 2px solid var(--shadow-lighter);

    text-align: center;
    align-self: center;

    & .profile-image {

      width: 120px;
      height: 120px;
    }

    min-height: 10px;
    padding: 5px;

    & .right {
      @include util.flex-layout-column;

      align-items: flex-start;
      padding-left: 20px;

      & .name {
        font: {
          size: 21px;
          weight: 500;
        }
      }

      & .title {
        color: var(--lighter-contrast);

        font-size: 18px;
        margin-bottom: 10px;

        &.diamond {
          & i {
            color: var(--theme-color-blue);
          }
        }

        &.platinum {
          & i {
            color: var(--theme-color-gray)
          }
        }

        &.gold {
          & i {
            color: var(--theme-color-yellow);
          }
        }

        &.silver {
          & i {
            color: var(--theme-color-gray-lighter-5);
          }
        }

        &.bronze {
          & i {
            color: var(--theme-color-brown);
          }
        }
      }

      & .social {
        @include util.flex-layout-row;
        align-items: flex-start;

        & i {
          color: var(--theme-color-lighter-6);

          &:hover {
            color: var(--theme-color);
          }
        }
      }
    }
  }
}

.contributors-wrapper {
  & > * {
    margin-top: 100px;
  }

  & hr {
    margin: 0;
    flex-basis: 100%;
    visibility: hidden;
  }
}

@media only screen and (max-width: 999px) {
  .contributors-wrapper {
    @include util.flex-layout-column;
    @include util.flex-center-center;

    justify-content: space-evenly;

    width: 100vw;

    margin-bottom: 20px;

    & > * {
      width: 94vw;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .contributors-wrapper {
    @include util.flex-layout-row;

    justify-content: center;
    flex-wrap: wrap;

    width: 100%;

    margin-bottom: 50px;

    & > * {
      width: 400px;
      margin: {
        left: 15px;
        right: 15px;
      }
    }
  }

  .contributor-card {
    & .body {
      & .bio {
        height: 160px;
      }
    }
  }
}
