<oth-card
    *ngIf="contributor.profile"
    [bodyTemplate]="bodyTemplate"
    class="contributor-card">
  <!-- Body -->
  <ng-template #bodyTemplate>
    <div class="body">
      <app-image-content-loader
          *ngIf="!contributorPhotoLoaded"
          [imageContentLoaderClass]="'contributor-photo'"></app-image-content-loader>
      <img
          (load)="setContributorPhotoLoaded()"
          [src]="contributor.profile.photoUri"
          [style]="'display:' + (!contributorPhotoLoaded ? 'none;' : 'block;')"
          alt="profile-img"
          class="profile-image"
          onerror="this.src='./assets/common/profile-img.png'"/>
      <div class="right">
        <p class="name">{{ contributor.profile.name }}</p>
        <p [classList]="contributor.profile.level + ' title'">
          <ng-container [ngSwitch]=contributor.profile.level>
            <i *ngSwitchCase="CONTRIBUTION_LEVELS.diamond" [class]="'fas fa-gem fa-fw'" aria-hidden="true"></i>
            <i *ngSwitchCase="CONTRIBUTION_LEVELS.platinum" [class]="'fas fa-gem fa-fw'" aria-hidden="true"></i>
            <i *ngSwitchCase="CONTRIBUTION_LEVELS.gold" [class]="'fas fa-gem fa-fw'" aria-hidden="true"></i>
            <i *ngSwitchCase="CONTRIBUTION_LEVELS.silver" [class]="'fas fa-gem fa-fw'" aria-hidden="true"></i>
            <i *ngSwitchCase="CONTRIBUTION_LEVELS.bronze" [class]="'fas fa-gem fa-fw'" aria-hidden="true"></i>
          </ng-container>
          {{ contributor.profile.level + ' contributor' | titlecase }}
        </p>
        <div class="social">
          <app-ext-link
              *ngIf="contributor.profile.social.linkedIn"
              [href]="contributor.profile.social.linkedIn">
            <i [class]="'fab fa-' + environmentCommon.website.linkedin.cssClass + ' fa-fw'"
               aria-hidden="true"
               body>
            </i>
          </app-ext-link>
          <app-ext-link
              *ngIf="contributor.profile.social.github"
              [href]="contributor.profile.social.github">
            <i [class]="'fab fa-' + environmentCommon.website.github.cssClass + ' fa-fw'"
               aria-hidden="true"
               body>
            </i>
          </app-ext-link>
        </div>
      </div>
    </div>
  </ng-template>
</oth-card>
