<div [class.side-nav-closed]="sideNavClosed === 'true'" class="side-nav-wrapper">
  <nav [class.dark-theme]="darkTheme === 'true'" class="side-nav">
    <a (click)="toggleSideNav()" *ngIf="currentUser" class="brand" href="javascript:void(0)">
      <img [src]="brand.brandLogo" alt="logo" class="brand-logo" width="40"/>
      <h2 *ngIf="sideNavClosed === 'false'" class="side-nav-brand-text">Open Template Hub</h2>
    </a>
    <a *ngIf="currentUser" [display]="sideNavClosed==='true'" placement="right" routerLink="{{URLS.dashboard.myProfile}}"
       show-delay="500"
       tooltip="my profile">
      <img [src]="profileImg" alt="profile img" class="profile-img-small"/>
      <span *ngIf="sideNavClosed === 'false'">
        MY PROFILE
    </span>
    </a>
    <a *ngIf="currentUser" [display]="sideNavClosed==='true'" placement="right"
       routerLink="{{URLS.dashboard.root}}"
       show-delay="500" tooltip="dashboard">
      <i class="material-icons">dashboard</i>
      <span *ngIf="sideNavClosed === 'false'">
        DASHBOARD
    </span>
    </a>
    <!--
    <a *ngIf="currentUser && userInfo.payload?.userProfileActivated" [display]="sideNavClosed==='true'" placement="right"
       routerLink="{{URLS.dashboard.createEvent}}"
       show-delay="500" tooltip="createEvent">
      <i class="material-icons">public</i>
      <span *ngIf="sideNavClosed === 'false'">
        CREATE EVENT
    </span>
    </a>
    -->
    <a *ngIf="currentUser" [display]="sideNavClosed==='true'" placement="right" routerLink="{{URLS.dashboard.learn}}"
       show-delay="500"
       tooltip="learn">
      <i class="material-icons">event</i>
      <span *ngIf="sideNavClosed === 'false'">
        EVENTS
    </span>
    </a>
    <a (click)="openSettings = !openSettings" *ngIf="currentUser" [display]="sideNavClosed==='true'"
       href="javascript:void(0)"
       placement="right" show-delay="500" tooltip="settings">
      <i class="material-icons">settings</i>
      <span *ngIf="sideNavClosed === 'false'">
        SETTINGS
    </span>
    </a>
    <div *ngIf="openSettings" class="side-nav-sub">
      <a *ngIf="currentUser" [display]="sideNavClosed==='true'" placement="right"
         routerLink="{{URLS.settings.editProfile}}"
         show-delay="500" tooltip="edit profile">
        <i class="material-icons">person</i>
        <span *ngIf="sideNavClosed === 'false'">
        EDIT PROFILE
      </span>
      </a>
      <a *ngIf="currentUser" [display]="sideNavClosed==='true'" placement="right"
         routerLink="{{URLS.dashboard.privacy}}"
         show-delay="500" tooltip="privacy">
        <i class="material-icons">privacy_tip</i>
        <span *ngIf="sideNavClosed === 'false'">
        PRIVACY
    </span>
      </a>
      <a (click)="switchTheme()" *ngIf="currentUser && openOtherSettings" [display]="sideNavClosed==='true'"
         href="javascript:void(0)"
         placement="right" show-delay="500" tooltip="theme">
        <i class="material-icons">invert_colors</i>
        <span *ngIf="sideNavClosed === 'false'">
          THEME
        </span>
      </a>
      <a (click)="logout()" *ngIf="currentUser && openOtherSettings" [display]="sideNavClosed==='true'"
         href="javascript:void(0)"
         id=logout placement="right" show-delay="500" tooltip="logout">
        <i class="material-icons">exit_to_app</i>
        <span *ngIf="sideNavClosed === 'false'">
          LOGOUT
        </span>
      </a>
      <a (click)="openOtherSettings = !openOtherSettings" *ngIf="currentUser" href="javascript:void(0)"
         id=more-settings>
        <i class="material-icons">{{!openOtherSettings ? 'expand_more' : 'expand_less'}}</i>
        <span *ngIf="sideNavClosed === 'false'">
          {{!openOtherSettings ? 'MORE' : 'LESS'}}
        </span>
      </a>
    </div>
    <a *ngIf="!currentUser" routerLink="{{URLS.signup}}">
      <i class="material-icons">person_add</i>
      <span *ngIf="sideNavClosed === 'false'">
        REGISTER
      </span>
    </a>
    <a *ngIf="!currentUser" class="login" routerLink="{{URLS.login}}">
      <i class="material-icons">fingerprint</i>
      <span *ngIf="sideNavClosed === 'false'">
        LOG IN
      </span>
    </a>
    <a (click)="toggleSideNav()" *ngIf="currentUser" href="javascript:void(0)" id=menu>
      <i class="material-icons">menu</i>
      <span>
      </span>
    </a>
  </nav>
</div>
