<div class="edit-theme-page">
  <app-card1 [title]="'Theme Settings'">
    <div body>
      <div class="section-header">
        <p class="dim">Dark/Light Mode</p>
        <hr/>
      </div>
      <div class="section horizontal">
        <app-button1 [text]="'Light theme'" (click)="setDarkLightSetting(DarkLightSettings.light)"
                     [icon]="'sun'"
                     [alwaysDark]="true"
                     [isSleekButton]="true"
                     [selected]="darkLightSetting === DarkLightSettings.light">
        </app-button1>
        <app-button1 [text]="'Dark theme'" (click)="setDarkLightSetting(DarkLightSettings.dark)"
                     [icon]="'moon'"
                     [alwaysLight]="true"
                     [isSleekButton]="true"
                     [selected]="darkLightSetting === DarkLightSettings.dark">
        </app-button1>
        <app-button1 [text]="'Auto'" (click)="setDarkLightSetting(DarkLightSettings.auto)"
                     [icon]="'adjust'"
                     [isSleekButton]="true"
                     [selected]="darkLightSetting === DarkLightSettings.auto">
        </app-button1>
      </div>
      <div class="section-header">
        <p class="dim">Theme Color</p>
        <hr/>
      </div>
      <div class="section horizontal">
        <app-button1 [text]="'Default theme'" (click)="setThemeColorSetting(ThemeColorSettings.default)"
                     [icon]="'tint'"
                     [transparent]="true"
                     [lighterContrast]="true"
                     [isSleekButton]="true"
                     [selected]="themeColorSetting === ThemeColorSettings.default"
                     [themeColor]="ThemeColorSettings.default">
        </app-button1>
        <app-button1 [text]="'Red theme'" (click)="setThemeColorSetting(ThemeColorSettings.red)"
                     [icon]="'tint'"
                     [transparent]="true"
                     [lighterContrast]="true"
                     [isSleekButton]="true"
                     [selected]="themeColorSetting === ThemeColorSettings.red"
                     [themeColor]="ThemeColorSettings.red">
        </app-button1>
        <app-button1 [text]="'Yellow theme'" (click)="setThemeColorSetting(ThemeColorSettings.yellow)"
                     [icon]="'tint'"
                     [transparent]="true"
                     [lighterContrast]="true"
                     [isSleekButton]="true"
                     [selected]="themeColorSetting === ThemeColorSettings.yellow"
                     [themeColor]="ThemeColorSettings.yellow">
        </app-button1>
        <app-button1 [text]="'Blue theme'" (click)="setThemeColorSetting(ThemeColorSettings.blue)"
                     [icon]="'tint'"
                     [transparent]="true"
                     [lighterContrast]="true"
                     [isSleekButton]="true"
                     [selected]="themeColorSetting === ThemeColorSettings.blue"
                     [themeColor]="ThemeColorSettings.blue">
        </app-button1>
      </div>
    </div>
  </app-card1>
</div>
