.content-wrapper {
  text-align: center;
  font-size: 0.8em;
}

.price-area {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.price-area .currency {
  font-size: 1.2em;
  font-weight: lighter;
  margin-top: 0.4em;
}

.price-area .subscription-time {
  margin-top: 2.5em;
}

.price-area .currency, .price-area .subscription-time {
  color: var(--lighter-contrast)
}

.price-area .price-value {
  font-size: 4em;
  letter-spacing: 0.1em;
}

.subscription-header {
  margin-top: 1em;
  letter-spacing: 0.6em;
}

hr {
  color: var(--lighter-contrast);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.content-wrapper .subscription-features {
  text-align: left;
}

.subscription-features {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 12em;
}

.subscription-features p {
  display: flex;
  align-items: center;
  padding-left: 3em;
}

.subscription-features p span {
  padding-left: 1em;
}

app-button1 {
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  width: -webkit-fit-content;
  margin-left: auto;
  margin-right: auto;
  bottom: 2em;
}
