<div class="home-page">
  <div class="hero">
    <div class="hero-content">
      <div class="hero-content-left">
        <h1>Open Template Hub</h1>
        <h6>Minimizes your effort while building a new software business with our open source GitHub micro server
          templates and responsive web UI + mobile UI templates</h6>
      </div>

      <div class="hero-content-right">
        <img [src]="'https://raw.githubusercontent.com/open-template-hub/open-template-hub.github.io/master/assets/products/company-profile-ui/oth-packages.png'"
             alt="oth-packages"
             class="demonstration"/>
      </div>
    </div>
    <div class="counters">
      <a [href]="environmentCommon.website.github.url + '/' + environmentCommon.oth.social.github"
         class="counter-wrapper"
         rel=noopener target="_blank">
        <h4 class="counter" id="npmDownloadCounterElement">
          0
        </h4>
        <h6>
          Npm Downloads
        </h6>
      </a>
      <a [href]="'https://github.com/open-template-hub/server-generator'"
         class="counter-wrapper counter-alter" rel=noopener target="_blank">
        <h4 class="counter" id="serverTypesCounterElement">
          0
        </h4>
        <h6>
          Server Types
        </h6>
      </a>
      <a [href]="'https://github.com/open-template-hub/app-generator'" class="counter-wrapper" rel=noopener
         target="_blank">
        <h4 class="counter" id="uiTypesCounterElement">
          0
        </h4>
        <h6>
          UI Types
        </h6>
      </a>
    </div>
  </div>
  <div class="in-page-title">
    <h4 class="testimonial-header">Customer Testimonials</h4>
    <h6 class="testimonial-description">What our customers are saying...</h6>
  </div>
  <div class="card-area">
    <app-testimonial-card *ngFor="let testimonial of TESTIMONIALS" [option]="testimonial">
    </app-testimonial-card>
  </div>
  <app-swiper-wrapper [partners]="PARTNERS"></app-swiper-wrapper>
  <div class="features-wrapper">
  </div>
  <app-cookies></app-cookies>
</div>
