<div class="edit-theme-page">
  <app-card1 [title]="'Theme Settings'">
    <div body>
      <div class="section-header">
        <p class="dim">Dark/Light Mode</p>
        <hr/>
      </div>
      <div class="section horizontal">
        <app-button1 (click)="setDarkLightSetting(DarkLightSettings.light)" [alwaysDark]="true"
                     [icon]="'sun'"
                     [isSleekButton]="true"
                     [selected]="darkLightSetting === DarkLightSettings.light"
                     [text]="'Light theme'">
        </app-button1>
        <app-button1 (click)="setDarkLightSetting(DarkLightSettings.dark)" [alwaysLight]="true"
                     [icon]="'moon'"
                     [isSleekButton]="true"
                     [selected]="darkLightSetting === DarkLightSettings.dark"
                     [text]="'Dark theme'">
        </app-button1>
        <app-button1 (click)="setDarkLightSetting(DarkLightSettings.auto)" [icon]="'adjust'"
                     [isSleekButton]="true"
                     [selected]="darkLightSetting === DarkLightSettings.auto"
                     [text]="'Auto'">
        </app-button1>
      </div>
      <div class="section-header">
        <p class="dim">Theme Color</p>
        <hr/>
      </div>
      <div class="section horizontal">
        <app-button1 (click)="setThemeColorSetting(themeColor)"
                     *ngFor="let themeColor of themeColorSettingsList"
                     [icon]="'tint'"
                     [isSleekButton]="true"
                     [lighterContrast]="true"
                     [selected]="themeColorSetting === themeColor"
                     [text]="themeColor + ' theme' | titlecase"
                     [themeColor]="themeColor"
                     [transparent]="true">
        </app-button1>
      </div>
    </div>
  </app-card1>
</div>
