.section.horizontal {
  width: 100%;
}

@media only screen and (min-width: 1000px) {
  .edit-theme-page {
    display: block;
    align-items: center;
    padding-top: 110px;
  }

  .edit-theme-page app-card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section.horizontal {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .section.horizontal app-brand-button {
    padding-right: 15px;
  }
}

@media only screen and (max-width: 999px) {
  .edit-theme-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 85px;
  }

  .edit-theme-page app-card1 {
    display: flex;
    justify-content: center;
  }

}
