<swiper
    [autoplay]="{
      delay: 2500,
      disableOnInteraction: false
    }"
    [breakpoints]="breakpoints"
    [loopFillGroupWithBlank]="true"
    [loop]="true"
    [navigation]="isNavigationEnabled"
    [pagination]="isPaginationEnabled ? {
      clickable: true
    } : undefined"
    [slidesPerView]="1"
    [spaceBetween]="10">
  <ng-template *ngFor="let item of items" swiperSlide>
    <img [class.grayscale]="isGrayscale" [height]="height" [src]="item.src" [alt]="item.description" class="brand-logo" width="auto"/>
  </ng-template>
</swiper>
