<swiper
    [slidesPerView]="1"
    [spaceBetween]="10"
    [loop]="true"
    [autoplay]="{
      delay: 2500,
      disableOnInteraction: false
    }"
    [loopFillGroupWithBlank]="true"
    [pagination]="isPaginationEnabled ? {
      clickable: true
    } : undefined"
    [navigation]="isNavigationEnabled"
    [breakpoints]="breakpoints">
  <ng-template *ngFor="let partner of partners" swiperSlide>
    <img [src]="partner.brandLogo" alt="logo" class="brand-logo " [class.grayscale]="isGrayscale" [height]="height"/>
  </ng-template>
</swiper>
