@use '../../../../styles/util/util';
@import '../../../../styles/loading/loading';

.image {
  @include default-background;
  @include util.default-border-radius;

  animation: animate-color 2s infinite;

  &.dropdown-item {
    width: 50px;
    height: 50px;
  }

  &.brand-logo-main {
    width: 180px;
    height: 30px;
  }

  &.employee-photo {
    width: 120px;
    height: 120px;
    @include util.default-border-radius-image;
  }
}
