<div [class.background-color]="isBackgroundColor" [class.centered-title]="centeredTitle" [class.editable]="isEditable"
     [class.is-small-title]="isSmallTitle" [class.max-height]="maxHeight" [class.not-fixed-height]="notFixedHeight"
     [class.rate-height]="rateHeight" [class.show-calendar]="(showCalendar || isEditable) && !notFixedHeight"
     class="event">
  <div *ngIf="title" class="event-header">
    <div [class.remove-line-clamp]="removeLineClamp" class="event-header-title">
      <h3 (click)="onClick()">{{title}}</h3>
      <app-event-hamburger-menu (calendarClicked)="createCalendarEvent()" (shareViaClicked)="shareVia( $event )"
                                *ngIf="showHamburgerMenu"
                                [showCalendar]=" showCalendar || isEditable "></app-event-hamburger-menu>
    </div>
    <div class="event-sub-header-title dim">
      <div class="event-sub-header-title-user">
        <h4 *ngIf="user?.username">by <a
            [routerLink]="(isPublicPage ? URLS.u : URLS.user.root) + '/' + user.username"
            class="link">{{isEditable ? 'you' : ( user.username.length > 12 ? user.username.slice( 0, 12 ) + '...' : user.username )}}</a>
        </h4>
        <h4 *ngIf="link && showCalendar">
          <app-ext-link [href]="link" [linkClass]="'theme-color-link'">
            <i [class]="'fas fa-link fa-fw'" aria-hidden="true"></i>join meeting
          </app-ext-link>
        </h4>
      </div>
      <div class="event-sub-header-title-date">
        <h4 *ngIf="date">{{dateItem}}</h4>
        <h4 *ngIf="date">{{timeItem}}</h4>
      </div>
    </div>
  </div>
  <div class="event-content">
    <div *ngIf="count !== undefined || duration !== undefined" class="content-information-row dim">
      <div *ngIf="duration !== undefined" class="content-information-row-inner-row">
        <i [class]="'far fa-clock fa-lg fa-fw'" aria-hidden="true"></i>
        <p class="content-information-row-duration"><span class="content-information-row-data">{{duration}}</span>
          Minutes</p>
      </div>
      <div *ngIf="count !== undefined" class="content-information-row-inner-row">
        <i [class]="'fas fa-users fa-lg fa-fw'" aria-hidden="true"></i>
        <p class="content-information-row-attendees"><span class="content-information-row-data">{{count}}</span>
          Attendees</p>
      </div>
    </div>
    <!--RATE-->
    <div *ngIf="showRateBar" class="rate-badge-wrapper product-review-stars-input">
      <input (click)="onStarClick( 5 )" [id]="'star5' + id" class="visuallyHidden" name="rating" type="radio"/>
      <label [for]="'star5' + id" class="far fa-sm fa-star"></label>
      <input (click)="onStarClick( 4 )" [id]="'star4' + id" class="visuallyHidden" name="rating" type="radio"/>
      <label [for]="'star4' + id" class="far fa-sm fa-star"></label>
      <input (click)="onStarClick( 3 )" [id]="'star3' + id" class="visuallyHidden" name="rating" type="radio"/>
      <label [for]="'star3' + id" class="far fa-sm fa-star"></label>
      <input (click)="onStarClick( 2 )" [id]="'star2' + id" class="visuallyHidden" name="rating" type="radio"/>
      <label [for]="'star2' + id" class="far fa-sm fa-star"></label>
      <input (click)="onStarClick( 1 )" [id]="'star1' + id" class="visuallyHidden" name="rating" type="radio"/>
      <label [for]="'star1' + id" class="far fa-sm fa-star"></label>
    </div>
    <!--END OF RATE-->
    <div [class.add-margin-to-description]="addMarginToDescription" [class.remove-line-clamp]="removeLineClamp"
         class="event-description">
      {{description}}
    </div>
  </div>
  <div class="event-last-item">
    <app-button1 (click)="onEditClick()" *ngIf="isEditable && !inProgress && !showRateBar && !completed"
                 [icon]="'pen'" [isSleekButton]="true" [text]="'Edit'" [themeColor]="'default-theme'">
    </app-button1>
    <app-button1 (click)="onBuyNowClick()"
                 *ngIf="!isEditable && isPremium && attendeeButton && !showRateBar && !completed"
                 [icon]="'shopping-cart'" [isSleekButton]="true" [text]="'Buy Now ' + (price ? '(' + price + '$)' : '')"
                 [themeColor]="'default-theme'">
    </app-button1>
    <app-button1 (click)="onAttendClick()"
                 *ngIf="!isEditable && !isPremium && attendeeButton && !showRateBar && !completed"
                 [isSleekButton]="true" [text]="'Attend'" [themeColor]="'default-theme'">
    </app-button1>
    <app-button1 (click)="onDropClick()" *ngIf="!isEditable && dropButton && !showRateBar && !completed && !isPremium"
                 [hoverWithColor]="false"
                 [isSleekButton]="true" [lighterContrast]="true" [text]="'Drop'" [transparent]="true">
    </app-button1>
    <app-button1 (click)="onMarkAsCompletedClick()" *ngIf="markAsCompleted && !showRateBar && !completed"
                 [icon]="'check'" [isSleekButton]="true" [text]="'Mark As Completed'" [themeColor]="'default-theme'">
    </app-button1>
    <app-button1 *ngIf="!isEditable && dropButton && !showRateBar && !completed && isPremium" [isSleekButton]="true"
                 [text]="'Attended'" [themeLightColor]="true">
    </app-button1>
    <app-button1 *ngIf="completed" [cursor]="'not-allowed'" [isSleekButton]="true" [text]="'Completed'"
                 [themeLightColor]="true">
    </app-button1>
    <app-button1 (click)="onRateClick()" *ngIf="showRateBar"
                 [isSleekButton]="true" [text]="'Rate'" [themeColor]="'default-theme'">
    </app-button1>
    <app-button1 *ngIf="inProgress" [cursor]="'not-allowed'"
                 [icon]="'hourglass'" [isSleekButton]="true" [text]="'In Progress'" [themeLightColor]="true">
    </app-button1>
    <div (click)="onCategoryClick()" class="event-categories">
      <p *ngIf="category && !subCategory && !leafCategory"><a class="link">{{'#' + category.name}}</a></p>
      <p *ngIf="subCategory && !leafCategory"><a class="link">{{'#' + subCategory.name}}</a></p>
      <p *ngIf="leafCategory"><a class="link">{{'#' + leafCategory.name}}</a></p>
    </div>
  </div>
  <div *ngIf="!isLastItem" class="event-bottom-wrapper">
  </div>
  <span *ngIf="ribbon.text" [attr.data-ribbon]="ribbon.text" [class]="ribbon.theme + '-theme'" class="ribbon"></span>
</div>
