<button [class.attendee]="isAttendee" [class.brand-color]="brandColor" [class.circle]="circle"
        [class.fixed-width]="fixedWidth" [class.hover-with-color]="hoverWithColor"
        [class.lighter-contrast]="lighterContrast" [class.mobile-view]="mobileView"
        [class.sleek-button]="isSleekButton" [class.success]="success" [class.transparent]="transparent"
        [class.contribute]="isContribute" class="button1 rounded-box" [class.brand-light-color]="brandLightColor"
        [class.always-light]="alwaysLight" [class.always-dark]="alwaysDark" [class.selected]="selected"
        [style.color]="themeColor ? 'var(--brand-color-' + themeColor + '-theme)' : ''"
        [style.border-color]="themeColor ? 'var(--brand-color-' + themeColor + '-theme)' : ''"
        [disabled]="loading || disabled" [style.cursor]="cursor">
  <i *ngIf="icon" [class]="'fas fa-' + icon + ' fa-lg fa-fw'"></i>
  {{text}}
</button>
