.button1 {
  border: none;
  padding: 1.2em 2.2em;
  font-weight: 300;
  font-size: 14px;
  color: var(--contrast);
  background-color: var(--color);
  cursor: pointer;
  transition: 200ms ease;
  margin: 0.25em 0.25em 1em;
  vertical-align: text-bottom;
}

.button1.relative-to-parent.sleek-button {
  font-size: 1em;
  letter-spacing: 0.1em;
  min-width: 45%;
}

.button1.attendee {
  margin: 0.25em 0.25em 0.25em;
}

.button1.contribute {
  padding: 1em;
  margin: 0;
}

.button1.brand-color {
  color: whitesmoke;
  background-color: var(--brand-color);
}

.button1.always-light {
  color: var(--contrast-light-mode);
  background-color: var(--color-light-mode);
}

.button1.always-dark {
  color: var(--contrast-dark-mode);
  background-color: var(--color-dark-mode);
}

.button1.brand-light-color {
  color: whitesmoke;
  background-color: var(--brand-color-lighter-5);
}

.button1.transparent {
  background-color: transparent;
}

.button1.success {
  border: 1px solid var(--success);
  color: var(--success);
}

.button1.selected {
  box-shadow: 0 0 3px 3px var(--brand-color-lighter-1);
}

.button1.lighter-contrast {
  border: 1px solid var(--lighter-contrast);
  color: var(--lighter-contrast);
}

.button1:disabled {
  pointer-events: none;
  filter: opacity(60%);
}

.button1.fixed-width {
  width: 160px;
}

.button1.sleek-button {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

@media only screen and (max-width: 999px) {
  .button1.mobile-view {
    width: -webkit-fill-available;
    min-width: -webkit-min-content;
    padding: 0.5em;
  }

  .button1.sleek-button {
    width: -webkit-fill-available;
    min-width: -webkit-min-content;
  }
}

@media only screen and (min-width: 1000px) {
  .button1.sleek-button {
    min-width: 220px;
  }
}

@media (hover: hover) {
  .button1.hover-with-color:hover {
    color: var(--darker-contrast);
  }

  .button1:hover {
    box-shadow: 0 3px 15px 1px var(--shadow);
  }

  .button1.brand-color:hover {
    background-color: var(--brand-color);
    color: white;
  }

  .button1.brand-light-color:hover {
    background-color: var(--brand-color-lighter-5);
    color: whitesmoke;
    box-shadow: initial;
  }

  .button1.hover-with-color.always-light:hover {
    color: var(--darker-contrast-light-mode);
  }

  .button1.hover-with-color.always-dark:hover {
    color: var(--darker-contrast-dark-mode);
  }

  .button1.selected:hover {
    box-shadow: 0 0 3px 3px var(--brand-color-lighter-1);
  }
}
