<div class="dropdown">
  <div #toggleButton class="ng-content-area">
    <ng-content (click)="toggleDropdown()"></ng-content>
  </div>

  <div *ngIf="isDropdownOpen" #dropdownContent class="dropdown-content"
       [class.dropdown-opened]="isDropdownOpen && closeDropdownInternalClicked">
    <i aria-hidden="true" class="dropdown-caret fas fa-caret-up fa-lg fa-fw"></i>
    <div class="dropdown-top-menu" (click)="closeDropDownInternal()">
      <i aria-hidden="true" class="fas fa-times fa-lg fa-fw"></i>
    </div>

    <div class="section-column-wrapper" [style]="'min-width: ' + (330 * calculatedColumns) + 'px;'">
      <div class="section-column" *ngFor="let productLine of productLines; last as isLastColumn; index as i"
           [class.section-column-right-border]="!(i == calculatedColumns - 1 || isLastColumn)"
           [class]="productLine.color ? productLine.color + '-theme' : ''"
           [style]="'max-height: ' + ((60  + (150 * calculatedRows)) + 1) + 'px;'">
        <div *ngIf="productLine.name" class="section-header">
          <h4>
            {{ productLine.name }}
          </h4>
          <p>
            {{ productLine.description }}
          </p>
          <hr/>
        </div>

        <a *ngFor="let product of productLine.products; last as isLast; first as isFirst"
           class="dropdown-item"
           [class]="product.color ? product.color + '-theme' : ''"
           [routerLink]="URLS.product" [queryParams]="{productLineName: productLine.key, productName: product.key}"
           (click)="closeDropDownInternal()">

          <img [src]="product.logo" alt="logo" class="dropdown-item-logo" height="55"/>

          <div class="dropdown-item-content">
            <h6>
              {{ product.name }}
            </h6>
            <p>
              {{ product.description }}
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
