.dropdown {
  position: relative;
}

.dropdown-content {
  background-color: var(--card);
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-content i {
  position: absolute;
  top: -9px;
  left: 22px;
  font-size: 15px;
  color: var(--color);
}

.dropdown-item {
  display: flex;
  width: 300px;
  padding: 15px;
  cursor: pointer;
}

.dropdown-item-logo {
  margin-right: 20px;
}

.dropdown-item-content span {
  font-size: 14px;
  font-weight: 500;
}

.dropdown-item-content p {
  margin-top: 10px;
}

.ng-content-area {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.section-column .section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-column .section-header h4 {
  color: var(--brand-color);
  font-weight: 500;
}

.section-column .section-header p {
  color: var(--lighter-contrast);
  padding: 0 10px;
  height: 32px;
}

.section-header hr {
  width: 100%;
  margin: 0;
  border-style: dashed;
  border-color: var(--brand-color);
}

@media only screen and (max-width: 999px) {
  .dropdown-content {
    display: block;
    position: fixed;
    bottom: 40px;
    overflow-y: scroll;
    height: 70%;

    right: 0;
    width: 100%;

    box-shadow: 0 0 4px 4px var(--shadow);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    z-index: 11;

    background-color: var(--background-color-alpha);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    animation: bottom-slide 0.5s;
  }

  .dropdown-content .dropdown-item {
    width: initial;
  }


  .dropdown-content .section-column {
    margin-top: 25px;
  }

  .dropdown-content i {
    top: initial;
    left: initial;
    right: 3px;
    padding: 10px;
    cursor: pointer;
    position: fixed;
  }

  .dropdown-caret {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .dropdown-content {
    display: flex;
    position: absolute;
    padding: 12px 0 0;
    top: 60px;
    border-top: 1px;
    border-top-color: var(--brand-color-lighter-5);
    border-top-style: dashed;
  }

  .dropdown-cross {
    display: none;
  }

  .section-header hr {
    display: none;
  }
}
