<div class="dropdown">
  <div #toggleButton class="ng-content-area">
    <ng-content (click)="toggleDropdown()"></ng-content>
  </div>
  <div *ngIf="isDropdownOpen" #dropdownContent class="dropdown-content">
    <i aria-hidden="true" class="material-icons">change_history</i>
    <a *ngFor="let option of options; last as isLast" class="dropdown-item"
       (mouseover)="option.hover = true" (mouseleave)="option.hover = false"
       [ngStyle]="option?.hover && { 'background-color': option.backgroundColor }"
       [style.margin-bottom]="!isLast ? '10px' : '0'" [href]="option.link">
      <img [src]="option.brand.brandLogo" alt="logo" class="dropdown-item-logo" height="40"/>
      <div class="dropdown-item-content">
        <span>{{ option.header }}</span>
        <p>{{ option.description }}</p>
      </div>
    </a>
  </div>
</div>
