.dropdown {
  position: relative;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: var(--card);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 10;
  top: 61px;
}

.dropdown-content i {
  position: absolute;
  top: -13px;
  left: 22px;
  font-size: 15px;
  color: var(--lighter-contrast);
}

.dropdown-item {
  display: flex;
  width: 300px;
  padding: 10px;
  cursor: pointer;
}

.dropdown-item-logo {
  margin-right: 20px;
}

.dropdown-item-content span {
  font-size: 14px;
  font-weight: 500;
}

.dropdown-item-content p {
  margin-top: 10px;
}

.ng-content-area {
  display: flex;
  align-items: center;
  cursor: pointer;
}
