<div class="dropdown">
  <div #toggleButton class="ng-content-area">
    <ng-content (click)="toggleDropdown()"></ng-content>
  </div>

  <div *ngIf="isDropdownOpen" #dropdownContent class="dropdown-content"
       [class.dropdown-opened]="isDropdownOpen && closeDropdownInternalClicked">
    <i aria-hidden="true" class="dropdown-caret fas fa-caret-up fa-lg fa-fw"></i>
    <div class="dropdown-top-menu" (click)="closeDropDownInternal()">
      <i aria-hidden="true" class="fas fa-times fa-lg fa-fw"></i>
    </div>

    <div class="section-column-wrapper" [style]="'min-width: ' + (330 * calculatedColumns) + 'px;'">
      <div class="section-column" *ngFor="let column of productLines; last as isLastColumn"
           [class.section-column-right-border]="true"
           [class]="column.color ? column.color + '-theme' : ''"
           [style]="'max-height: ' + ((80  + (150 * calculatedRows)) + 1) + 'px;'">
        <div *ngIf="column.name" class="section-header">
          <h4>
            {{ column.name }}
          </h4>
          <hr [style.border-color]="'var(--brand-color)'"/>
          <p>
            {{ column.description }}
          </p>
        </div>

        <a *ngFor="let option of column.products; last as isLast; first as isFirst" class="dropdown-item"
           [class]="option.color ? option.color + '-theme' : ''"
           [routerLink]="URLS.product" [queryParams]="{productLineName: column.key, productName: option.key}"
           (click)="closeDropDownInternal()">

          <img [src]="option.logo" alt="logo" class="dropdown-item-logo" height="55"/>

          <div class="dropdown-item-content">
            <h6>
              {{ option.name }}
            </h6>
            <p>
              {{ option.description }}
            </p>
          </div>
        </a>
        <hr *ngIf="!isLastColumn"/>
      </div>
    </div>
  </div>
</div>
