@use '../../../../styles/util/util';

.dropdown {
  position: relative;
}

.dropdown-content {
  min-width: 160px;
  z-index: 10;
  background-color: var(--background-color-alpha);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  // this is removing caret at top but also needed to hide overflowing hover effects
  // overflow: hidden;
}

.dropdown-content i {
  font-size: 15px;
  color: var(--theme-color-lighter-2);
}

.dropdown-top-menu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;

  background-color: var(--background-color-alpha);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 5px -6px var(--shadow);
}

.dropdown-item {
  display: flex;
  cursor: pointer;
  align-items: center;

  -webkit-top-right-radius: 6px;
  -moz-top-right-radius: 6px;
  border-top-right-radius: 6px;

  -webkit-bottom-left-radius: 4px;
  -moz-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.dropdown-item-logo {
  margin-right: 15px;
}

.dropdown-item-content {
  height: 100%;
}

.dropdown-item-content h6, .dropdown-item-content p {
  font-size: 14px;
}

.dropdown-item-content h6 {
  font-weight: 500;
}

.dropdown-item-content p {
  margin-top: 10px;
}

.ng-content-area {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.section-column .section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.section-column .section-header h4 {
  color: var(--theme-color);
  font-weight: 500;
}

.section-header p {
  color: var(--lighter);
  padding: 5px;
  text-align: center;

}

.section-column hr {
  @include util.card-header-width-sm;

  margin: 0 0 0 10px;
  border-style: solid;
  border-color: var(--darker-contrast);
}

.section-header hr {
  width: 25%;
  margin: 0 0 0 1px;
  border-style: solid;
  border-color: var(--theme-color);
}

.section-column-wrapper {
  display: flex;
}

.section-column-right-border {
  border-right: 0.5px dashed var(--contrast);
}

@media only screen and (max-width: 999px) {
  .dropdown-content {
    display: block;
    position: fixed;
    bottom: calc(55px + env(safe-area-inset-bottom));
    height: 75%;
    box-shadow: 0 0 4px 4px var(--shadow);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 11;
    padding: 0;
    margin: 0;
    width: 100%;
    animation: bottom-slide-in 0.4s;
  }

  .dropdown-opened {
    animation: bottom-slide-out 0.4s;
    bottom: -100%;
  }

  .dropdown-content i {
    right: 3px;
    padding: 10px;
    position: fixed;
  }

  .dropdown-caret {
    display: none;
  }

  .dropdown-item {
    padding: 25px 15px;
  }

  .section-column-wrapper {
    overflow-y: auto;
    height: 100%;
    flex-direction: column;
  }

  .section-column .section-header h4 {
    padding-top: 10px;
  }

  .section-column:first-child {
    padding-top: 31px;
  }

  .show-more-caret {
    display: none;
  }
}

@media (hover: hover) {
  .dropdown-item:hover {
    transition: .4s all ease-in-out;
    background-color: var(--theme-color-lighter-8);
  }

  .dropdown-item:hover img {
    transition: .2s all ease-in-out;
    transform: scale(1.2);
  }

  .dropdown-item:hover .dropdown-item-content > * {
    color: var(--theme-color-darker-7);
  }
}

@media only screen and (min-width: 1000px) {
  .dropdown-content {
    position: absolute;
    padding: 12px 0 0;
    top: 60px;
    left: - 138px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: inset 0 7px 5px -7px var(--shadow), 0 8px 16px 0 var(--shadow);
    max-width: calc(100vw - 240px);
  }

  .dropdown-top-menu {
    display: none;
  }

  .section-column hr, .section-header hr {
    display: none;
  }

  .section-column .section-header p {
    height: 32px;
  }

  .dropdown-caret {
    position: absolute;
    top: -9px;
    left: 155px;
  }

  .section-column-wrapper {
    overflow-y: auto;
    flex-wrap: wrap;
    max-width: calc(100vw - 255px);
    max-height: calc(100vh - 200px);
  }

  .section-column-wrapper > .section-column {
    box-sizing: border-box;
    flex-grow: 1;

    min-width: 330px;
    width: 330px;
    max-width: 330px;

    max-height: 831px;

    overflow-y: auto;
    position: relative;
    overflow-x: hidden;
  }

  .dropdown-item {
    margin: auto;

    width: 299px;
    height: 120px;

    padding: 15px;
  }

  .section-column::-webkit-scrollbar {
    width: 2px;
  }

  .section-column::-webkit-scrollbar-track {
    background-color: var(--theme-color-lighter-9);
  }

  .section-column::-webkit-scrollbar-thumb {
    background-color: var(--theme-color-lighter-3);
  }
}
