/* based on angular-toastr css https://github.com/Foxandxss/angular-toastr/blob/cb508fe6801d6b288d3afc525bb40fee1b101650/dist/angular-toastr.css */

@use '../theme/theme.common';
@use '../util/util';

.toast-container {
  top: 12px;
  pointer-events: none;
  position: fixed;
  z-index: 30;
}

.toast-container * {
  box-sizing: border-box;

  & .ngx-toastr {
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.toast-message {
  word-wrap: break-word;

  & a, & label {
    color: var(--color);
    text-decoration: none;
  }
}

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: normal;
  color: var(--color);
  text-shadow: 0 1px 0 var(--shadow);

  &:hover, &:focus {
    color: var(--contrast);
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
  }
}

button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.toast-info {
  background-color: var(--info);
}

.toast-error {
  background-color: var(--error);
}

.toast-success {
  background-color: var(--success);
}

.toast-warning {
  background-color: var(--warn);
}

.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 300px;
  @include util.margin-x-auto;
}

.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
  @include util.margin-x-auto;
  width: 96%;
}

.ngx-toastr {
  pointer-events: auto;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;

  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  color: white;
  font-weight: 300;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--shadow-darker);
    z-index: 1;
  }
}

.ngx-toastr-dark-mode {
  @extend .ngx-toastr;
  @extend .dark-theme;
}

.ngx-toastr-light-mode {
  @extend .ngx-toastr;
  @extend .light-theme;
}

#toast-container .ngx-toastr {
  background-image: none;
  padding-left: 15px;
  display: flex;
  align-items: center;

  &:before {
    font-family: "Font Awesome 5 Free", sans-serif;
    color: white;
  }
}

#toast-container .toast-success > div, #toast-container .toast-info > div {
  padding-left: 10px;
}

#toast-container .toast-error > div {
  padding-left: 15px;
}

#toast-container .toast-warning > div {
  padding-left: 8px;
}

#toast-container > .toast-success:before,
#toast-container > .toast-error:before,
#toast-container > .toast-warning:before,
#toast-container > .toast-info:before {
  font-weight: 900;
}

#toast-container > .toast-success:before {
  content: "\f00c";
}

#toast-container > .toast-error:before {
  content: "\f057";
}

#toast-container > .toast-warning:before {
  content: "\f071";
}

#toast-container > .toast-info:before {
  content: "\f05a";
}

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: var(--shadow-darker);
  opacity: 0.4;
}

@media only screen and (max-width: 999px) {
  .toast-container {
    @include util.margin-x-auto;
    @include util.flex-layout-column;
    @include util.flex-center-center;
    @include util.card-width-sm;

    right: 0;
    left: 0;
  }

  .toast-container .ngx-toastr {
    width: 100%;
  }
}

@media only screen and (min-width: 1000px) {
  .toast-container {
    right: 12px;
  }
}
