@use '../theme/color/color.theme';
@use '../information/information';
@use '../util/util';

@mixin define-toast($type, $icon, $padding-left) {
  .toast-#{$type} {
    background-color: var(--#{$type});

    &:before {
      content: $icon;
    }

    & > div {
      padding-left: #{$padding-left};
    }
  }
}

@include define-toast(success, "\f071", "10px");
@include define-toast(info, "\f00c", "10px");
@include define-toast(warning, "\f05a", "8px");
@include define-toast(error, "\f057", "15px");

.toast-container {
  top: 12px;
  pointer-events: none;
  position: fixed;
  z-index: 30;

  & .ngx-toastr {
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.toast-container * {
  box-sizing: border-box;
}

.toast-message {
  word-wrap: break-word;

  & a, & label {
    color: var(--color);
    text-decoration: none;
  }
}

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: normal;
  color: var(--color);
  text-shadow: 0 1px 0 var(--shadow);

  &:hover, &:focus {
    color: var(--contrast);
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
  }
}

button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 300px;
  @include util.margin-x-auto;
}

.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
  @include util.margin-x-auto;
  width: 96%;
}

.ngx-toastr {
  @include util.default-border-radius;

  box-shadow: 0 0 15px -2px var(--shadow);

  pointer-events: auto;
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;

  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  color: var(--darker-contrast);
  font-weight: 400;
}

.ngx-toastr-dark-mode {
  @extend .ngx-toastr;
  @extend .dark-theme;
}

.ngx-toastr-light-mode {
  @extend .ngx-toastr;
  @extend .light-theme;
}

#toast-container .ngx-toastr {
  background-image: none;
  padding-left: 15px;
  display: flex;
  align-items: center;

  &:before {
    @include util.font-awesome;
    color: var(--darker-contrast);
  }
}

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: var(--shadow-darker);
  opacity: 0.4;
}

@media only screen and (max-width: 999px) {
  .toast-container {
    @include util.margin-x-auto;
    @include util.flex-layout-column;
    @include util.flex-center-center;
    @include util.card-width-sm;

    right: 0;
    left: 0;

    & .ngx-toastr {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .toast-container {
    right: 12px;
  }
}
