@use '../../../styles/util/util';

@mixin default-button {
  padding: 0.8em 2.2em;
  background-color: var(--color);
  transition: 200ms ease;
  margin: 0.25em 0.25em 1em;
  width: 100%;
}

@mixin selected-button-shadow {
  box-shadow: 0 0 3px 3px var(--theme-color-lighter-1);
}

.button {
  // Include
  @include default-button;

  // Position
  position: relative;

  // Color
  color: var(--contrast);

  // Design
  border: none;
  cursor: pointer;

  // Aligning
  vertical-align: text-bottom;

  // Font
  font-weight: 300;
  font-size: 14px;

  &:hover {
    @include util.default-shadow;
    @include selected-button-shadow;
  }

  // Button Types
  &.button-rounded-box {
    @include util.top-right-bottom-left-rounded-box;
  }

  // Social Themes
  &.github {
    background-color: var(--github);
    color: white;

    &:hover {
      color: white;
    }
  }

  // App Themes
  &.default-theme {
    color: whitesmoke;
    background-color: var(--theme-color);
  }

  &.transparent-button {
    background-color: transparent;
  }

  // Borders And Font Colors
  &.border-and-font {
    border: 1px solid var(--success);
    color: var(--theme-color);
    border-color: var(--theme-color);
  }

  // Shadows
  &.selected-button-shadow {
    @include selected-button-shadow;
  }

  // Dark Light Themes
  &.disable-dark-mode {
    color: var(--contrast-light-mode);
    background-color: var(--color-light-mode);
  }

  &.disable-light-mode {
    color: var(--contrast-dark-mode);
    background-color: var(--color-dark-mode);
  }
}
