<div class="raw-landing-raw-content-page">
  <div class="top-shadow">
  </div>
  <div class="hero">
    <div class="layers top-layer">
      <svg viewBox="0 0 1000 250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMax slice">
        <path d="M 0,250 1000,120 V 0 H 0 Z" style="fill: var(--brand-color-lighter-2);"></path>
      </svg>
    </div>
    <div class="brand-logo-wrapper hero-content">
      <div class="bounce-stage">
        <img [src]="brand.brandLogo" alt="logo" class="bounce brand-logo" height="100"/>
      </div>
      <h2>Registration success 🎉</h2>
    </div>
    <h6>{{'Verification email sent to: '}} <span style="color: var(--brand-color)">{{email}}</span></h6>
  </div>
</div>
