.event-card {
  & .header {
    filter: opacity(70%);
    cursor: pointer;

    &:hover {
      filter: opacity(100%);
    }

    &.no-hover:hover {
      transform: initial;
      transition: initial;
      filter: initial;
    }
  }

  &:hover {
    transform: scale(1.03);
    transition: transform .5s;
  }

  &.no-hover:hover {
    transform: initial;
    transition: initial;
    filter: initial;
  }
}

@media only screen and (max-width: 999px) {
  .event-card {
    & .header {
      width: 75%;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .event-card {
    & .header {
      width: 90%;
    }
  }
}
