.command-line {
  color: var(--contrast-light-mode);
  font-size: 14px;
  margin-top: 5px;

  & .text {
    margin-left: 10px;
    white-space: pre-line;
  }

  & .response {
    color: var(--warning);
  }

  & .request {
    color: var(--error);
  }

  & .command {
    font-size: 14px;
    font-weight: 600;
  }
}
