<div class="contact-us-page">
  <h1 class="page-header">Contact our sales team</h1>
  <div class="page-content">
    <app-card1 [enableHeader]="false" [paddingTopContent]="false" [isCardContentOverflowVisible]="true"
               [isScrollable]="true" class="contribute-card">
      <div body class="section">
        <!-- primary info fields -->
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
          <div class="left-column">
            <div [class.input-error]="submitted && form.controls.firstName.invalid" class="input-with-label">
              <input formControlName="firstName" placeholder="Jane" required type="text">
              <span>First name</span>
            </div>
            <div [class.input-error]="submitted && form.controls.secondName.invalid" class="input-with-label">
              <input formControlName="secondName" placeholder="Doe" required type="text">
              <span>Second name</span>
            </div>
            <div [class.input-error]="submitted && form.controls.workEmail.invalid" class="input-with-label">
              <input formControlName="workEmail" placeholder="jane.doe@example.com" required type="text">
              <span>Work email</span>
            </div>
            <div [class.input-error]="submitted && form.controls.workPhone.invalid" class="input-with-label">
              <input formControlName="workPhone" placeholder="+5 (555) 555-5555" type="text">
              <span>Work phone</span>
            </div>
            <div [class.input-error]="submitted && form.controls.companyWebsite.invalid" class="input-with-label">
              <input formControlName="companyWebsite" placeholder="example.com" type="text">
              <span>Company website</span>
            </div>
            <div [class.input-error]="submitted && form.controls.companySize.invalid" class="input-with-label">
              <select formControlName="companySize" (change)="changeCompanySize($event)">
                <option class="default-option" value="" disabled>Select range of employees</option>
                <option *ngFor="let option of sizeOptions" [ngValue]="option">{{ option }}</option>
              </select>
              <span>Company size</span>
            </div>
            <div [class.input-error]="submitted && form.controls.country.invalid" class="input-with-label">
              <select formControlName="country" (change)="changeCountry($event)">
                <option class="default-option" value="" disabled>Select a country</option>
                <option *ngFor="let country of countries" [ngValue]="country">{{ country }}</option>
              </select>
              <span>Country</span>
            </div>
            <div id="payment" [class.input-error]="submitted && form.controls.paymentsVolume.invalid" class="input-with-label">
              <select formControlName="paymentsVolume" (change)="changePaymentsVolume($event)">
                <option class="default-option" value="" disabled>Payments volume</option>
                <option *ngFor="let option of paymentsValueOptions" [ngValue]="option">{{ option }}</option>
              </select>
              <div class="form-span-wrapper" style="margin-top: 12px;">
                <span>Payments</span>
                <span class="span-description">How much money your business processes online each month.</span>
              </div>
            </div>
            <div id="anything-else" [class.input-error]="submitted && form.controls.anythingElse.invalid" class="input-with-label"
                 style="align-items: initial">
              <textarea formControlName="anythingElse" maxlength="500" placeholder="Description..." rows="2"></textarea>
              <span>Anything else</span>
            </div>
          </div>
          <div class="button-area">
            <app-button1 [themeColor]="'default'" [isSleekButton]="true" [relativeToParent]="true" [smallButton]="true"
                         [text]="'CONTACT SALES'">
            </app-button1>
          </div>
        </form>
      </div>
    </app-card1>
    <div class="features-area" *ngIf="features">
      <p class="header">{{ features.title }}</p>
      <p *ngFor="let feature of features.features">
        <i aria-hidden="true" class="material-icons">check</i>
        <span>{{ feature }}</span>
      </p>
    </div>
  </div>
  <div class="footer">
    <div class="footer-card-wrapper">
      <i aria-hidden="true" class="fa fa-comments fa-fw"></i>
      <div class="footer-card-right-column">
        <p class="footer-card-title">General Communication</p>
        <p class="footer-card-description">For general queries, including
          partnership opportunities, please email
          <a [href]="'mailto: ' + environmentCommon.oth.email" style="font-weight: bold;">{{ environmentCommon.oth.email }}</a>.
        </p>
      </div>
    </div>
    <div class="footer-card-wrapper">
      <i aria-hidden="true" class="fa fa-life-ring fa-fw"></i>
      <div class="footer-card-right-column">
        <p class="footer-card-title">Technical or account support</p>
        <p class="footer-card-description">We're here to help! If you have technical issues,
          <a [href]="URLS.maintenance" style="font-weight: bold;">contact support→</a>
        </p>
      </div>
    </div>
  </div>
</div>
