<div [class.background-color]="isBackgroundColor" [class.card1-scrollable-content]="isScrollable"
     [class.card1-small]="isSmall"
     [class.no-margin]="!margin" [class.no-shadow]="!shadow" [style.height]="height ? height : ''"
     [style.width]="width ? width : ''" class="card1" [class.testimonial-size]="testimonialSizeActive">
  <div *ngIf="topWrapper" [class.card1-top-wrapper-in-brand-color]="topWrapperInBrandColor"
       class="card1-top-wrapper">
  </div>
  <div *ngIf="topLayer" class="layers top-layer">
    <svg [style.margin-top]="topLayerMarginTop"
         [style.min-height]="topLayerMinHeight" viewBox="0 0 1000 250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMax slice">
      <path d="M 0,250 1000,120 V 0 H 0 Z" style="fill: var(--brand-color-lighter-2);"></path>
    </svg>
  </div>
  <div *ngIf="topLayer2" class="layers top-layer style2">
    <svg [style.margin-top]="topLayerMarginTop"
         [style.min-height]="topLayerMinHeight" width="1000" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMax slice">
      <path transform="rotate(180 500 125)" d="m0,250l1000,-130l0,-120l-1000,0l0,250z"
            [style.fill]="topLayerBackgroundColor ? topLayerBackgroundColor : 'var(--brand-color-lighter-2)'"
            id="svg_1" stroke="null" fill-opacity="0.4"/>
    </svg>
  </div>
  <div *ngIf="!headerProfileImg && enableHeader && !enableHeaderFullImg" class="card1-header rounded-box">
    <h3>{{title}}</h3>
  </div>

  <div *ngIf="headerProfileImg && enableHeader" class="card1-header card1-header-img">
    <div class="profile-img-wrapper">
      <img [src]="headerProfileImg" alt="profile img" class="profile-img-full"/>
    </div>
  </div>

  <div *ngIf="enableHeader && enableHeaderFullImg"
       class="card1-header card1-header-img card1-header-full-img rounded-box" [class.max-height]="maxHeight">
    <ng-content select="[headerFullImg]"></ng-content>
  </div>

  <div *ngIf="subHeaderProfileImg" class="profile-img-wrapper card1-sub-header-profile-img">
    <img [src]="subHeaderProfileImg" alt="profile img"
         class="profile-img-full"/>
  </div>

  <div *ngIf="underHeaderProfileImg" class="profile-img-wrapper card1-under-header-profile-img">
    <img [src]="underHeaderProfileImg" alt="profile img"
         class="profile-img-full"/>
  </div>

  <div [class.no-padding]="!paddingContent" [class.no-top-padding]="!paddingTopContent"
       [class.overflow-visible]="isCardContentOverflowVisible"
       class="card1-content">
    <ng-content select="[body]"></ng-content>
  </div>
  <div *ngIf="bottomWrapper" [class.card1-bottom-wrapper-in-brand-color]="bottomWrapperInBrandColor"
       class="card1-bottom-wrapper">
  </div>
  <span *ngIf="ribbon.type" [attr.data-ribbon]="ribbon.text" [class]="'ribbon ribbon-' + ribbon.type"></span>
</div>
