@use '../../../../styles/util/util';

.pricing-page {
  padding-bottom: 20vh;
  font-size: 17px;

  & .pricing-wrapper {

    & > * {
      margin-top: 50px;
    }
  }
}

@media only screen and (max-width: 999px) {
  .pricing-page {
    font-size: 17px;

    & .pricing-wrapper {
      @include util.flex-layout-column;
      @include util.flex-center-center;

      justify-content: space-evenly;

      width: 100vw;
      margin-top: 0;

      & > * {
        width: 94vw;
      }
    }

    & .hero-content > * {
      @include util.flex-layout-column;
      @include util.card-width-sm;
      margin-bottom: 50px;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .pricing-page {
    font-size: 25px;

    & .pricing-wrapper {
      @include util.flex-layout-row;

      justify-content: center;
      flex-wrap: wrap;

      width: 100%;
      margin-top: 70px;

      & > * {
        width: 300px;
        margin: {
          left: 70px;
          right: 70px;
        }

        &:hover {
          transform: scale(1.02);
          transition: transform .5s;
        }
      }

      & .bigger-card {
        transform: scale(1.15);

        &:hover {
          transform: scale(1.18);
        }
      }
    }

    & .hero {
      padding-bottom: 50px;
    }

    & .hero-content {
      flex-direction: column;
      max-width: 50vw;

      & > * {
        flex-direction: column;
      }
    }
  }
}
