.pricing-page {
  position: relative;
}

.in-page-title h2 {
  letter-spacing: 0.1em;
  margin-bottom: 0.6em;
}

.offer-area {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

app-pricing-card {
  width: 33%;
}

@media only screen and (min-width: 1000px) {
  .pricing-page {
    display: block;
    padding-top: 110px;
    min-height: 100vh;
  }
}

@media only screen and (max-width: 999px) {
  .pricing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 85px;
  }

  .pricing-page app-pricing-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
