<div class="home-page">
  <div class="hero">
    <div class="hero-content">
      <div class="hero-content-left">
        <h1>Open Template Hub</h1>
        <h6>Minimizes your effort while building a new software business with our open source GitHub micro server
          templates and responsive web UI + mobile UI templates</h6>
        <div class="register-wrapper">
          <a routerLink="{{URLS.signup}}">
            <i aria-hidden="true" class="material-icons">person_add</i>
            <span>
              Join now!
            </span>
          </a>
        </div>
      </div>

      <div class="hero-content-right">
        <img class="demonstration" [src]="'./assets/common/demonstration/demonstration-main.png'" alt="demonstration"/>
      </div>
    </div>
    <div class="counters">
      <a class="counter-wrapper" href="https://www.npmjs.com/package/@open-template-hub/server-generator"
         target="_blank" rel=noopener>
        <h4 id="npmCounterElement" class="counter">
          0
        </h4>
        <h6>
          Npm Downloads
        </h6>
      </a>
      <a class="counter-wrapper counter-alter"
         href="https://github.com/open-template-hub/server-generator" target="_blank" rel=noopener>
        <h4 id="githubStarCounterElement" class="counter">
          0
        </h4>
        <h6>
          Server Types
        </h6>
      </a>
      <a class="counter-wrapper" href="https://github.com/open-template-hub" target="_blank" rel=noopener>
        <h4 id="serverTypesCounterElement" class="counter">
          0
        </h4>
        <h6>
          UI Types
        </h6>
      </a>
    </div>
  </div>

  <div class="features">
    <h4>Micro servers for your needs</h4>
    <div class="feature-wrapper feature-right">
      <div class="feature">
        <a href="https://github.com/open-template-hub/auth-server-nodejs-template">
          <img class="demonstration" [src]="'./assets/common/demonstration/demonstration-auth-server-nodejs-template.png'" alt="demonstration"/>
        </a>
        <div class="feature-notes">
          <h5>
            Auth Server Template
          </h5>
          <h6>
            Authentication Server Template supporting both regular signup and login processes and login with social
            networks that support OAuth and OAuth2.0
          </h6>
        </div>
      </div>
      <div class="layers">
        <svg viewBox="0 0 1000 150" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMin slice">
          <path d="M 0,150 1000,0 v 150 z" style="fill: var(--brand-color-lighter-5);"></path>
        </svg>
      </div>
    </div>
    <div class="feature-wrapper feature-left">
      <div class="feature">
        <a href="https://github.com/open-template-hub/payment-server-template">
          <img class="demonstration" [src]="'./assets/common/demonstration/demonstration-payment-server-template.png'"
               alt="demonstration"/>
        </a>
        <div class="feature-notes">
          <h5>
            Payment Server Template
          </h5>
          <h6>
            Payment Server template integrated with Stripe and Coinbase Commerce payment systems
          </h6>
        </div>
      </div>

      <div class="layers">
        <svg viewBox="0 0 1000 150" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMin slice">
          <path d="M 0,150 1000,0 v 150 z" style="fill: var(--background-color);"></path>
        </svg>
      </div>
    </div>
    <div class="feature-wrapper feature-right">
      <div class="feature">
        <a href="https://github.com/open-template-hub/file-storage-server-template">
          <img class="demonstration" [src]="'./assets/common/demonstration/demonstration-file-storage-server-template.png'"
               alt="demonstration"/>
        </a>
        <div class="feature-notes">
          <h5>
            File Storage Server Template
          </h5>
          <h6>
            File Storage Server Template that supports uploading and downloading files from AWS S3
          </h6>
        </div>
      </div>
      <div class="layers">
        <svg viewBox="0 0 1000 150" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMin slice">
          <path d="M 0,150 1000,0 v 150 z" style="fill: var(--brand-color-lighter-5);"></path>
        </svg>
      </div>
    </div>
    <div class="feature-wrapper feature-left">
      <div class="feature">
        <a href="https://github.com/open-template-hub/analytics-server-template">
          <img class="demonstration" [src]="'./assets/common/demonstration/demonstration-analytics-server-template.png'"
               alt="demonstration"/>
        </a>
        <div class="feature-notes">
          <h5>
            Analytics Server Template
          </h5>
          <h6>
            Analytics Server Template for generic usage in Node.js
          </h6>
        </div>
      </div>

      <div class="layers">
        <svg viewBox="0 0 1000 150" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMin slice">
          <path d="M 0,150 1000,0 v 150 z" style="fill: var(--background-color);"></path>
        </svg>
      </div>
    </div>
    <div class="feature-wrapper feature-right">
      <div class="feature">
        <a href="https://github.com/open-template-hub/basic-info-server-template">
          <img class="demonstration" [src]="'./assets/common/demonstration/demonstration-basic-info-server-template.png'"
               alt="demonstration"/>
        </a>
        <div class="feature-notes">
          <h5>
            Basic Info Server Template
          </h5>
          <h6>
            Basic Info Server Template for generic usage in Node.js
          </h6>
        </div>
      </div>
    </div>
  </div>
  <app-cookies></app-cookies>
</div>
