<div class="home-page">
  <div class="hero">
    <div class="hero-content">
      <div class="hero-content-left">
        <h1>Open Template Hub</h1>
        <h6>Minimizes your effort while building a new software business with our open source GitHub micro server
          templates and responsive web UI + mobile UI templates</h6>
        <div class="register-wrapper">
          <a routerLink="{{URLS.maintenance}}">
            <span>
              Request for Demo
            </span>
          </a>
        </div>
      </div>

      <div class="hero-content-right">
        <img class="demonstration"
             [src]="'https://raw.githubusercontent.com/open-template-hub/open-template-hub.github.io/master/assets/products/company-profile-ui/oth-packages.png'"
             alt="oth-packages"/>
      </div>
    </div>
    <div class="counters">
      <a class="counter-wrapper"
         [href]="environmentCommon.website.github.url + '/' + environmentCommon.oth.social.github"
         target="_blank" rel=noopener>
        <h4 id="npmCounterElement" class="counter">
          0
        </h4>
        <h6>
          Npm Downloads
          <br/>
          (in total)
        </h6>
      </a>
      <a class="counter-wrapper counter-alter"
         [href]="'https://github.com/open-template-hub/server-generator'" target="_blank" rel=noopener>
        <h4 id="githubStarCounterElement" class="counter">
          0
        </h4>
        <h6>
          Server Types
        </h6>
      </a>
      <a class="counter-wrapper" [href]="'https://github.com/open-template-hub/app-generator'" target="_blank"
         rel=noopener>
        <h4 id="serverTypesCounterElement" class="counter">
          0
        </h4>
        <h6>
          UI Types
        </h6>
      </a>
    </div>
  </div>
  <div class="in-page-title">
    <h4 class="testimonial-header">Customer reviews</h4>
    <h6 class="testimonial-description">What our customers are saying...</h6>
  </div>
  <div class="card-area">
    <app-testimonial-card [option]="option1" [marginTop]="'235px'" [minHeight]="'50px'"></app-testimonial-card>
    <app-testimonial-card [option]="option2" [marginTop]="'180px'" [minHeight]="'156px'"></app-testimonial-card>
    <app-testimonial-card [option]="option3" [marginTop]="'119px'" [minHeight]="'217px'"></app-testimonial-card>
  </div>
  <app-swiper-wrapper [partners]="PARTNERS"></app-swiper-wrapper>
  <div class="features-wrapper">
  </div>
  <app-cookies></app-cookies>
</div>
