<div class="home-page">
  <div class="hero">
    <div class="hero-content">
      <div class="hero-content-left">
        <h1>Open Template Hub</h1>
        <h6>Minimizes your effort while building a new software business with our open source GitHub micro server
          templates and responsive web UI + mobile UI templates</h6>
        <div class="register-wrapper">
          <a routerLink="{{URLS.maintenance}}">
            <span>
              Request for Demo
            </span>
          </a>
        </div>
      </div>

      <div class="hero-content-right">
        <img class="demonstration" [src]="'https://github.com/open-template-hub/open-template-hub.github.io/blob/master/assets/products/company-profile-ui/oth-packages.png?raw=true'" alt="oth-packages"/>
      </div>
    </div>
    <div class="counters">
      <a class="counter-wrapper" href="https://www.npmjs.com/package/@open-template-hub/server-generator"
         target="_blank" rel=noopener>
        <h4 id="npmCounterElement" class="counter">
          0
        </h4>
        <h6>
          Npm Downloads
          <br/>
          (in total)
        </h6>
      </a>
      <a class="counter-wrapper counter-alter"
         href="https://github.com/open-template-hub/server-generator" target="_blank" rel=noopener>
        <h4 id="githubStarCounterElement" class="counter">
          0
        </h4>
        <h6>
          Server Types
        </h6>
      </a>
      <a class="counter-wrapper" href="https://github.com/open-template-hub/app-generator" target="_blank" rel=noopener>
        <h4 id="serverTypesCounterElement" class="counter">
          0
        </h4>
        <h6>
          UI Types
        </h6>
      </a>
    </div>
  </div>
  <div class="in-page-title">
    <h4 class="testimonial-header">Customer reviews</h4>
    <h6 class="testimonial-description">What our customers are saying...</h6>
  </div>
  <div class="card-area">
    <app-testimonial-card [option]="option1" [marginTop]="'235px'" [minHeight]="'50px'"></app-testimonial-card>
    <app-testimonial-card [option]="option2" [marginTop]="'180px'" [minHeight]="'156px'"></app-testimonial-card>
    <app-testimonial-card [option]="option3" [marginTop]="'119px'" [minHeight]="'217px'"></app-testimonial-card>
  </div>
  <app-swiper-wrapper></app-swiper-wrapper>
  <div class="features-wrapper">
    <div *ngFor="let productLine of PRODUCT_LINES;" class="features">
      <div class="product-line-header">
        <h4 *ngIf="productLine.sectionTitle" [style.color]="productLine.sectionColor ? productLine.sectionColor : ''">
          {{ productLine.sectionTitle }}
        </h4>
        <h5 *ngIf="productLine.sectionDescription">
          {{ productLine.sectionDescription }}
        </h5>
      </div>

      <div *ngFor="let product of productLine.menus; let i = index; last as isLast" class="feature-wrapper"
           [class.feature-left]="i % 2 === 1" [class.feature-right]="i % 2 === 0">
        <div *ngIf="i % 2 === 0" class="layers">
          <svg viewBox="0 0 1000 150" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMin slice">
            <path d="M 0,150 1000,0 v 150 z" [style]="'fill: ' + (product.backgroundColor ? product.backgroundColor : 'var(--hover)') + ';'"></path>
          </svg>
        </div>
        <div *ngIf="i % 2 === 1" class="layers">
          <svg viewBox="0 0 1000 150" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMin slice">
            <path d="M 1000,0 0,0 v 150 z" [style]="'fill: ' + (product.backgroundColor ? product.backgroundColor : 'var(--hover)') + ';'"></path>
          </svg>
        </div>
        <div class="feature" [style.background-color]="i % 2 == 0 ? (product.backgroundColor ? product.backgroundColor : 'var(--hover)') : ';'">
          <a class="feature-img-wrapper" [href]="product.link">
            <img class="server-logo"
                 [src]="product.brand.brandLogo"
                 alt="server-logo"/>
          </a>
          <div class="feature-notes">
            <h5>
              {{ product.header }}
            </h5>
            <h6>
              {{ product.description }}
            </h6>
          </div>
        </div>

        <div *ngIf="i % 2 === 0 && isLast" class="layers">
          <svg viewBox="0 0 1000 150" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMin slice">
            <path d="M 1000,0 0,0 v 150 z" [style]="'fill: ' + (product.backgroundColor ? product.backgroundColor : 'var(--hover)') + ';'"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <app-cookies></app-cookies>
</div>
