<div class="raw-content-page-layout">
  <div class="hero">
    <div class="hero-content">
      <div class="logo-wrapper">
        <img [src]="brand.brandLogoMerge" alt="logo" class="brand-logo" height="150"/>
      </div>
      <div>
        <h2>Under maintenance</h2>
        <h4 class="warning-text">Please check again later</h4>
      </div>
    </div>
    <h2>Under maintenance</h2>
    <h4>Please check again later</h4>
    <app-theme-button (click)="router.navigate(['/'])" [buttonText]="'HOME'" [buttonClasses]="[ yellowButtonClass ]"></app-theme-button>
  </div>
</div>
