<div class="landing-form-page">
  <app-card1 *ngIf="!success" [isSmall]="true" [title]="'Forget password'">
    <form (ngSubmit)="onSubmit()" [formGroup]="forgetPasswordForm" body>
      <div class="section">
        <div [class.input-error]="submitted && f.username.invalid" class="input-with-icon">
          <input formControlName="username" placeholder="Username..." required type="text">
          <i area-hidden="true" class="fas fa-user fa-lg fa-fw"></i>
        </div>
      </div>
      <div class="section-submit">
        <app-button1 [text]="'SEND'"></app-button1>
      </div>
    </form>
  </app-card1>
  <app-card1 *ngIf="success" [isSmall]="true" [title]="'Forget password'">
    <div body class="section">
      <h3>{{'Reset email sent!'}}</h3>
      <h3>{{'Please check you inbox'}}</h3>
      <br/>
      <br/>
      <app-button1 (click)="router.navigate(['/login'])" [text]="'LOG IN'"></app-button1>
    </div>
  </app-card1>
</div>
