.alert-with-icon {
  width: 100%;
  position: relative;
  margin-top: 22px;
  margin-bottom: 50px;
  color: var(--color);
}

.alert-with-icon p {
  padding: 0;
}

.alert-with-icon i {
  position: relative;
  padding-bottom: 15px;
}

.success-text, .success-text p, .success-text i {
  color: var(--success);
}

.input-success input {
  border-color: var(--success);
}

.input-success input::-webkit-input-placeholder {
  color: var(--success);
}

.input-success input:focus {
  border-color: var(--success);
}

.input-success.input-with-icon input:focus + i, .input-success.input-with-label input:focus + span {
  color: var(--success);
}

.input-success.input-with-icon i, .input-success.input-with-label span {
  color: var(--success);
}

.error-text, .error-text p, .error-text h1, .error-text h2, .error-text h3, .error-text h4, .error-text h5, .error-text h6, .error-text i {
  color: var(--error);
}

.input-error input, .input-error select {
  border-color: var(--error);
}

.input-error input::-webkit-input-placeholder, .input-error p {
  color: var(--error);
}

.input-error input:focus, .input-error select:focus {
  border-color: var(--error);
}

.input-error.input-with-icon input:focus + i, .input-error.input-with-label input:focus + span, .input-error.input-with-label select:focus + span {
  color: var(--error);
}

.input-error.input-with-icon i, .input-with-error.input-with-label span {
  color: var(--error);
}

.warn-text, .warn-text p, .warn-text i {
  color: var(--warn);
}

.input-warn input {
  border-color: var(--warn);
}

.input-warn input::-webkit-input-placeholder {
  color: var(--warn);
}

.input-warn input:focus {
  border-color: var(--warn);
}

.input-warn.input-with-icon input:focus + i, .input-warn.input-with-label input:focus + span {
  color: var(--warn);
}

.input-warn.input-with-icon i, .input-warn.input-with-label span {
  color: var(--warn);
}

.info-text, .info-text p, .info-text i {
  color: var(--info);
}

.input-info input {
  border-color: var(--info);
}

.input-info input::-webkit-input-placeholder {
  color: var(--info);
}

.input-info input:focus {
  border-color: var(--info);
}

.input-info.input-with-icon input:focus + i, .input-info.input-with-label input:focus + span {
  color: var(--info);
}

.input-info.input-with-icon i, .input-info.input-with-label span {
  color: var(--info);
}

.input-with-label input:focus + span, .input-with-label select:focus + div span, .input-with-label textarea:focus + span {
  color: var(--theme-color);
}

.input-with-label span {
  color: var(--color);
}

@media only screen and (max-width: 999px) {
  .alert-with-icon {
    max-width: 85vw;
  }
}

@media only screen and (min-width: 1000px) {
  .alert-with-icon {
    max-width: 35vw;
  }
}
