<div class="raw-content-page-layout">
  <div class="hero">
    <div class="hero-content">
      <div class="logo-wrapper">
        <img [src]="brand.brandLogoBroken" alt="logo" class="brand-logo" height="150"/>
      </div>
      <div>
        <h2>404 Page not found</h2>
        <h4 class="error-text">Something went wrong!</h4>
      </div>
    </div>
    <h2>404 Page not found</h2>
    <h4>Something went wrong!</h4>
    <app-theme-button (click)="router.navigate(['/'])" [buttonText]="'HOME'" [buttonClasses]="[ redButtonClass ]">
    </app-theme-button>
  </div>
</div>
