<div class="color-chart">

  Less

  <svg class="d-inline-block" height="10" width="10">
    <rect height="10" style="fill: var(--theme-color-lighter-4)" width="10"></rect>
  </svg>
  <svg class="d-inline-block" height="10" width="10">
    <rect height="10" style="fill: var(--theme-color-lighter-3)" width="10"></rect>
  </svg>
  <svg class="d-inline-block" height="10" width="10">
    <rect height="10" style="fill: var(--theme-color-lighter-2)" width="10"></rect>
  </svg>
  <svg class="d-inline-block" height="10" width="10">
    <rect height="10" style="fill: var(--theme-color-lighter-1)" width="10"></rect>
  </svg>
  <svg class="d-inline-block" height="10" width="10">
    <rect height="10" style="fill: var(--theme-color)" width="10"></rect>
  </svg>

  More

</div>
