<div class="splash-content flex-layout-column flex-center-center">
  <div class="splash-logos flex-layout-row flex-center-center">
    <img [src]="BRAND.logo.main" alt="logo"/>
    <i *ngIf="!error" aria-hidden="true" class="fa fa-check-circle success-text"></i>
    <i *ngIf="error" aria-hidden="true" class="fa fa-times-circle error-text"></i>
    <img [src]="website.logo" alt="partner"/>
  </div>
  <div *ngIf="!error" [class]="'splash-loading-bar ' + website.cssClass">
  </div>
  <div *ngIf="error" class="error-text information">
    <p>
      {{error}}
    </p>
  </div>
</div>
