<app-card [headerTemplate]="headerTemplate" [bodyTemplate]="bodyTemplate" [footerTemplate]="footerTemplate" *ngIf="timelineItem" class="timeline-card"
          [class]="timelineItem.theme ? timelineItem.theme + '-theme' : ''">
  <!-- Header -->
  <ng-template #headerTemplate>
    <div class="header" [class.left]="arrow === 'left'" [class.right]="arrow === 'right'">
      <h4>{{ timelineItem.title }}</h4>
      <h5>{{ timelineItem.date }}</h5>
    </div>
  </ng-template>

  <!-- Body -->
  <ng-template #bodyTemplate>
    <div class="body">
      <h3>{{ timelineItem.paragraph }}</h3>
      <img *ngIf="timelineItem.img" [src]="timelineItem.img" alt="img">
    </div>
  </ng-template>

  <!-- Footer -->
  <ng-template #footerTemplate>
    <div class="footer" *ngIf="timelineItem.footerText">
      <small>{{ timelineItem.footerText }}</small>
    </div>
  </ng-template>
</app-card>
