<div class="form-page">
  <div class="hero">
    <div class="hero-content">
      <h3>Reset password</h3>
    </div>
    <app-card [body]="body">
      <!-- Body -->
      <ng-template #body>
        <div class="body" *ngIf="!success">
          <form (ngSubmit)="onSubmit()" [formGroup]="form" body>
            <div class="section">

              <div [class.input-error]="submitted && form.controls.password.invalid" class="input-with-icon">
                <input formControlName="password" placeholder="Password..." required type="password">
                <i aria-hidden="true" class="fas fa-key fa-lg fa-fw"></i>
              </div>
              <div [class.input-error]="submitted && form.controls.confirmPassword.invalid" class="input-with-icon">
                <input formControlName="confirmPassword" placeholder="Confirm Password..." required type="password">
                <i aria-hidden="true" class="fas fa-lock fa-lg fa-fw"></i>
              </div>
            </div>
            <div class="section-submit">
              <app-button1 [text]="'DONE'"></app-button1>
            </div>
          </form>
        </div>
        <div class="body" *ngIf="success">
          <h3>Please proceed with login</h3>
          <br/>
          <br/>
          <app-button1 (click)="router.navigate(['/login'])" [text]="'LOG IN'"></app-button1>
        </div>
      </ng-template>
    </app-card>
  </div>
</div>
