<div class="form-page-layout">
  <!-- Reset password -->
  <app-hero [contents]="appHeroContents"></app-hero>
  <app-card [bodyTemplate]="bodyTemplate">
    <!-- Body -->
    <ng-template #bodyTemplate>
      <div *ngIf="!success" class="body">
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
          <div class="section">

            <div [class.error-input]="submitted && form.controls.password.invalid" class="input-with-icon">
              <input formControlName="password" i18n-placeholder="@@resetPassword.password.placeholder" placeholder="Password..." required type="password">
              <i aria-hidden="true" class="fas fa-key fa-lg fa-fw"></i>
            </div>
            <div [class.error-input]="submitted && form.controls.confirmPassword.invalid" class="input-with-icon">
              <input formControlName="confirmPassword" i18n-placeholder="@@resetPassword.confirmPassword.placeholder" placeholder="Confirm Password..." required type="password">
              <i aria-hidden="true" class="fas fa-lock fa-lg fa-fw"></i>
            </div>
          </div>
          <div class="section-submit">
            <app-button i18n-text="@@resetPassword.done.button" text="DONE"></app-button>
          </div>
        </form>
      </div>
      <div *ngIf="success" class="body">
        <h3 i18n="@@resetPassword.success.description">Please proceed with login</h3>
        <br/>
        <br/>
        <app-button (click)="router.navigate(['/login'])" i18n-text="@@resetPassword.login.button" text="'LOG IN'"></app-button>
      </div>
    </ng-template>
  </app-card>
</div>
