@use 'node_modules/@open-template-hub/card/styles/card/card';

@use '../../../../styles/util/util';

.business-partners-wrapper {
  @include util.flex-layout-column;
  @include util.flex-center-center;

  box-sizing: border-box;

  width: 100%;

  padding-left: 3vw;
  padding-right: 3vw;

  padding-bottom: 100px;
}
