@use '../landing-layout.component';
@use '../../../../styles/util/util';
@use '../../../component/card/policy-card/policy-card.component';

.raw-content-page-layout {
  & .policy-content {
    text-align: left;
  }

  & .related-products-wrapper {
    @include util.flex-center-center;

    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 999px) {
  .raw-content-page-layout {

    & .related-products-wrapper {
      @include util.flex-layout-column;

      padding-bottom: 50px;

      & > * {
        margin: 15px 0;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .raw-content-page-layout {
    & .related-products-wrapper {
      @include util.flex-layout-row;
      @include util.flex-center-center;

      justify-content: space-evenly;

      width: 800px;

      flex-wrap: wrap;

      & > * {
        margin: 15px 0;
      }
    }
  }
}
