@use '../landing-layout.component';
@use '../../../../styles/util/util';
@use '../../../component/card/policy-card/policy-card.component';

.raw-content-page-layout {
  & .policy-content {
    text-align: left;
  }

  & .branding-item-wrapper {
    @include util.flex-center-center;

    padding-bottom: 50px;

    & .branding-item {
      @include util.flex-layout-column;
      @include util.top-right-bottom-left-rounded-box;
      @include util.default-shadow;

      align-items: center;
      justify-content: flex-start;


      box-sizing: border-box;
      padding: 15px 15px 12px;

      & .branding-item-content {
        @include util.top-right-bottom-left-rounded-box;
        @include util.flex-layout-column;
        @include util.flex-center-center;
        @include util.default-shadow;

        overflow: hidden;
        margin-bottom: 20px;
      }

      & p, & a {
        font-size: 18px;

        &:last-child {
          font-weight: 500;
          margin-bottom: 0;
        }
      }

      & > * {
        margin-bottom: 12px;
      }
    }

    & .color-item {
      height: 200px;

      & .color {
        background-color: var(--theme-color);

        &.card-color-light-mode {
          background-color: var(--card-light-mode);
        }

        &.card-color-dark-mode {
          background-color: var(--card-dark-mode);
        }

        width: 200px;
        height: 100px;
      }
    }

    & .logo-item {
      height: 350px;

      & .logo {
        width: 250px;
        height: 250px;
      }
    }

    & .wallpaper-item {
      height: 450px;

      & .wallpaper {
        height: 400px;
      }
    }
  }
}

@media only screen and (max-width: 999px) {
  .raw-content-page-layout {

    & .branding-item-wrapper {
      @include util.flex-layout-column;

      padding-bottom: 50px;

      & > * {
        margin: 15px 0;
      }

      & .branding-item {
        width: 94vw;

        & .branding-item-content {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .raw-content-page-layout {

    & .branding-item-wrapper {
      @include util.flex-layout-row;

      flex-wrap: wrap;

      & > * {
        margin: 15px;
      }

      & .wallpaper-item {
        & .wallpaper {
          max-width: 750px;
        }
      }
    }
  }
}
