<div class="raw-content-page-layout">
  <!-- Brand Resources -->
  <app-hero [contents]="[{text: 'Brand Resources', level: 1}]"></app-hero>
  <app-policy-card [policyBody]="body">
    <!-- Body -->
    <ng-template #body>
      <div i18n="@@brandingPage.policyContent" class="policy-content">
        <p>
          All of Open Template Hub’s brand features including <strong>Open Template Hub</strong>,
          <strong>OTH</strong>
          and the
          <strong>Open Template Hub</strong> logo are protected by applicable
          trademark, copyright and other intellectual property laws. Any use of a <strong>Open Template Hub
          trademark</strong> is subject to the <strong>Open Template Hub Trademark Standards</strong> for Use.
        </p>
        <p>
          Basic usage guidelines can be found below. If you have any questions or want to request approval to use
          these
          assets, please do not hesitate to contact us or email <a
            href="mailto:info@opentemplatehub.com">info@opentemplatehub.com</a>
        </p>
        <br/>
        <p>
          <strong>
            Basic Usage Guidelines:
          </strong>
        </p>
        <p>
          - Do not rotate the <strong>Open Template Hub</strong> logo.
        </p>
        <p>
          - Do not change the color of the <strong>Open Template Hub</strong> logo.
        </p>
        <p>
          - Do not distort the <strong>Open Template Hub</strong> logo (be sure to scale proportionately).
        </p>
        <p>
          - Allow an appropriate amount of white space around the <strong>Open Template Hub </strong>logo, at least
          as much as the x-height of
          the logo (suggested).
        </p>
        <p>
          - Preferred minimum size for the <strong>Open Template Hub</strong> logo is 100px wide. For smaller sizes,
          you must seek permission
          from the Open Template Hub team.
        </p>
      </div>
    </ng-template>
  </app-policy-card>

  <!-- Color Palette -->
  <app-hero [contents]="[{text: 'Color Palette', level: 2}]"></app-hero>
  <div class="branding-resources-wrapper">
    <app-asset-card
        [href]="colorPalette.brandColor ? externalColorInfoUrl + colorPalette.brandColor.substring(1, colorPalette.brandColor.length) : ''"
        [assetItemClass]="'color-item'"
        [secondaryText]="colorPalette.brandColor | uppercase"
        [title]="'Brand Color'">
    </app-asset-card>
    <app-asset-card
        [href]="colorPalette.secondaryColor ? externalColorInfoUrl + colorPalette.secondaryColor.substring(1, colorPalette.secondaryColor.length) : ''"
        [assetItemClass]="'color-item secondary'"
        [secondaryText]="colorPalette.secondaryColor | uppercase"
        [title]="'Secondary Color'">
    </app-asset-card>
    <app-asset-card
        [href]="colorPalette.tertiaryColor ? externalColorInfoUrl + colorPalette.tertiaryColor.substring(1, colorPalette.tertiaryColor.length) : ''"
        [assetItemClass]="'color-item tertiary'"
        [secondaryText]="colorPalette.tertiaryColor | uppercase"
        [title]="'Tertiary Color'">
    </app-asset-card>
  </div>

  <!-- Logos -->
  <app-hero [contents]="[{text: 'Logos', level: 2}]"></app-hero>
  <div class="branding-resources-wrapper">
    <app-asset-card [href]="BRAND.logo.main.replace('min/', '').replace('.min', '')"
                    [assetItemClass]="'logo-item'"
                           [secondaryText]="'PNG'"
                           [src]="BRAND.logo.main"
                           [title]="BRAND.logo.main.substring( BRAND.logo.main.lastIndexOf( '/' ) + 1, BRAND.logo.main.lastIndexOf( '.min.png' ) )"
                           imgHeight="175">
    </app-asset-card>
  </div>

  <!-- Other Assets -->
  <app-hero [contents]="[{text: 'Other Assets', level: 2},{text: 'Badges', level: 2}]"></app-hero>

  <!-- Badges -->
  <div class="branding-resources-wrapper">
    <ng-container *ngFor="let badge of BRAND.badges; index as i">
      <app-asset-card [href]="badge.replace('min/', '').replace('.min', '')" [imgHeight]="40"
                      [assetItemClass]="'logo-item'"
                             [secondaryText]="'PNG'" [src]="badge"
                             [title]="badge.substring( badge.lastIndexOf( '/' ) + 1, badge.lastIndexOf( '.min.png' ) )">
      </app-asset-card>
    </ng-container>
  </div>

  <!-- Wallpapers -->
  <app-hero [contents]="[{text: 'Wallpapers', level: 2}]"></app-hero>
  <div class="branding-resources-wrapper">
    <ng-container *ngFor="let wallpaper of BRAND.wallpapers; index as i">
      <app-asset-card [href]="wallpaper.replace('min/', '').replace('.min', '')" [imgHeight]="400"
                      [assetItemClass]="'wallpaper-item'"
                             [secondaryText]="'PNG'" [src]="wallpaper"
                             [title]="wallpaper.substring( wallpaper.lastIndexOf( '/' ) + 1, wallpaper.lastIndexOf( '.min.png' ) )">
      </app-asset-card>
    </ng-container>
  </div>
</div>
