<app-card [headerTemplate]="headerTemplate" [bodyTemplate]="bodyTemplate" class="activity-history-card">
  <!-- Header -->
  <ng-template #headerTemplate>
    <div class="header">
      <p class="title">{{ title }}</p>
    </div>
  </ng-template>

  <!-- Body -->
  <ng-template #bodyTemplate>
    <div class="body">
      <div class="activity-content">
        <ng-container *ngFor="let j of days">
          <div class="day" [class]="getDayClass(j)">
          </div>
        </ng-container>
      </div>
    </div>
  </ng-template>
</app-card>
