<div *ngIf="product?.features" class="pricing">
  <!--Available Plans-->
  <div i18n="@@pricePlan.pageHeader" class="price-plan-subtitle">Available Plans</div>
  <div class="available-plans">
    <div class="available-plans-content">
      <div class="available-plans-empty-view column-header-feature"></div>
      <div class="feature-by-price-plan-wrapper available-plans-wrapper">
        <div *ngFor="let pricingOption of product.pricingOptions" class="available-plans-column-area column-feature">
          <p>{{ pricingOption.title }}</p>
          <p>{{ pricingOption.description }}</p>
          <app-button [routerLink]="URLS.pricing + '/' + productLineKey + '/' + product.key"
                      i18n-text="@@pricePlan.viewPricing.button" text="View Pricing"></app-button>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let headerFeature of product?.features; index as featureIndex" class="price-plan-main-feature-wrapper">
    <div (click)="accordionClicked( headerFeature.name )" class="price-plan-subtitle accordion-menu">
      {{ headerFeature.name }}
      <i [class]="hiddenMainFeatures.has( headerFeature.name ) ? 'fas fa-plus-circle fa-fw' : 'fas fa-minus-circle fa-fw'"
         aria-hidden="true"></i>
    </div>
    <div [class.hide]="hiddenMainFeatures.has( headerFeature.name )" class="subfeature-wrapper">
      <div *ngFor="let feature of headerFeature.details; index as featureDetailIndex" class="feature-area-row-wrapper">
        <div class="feature-area-row">
          <div class="features-area-description column-header-feature">
            <p class="features-area-description-title">{{ feature.name }}</p>
            <p class="features-area-description-text">{{ feature.description }}</p>
          </div>
          <div class="feature-by-price-plan-wrapper">
            <div *ngFor="let pricingOption of product.pricingOptions" class="feature-by-price-plan column-feature">
              <p *ngIf="pricingOption.features[ featureIndex ][ featureDetailIndex ] !== 'true'"
                 class="feature-desktop">
                {{ pricingOption.features[ featureIndex ][ featureDetailIndex ] }}
              </p>
              <i *ngIf="pricingOption.features[featureIndex][ featureDetailIndex ] === 'true'"
                 [class]="'feature-desktop'" aria-hidden="true"
                 class="fas fa-check fa-fw success-text"></i>
              <i *ngIf="pricingOption.features[ featureIndex ][ featureDetailIndex ] !== ''" [class]="'feature-mobile'"
                 aria-hidden="true"
                 class="fas fa-check fa-fw success-text"></i>
              <p *ngIf="pricingOption.features[ featureIndex ][ featureDetailIndex ] !== ''" class="feature-mobile">
                {{ pricingOption.title }}
              </p>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
