<div class="landing-form-page">
  <app-card1 [isSmall]="true" [title]="'Log in'">
    <div body>
      <div class="flex-layout-row flex-center-center">
        <app-social-button (click)="socialLogin(environmentCommon.website.facebook)"
                           [brand]="environmentCommon.website.facebook.cssClass"
                           [classType]="'circle'"></app-social-button>
        <app-social-button (click)="socialLogin(environmentCommon.website.google)"
                           [brand]="environmentCommon.website.google.cssClass"
                           [classType]="'circle'"></app-social-button>
      </div>
      <div class="flex-layout-column flex-center-center" style="margin-bottom: 1.5rem; margin-top: 0.5rem;">
        <p>or</p>
      </div>
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="section">
          <div [class.input-error]="submitted && form.controls.username.invalid" class="input-with-icon">
            <input formControlName="username" placeholder="Username or Email..." required type="text">
            <i aria-hidden="true" class="fas fa-user fa-lg fa-fw"></i>
          </div>
          <div [class.input-error]="submitted && form.controls.password.invalid" class="input-with-icon">
            <input formControlName="password" placeholder="Password..." required type="password">
            <i aria-hidden="true" class="fas fa-lock fa-lg fa-fw"></i>
          </div>
          <div class="input-checkbox">
            <label class="input-checkbox-label">
              <input formControlName="rememberMe" type="checkbox">
              <span></span>
              <p>Remember Me</p>
            </label>
          </div>
        </div>
        <div class="section-submit">
          <app-button1 [text]="'LOG IN'" [themeColor]="'default'"></app-button1>
          <p>
            Don't have an account?
            <a [routerLink]="URLS.signup" class="link">
              Sign Up
            </a>
          </p>
          <p>
            <a [routerLink]="URLS.forgetPassword" class="link">
              Forget password?
            </a>
          </p>
        </div>
      </form>
    </div>
  </app-card1>
  <app-cookies></app-cookies>
</div>
