<app-dropdown-menu #dropdownMenuProducts [productLines]="PRODUCT_LINES">
</app-dropdown-menu>
<app-dropdown-menu #dropdownMenuServices [productLines]="SERVICES">
</app-dropdown-menu>
<nav class="bottom-nav">
  <a (click)="closeSettings()" *ngIf="openSettings" href="javascript:void(0)">
    <i aria-hidden="true" class="material-icons">arrow_back_ios</i>
    <span i18n="@@bottomNav.back">Back</span>
  </a>
  <a
      (click)="
      dropdownMenuProducts.closeDropdown(); dropdownMenuServices.closeDropdown()"
      *ngIf="!openSettings"
      [routerLink]="URLS.root">
    <i [class]="'fas fa-home fa-fw'" aria-hidden="true"></i>
    <span i18n="@@bottomNav.home">Home</span>
  </a>
  <a
      (click)="
      dropdownMenuProducts.toggleDropdown();
      dropdownMenuServices.closeDropdown()"
      *ngIf="!openSettings">
    <i [class]="'fas fa-server fa-fw'" aria-hidden="true"></i>
    <span i18n="@@bottomNav.products">Products</span>
  </a>
  <a
      (click)="
      dropdownMenuServices.toggleDropdown();
      dropdownMenuProducts.closeDropdown()"
      *ngIf="!openSettings">
    <i [class]="'fas fa-handshake fa-fw'" aria-hidden="true"></i>
    <span i18n="@@bottomNav.services">Services</span>
  </a>
  <a
      (click)="openSettings = !openSettings"
      *ngIf="!openSettings"
      href="javascript:void(0)">
    <i aria-hidden="true" class="material-icons">arrow_forward_ios</i>
    <span i18n="@@bottomNav.more">More</span>
  </a>
  <a (click)="dropdownMenuProducts.closeDropdown(); dropdownMenuServices.closeDropdown()"
     *ngIf="openSettings && !openOtherSettings"
     [routerLink]="URLS.about">
    <i [class]="'fas fa-address-card fa-fw'" aria-hidden="true"></i>
    <span i18n="@@bottomNav.about">About</span>
  </a>
  <a
      (click)="dropdownMenuProducts.closeDropdown(); dropdownMenuServices.closeDropdown()"
      *ngIf="openSettings && !openOtherSettings"
      [routerLink]="URLS.contactUs"
      class="contact">
    <i [class]="'fas fa-envelope fa-fw'" aria-hidden="true"></i>
    <span i18n="@@bottomNav.contactUs">Contact Us</span>
  </a>
  <a
      *ngIf="openSettings && !openOtherSettings"
      class="non-clickable">
  </a>
</nav>
