<div class="top-svg">
  <ng-container [ngSwitch]="themeDesignSetting">
    <app-round-top-svg *ngSwitchCase="ThemeDesignSettings.round"></app-round-top-svg>
    <app-counter-borders-top-svg *ngSwitchCase="ThemeDesignSettings.counterBorders"></app-counter-borders-top-svg>
    <app-sharp-top-svg *ngSwitchCase="ThemeDesignSettings.sharp"></app-sharp-top-svg>
    <app-leaf-top-svg *ngSwitchCase="ThemeDesignSettings.leaf"></app-leaf-top-svg>
    <app-round-top-svg *ngSwitchDefault></app-round-top-svg>
  </ng-container>
</div>
