@mixin prefix($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: $value;
  }
  #{$property}: $value;
}

@mixin no-padding-no-margin {
  padding: 0;
  margin: 0;
}

@mixin margin-x-auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin min-full-screen {
  min-height: 100vh;
  min-width: 100vw;
}

@mixin default-fonts {
  font-family: Roboto, sans-serif;
}

@mixin default-shadow {
  box-shadow: 0 3px 15px 0 var(--shadow);
}

@mixin dim {
  color: var(--lighter-contrast);
  border-color: var(--lighter-contrast);
}

@mixin shine {
  color: var(--darker);
  border-color: var(--darker);
}

@mixin flex-center-center {
  align-items: center;
  justify-content: center;
}

@mixin flex-layout-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-layout-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

@mixin flex-layout-column {
  display: flex;
  flex-direction: column;
}

@mixin card-width-sm {
  max-width: 94vw;
  min-width: 94vw;
  width: 94vw;
}

@mixin font-awesome {
  font: {
    family: "Font Awesome 5 Free", sans-serif;
    weight: 900;
  }
}

@mixin circle {
  @include prefix(border-radius, 99em, moz webkit);
}

@mixin top-right-bottom-left-rounded-box {
  @include prefix(border-bottom-left-radius, 12px, moz webkit);
  @include prefix(border-top-right-radius, 6px, moz webkit);
}

.rounded-box {
  @include prefix(border-radius, 5px, moz webkit);
}

.flex-center-center {
  @include flex-center-center;
}

.flex-layout-row {
  @include flex-layout-row;
}

.flex-layout-row-reverse {
  @include flex-layout-row-reverse;
}

.flex-layout-column {
  @include flex-layout-column;
}
