.hero, .in-page-title, .landing-title {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.in-page-title, .landing-title {
  margin: 0.2em;
}

.hero h2 {
  margin-bottom: 25px;
}

.hero .error-text {
  display: flex;
  justify-content: center;
}

.layers {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}

.layers svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100%;
  min-height: 250px;
  max-height: 450px;
}

.top-layer {
  position: absolute;
  left: 0;
}

.hero-content {
  padding-top: 8vh;
  display: flex;
}

.hero-content-left, .hero-content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 999px) {
  .in-page-title, .landing-title {
    margin: 0.5em;
  }

  .hero h2 {
    margin-bottom: 15px;
  }

  .hero .brand-logo {
    height: 100px;
  }

  .landing-title {
    padding-top: 90px;
    padding-bottom: 55px;
  }

  .in-page-title {
    padding-bottom: 50px;
  }

  .top-layer {
    top: 0;
  }

  .hero-content-left, .hero-content-right {
    max-width: 90vw;
  }

  .hero-content {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1000px) {
  .landing-title {
    padding-top: 125px;
    padding-bottom: 90px;
  }

  .in-page-title {
    padding-bottom: 60px;
  }

  .top-layer {
    top: 90px;
  }

  .hero-content-left, .hero-content-right {
    max-width: 45vw;
  }

  .hero-content {
    flex-direction: row;
  }
}
