@use '../util/util';

.page {
  background: {
    position: center center;
    repeat: no-repeat;
    attachment: fixed;
    size: cover;
    color: var(--background-color);
  };

  padding: 0 0 env(safe-area-inset-left);

  & .page-content {
    min-height: 120vh;
    overflow: auto;
    position: relative;
    z-index: 2;

    & .hero {
      @include util.flex-layout-column;

      position: relative;

      text-align: center;
      align-items: center;

      & .hero-content {
        padding-top: 7vh;
        display: flex;
      }

      & .hero-content-column {
        @extend .hero-content;
      }
    }
  }
}

.top-svg {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;

  & svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100%;
    min-height: 250px;
    max-height: 450px;
  }

  position: absolute;
  left: 0;
}

@media only screen and (max-width: 999px) {
  .page {
    font-size: 17px;

    & .page-content {
      & .hero {
        & .hero-content {
          @include util.flex-layout-column;

          & > * {
            @include util.flex-layout-column;
            @include util.card-width-sm;
            margin-bottom: 50px;
          }

          & img {
            min-width: initial;
            width: initial;
            max-width: initial;
          }
        }
      }

    }
  }

  .top-svg {
    top: 0;
  }

}

@media only screen and (min-width: 1000px) {
  .page {
    font-size: 25px;

    & .page-content {

      & .hero {
        padding-bottom: 50px;
      }

      .hero-content {
        flex-direction: column;
        max-width: 50vw;

        & > * {
          flex-direction: column;
        }

      }
    }

    padding-bottom: 100px;
  }

  .top-svg {
    top: 90px;
  }
}
