<div class="product-page-content">
  <div class="intro">
    <div class="left">
      <oth-card
          [bodyTemplate]="bodyTemplate"
          [cardClass]="'transparent-card'"
          [headerTemplate]="headerTemplate"
          class="product-card">
        <ng-template #headerTemplate>
          <div class="header">
            <h3>{{ product.name }}</h3>
          </div>
        </ng-template>
        <ng-template #bodyTemplate>
          <div class="body">
            <p>{{ product.description }}</p>
            <div *ngIf="product.openSource" class="button-wrapper">
              <oth-brand-button
                  (click)="redirect(product.url)"
                  [icon]="environmentCommon.website.github.cssClass"
                  i18n-text="@@productPage.openSource.button"
                  text="Open Source">
              </oth-brand-button>

              <oth-button (click)="redirect(product.urlDemo)"
                          *ngIf="product.urlDemo"
                          i18n-text="@@productPage.demo.button"
                          text="Demo">
              </oth-button>

              <oth-button
                  (click)="router.navigate([URLS.contactUs])"
                  *ngIf="productLineKey !== 'generator'"
                  i18n-text="@@productPage.professional.button"
                  text="Professional Help">
              </oth-button>
              <oth-brand-button
                  (click)="redirect(product.urlAlter)"
                  *ngIf="product.hasNpmPackage"
                  [icon]="environmentCommon.website.npm.cssClass"
                  i18n-text="@@productPage.downloadPackage.button"
                  text="Download Package">
              </oth-brand-button>
            </div>
            <div *ngIf="!product.openSource" class="button-wrapper">
              <oth-button (click)="redirect(product.urlDemo)"
                          *ngIf="product.urlDemo"
                          i18n-text="@@productPage.demo.button"
                          text="Demo">
              </oth-button>
              <oth-button *ngIf="!product.urlDemo"
                  (click)="router.navigate([URLS.contactUs])"
                  [text]="getContactUsButtonText(productLineKey)"></oth-button>
            </div>
          </div>
        </ng-template>
      </oth-card>
    </div>
    <div class="right">
      <app-product-presentation
          [productLineKey]="productLineKey"
          [product]="product"></app-product-presentation>
    </div>
  </div>

  <div *ngIf="product.screenshots" class="screenshots-wrapper">
    <app-screenshot-swiper
        [screenshots]="product.screenshots"></app-screenshot-swiper>
  </div>

  <div *ngIf="isOpenSource && !product.counters" class="counters">
    <app-box-content-loader
        [boxContentLoaderClass]="'product-counter'"></app-box-content-loader>
    <app-box-content-loader
        [boxContentLoaderClass]="
        'product-counter margined'
      "></app-box-content-loader>
    <app-box-content-loader
        [boxContentLoaderClass]="
        'product-counter margined'
      "></app-box-content-loader>
    <app-box-content-loader
        [boxContentLoaderClass]="
        'product-counter margined'
      "></app-box-content-loader>
  </div>
  <div *ngIf="product.counters" class="counters">
    <a
        *ngFor="let counter of product.counters"
        [href]="
        environmentCommon.website.github.url +
        '/' +
        environmentCommon.company.social.github
      "
        class="counter-wrapper"
        rel="noopener"
        target="_blank">
      <h2 *ngIf="counter.value" class="counter" id="npmCounterElement">
        {{ counter.value }}
      </h2>
      <p>
        {{ counter.name }}
      </p>
    </a>
  </div>

  <ng-container [ngSwitch]="productLineKey">
    <ng-container *ngSwitchCase="'services'" [ngSwitch]="product.key">
      <!-- Testimonials -->
      <oth-hero [contents]="testimonialsTitle"></oth-hero>
      <div class="cards-wrapper">
        <app-testimonial-card
            *ngFor="let testimonial of TESTIMONIALS"
            [testimonial]="testimonial">
        </app-testimonial-card>
        <oth-button
            [buttonClasses]="[
            'lighter-contrast-border-color',
            'lighter-contrast-font-color',
            'transparent-button'
          ]"
            [routerLink]="URLS.customers"
            i18n-text="@@productPage.readMoreStories"
            text="Read More Stories">
        </oth-button>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'generator'" [ngSwitch]="product.key">
      <!-- Step Timeline -->
      <ng-container *ngIf="product.steps">
        <oth-hero [contents]="npmPackageInstallationAndUsage"></oth-hero>
        <div class="timeline-wrapper">
          <ng-container *ngFor="let step of product.steps; index as i">
            <app-step-timeline-card
                [class]="i % 2 === 0 ? 'left' : 'right'"
                [num]="i + 1"
                [rotation]="i % 2 === 0 ? 'left' : 'right'"
                [step]="step">
            </app-step-timeline-card>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchDefault [ngSwitch]="product.key">
      <div class="pricing-plan-wrapper">
        <app-price-plan [productLineKey]="productLineKey" [product]="product">
        </app-price-plan>
      </div>
      <div *ngIf="commitActivities.length > 0" class="activity-history-wrapper">
        <app-activity-history-card
            *ngIf="product.openSource"
            [activities]="commitActivities"
            i18n-title="@@productPage.activityHistory.title"
            title="Activity history">
        </app-activity-history-card>
      </div>
    </ng-container>
  </ng-container>

  <!-- Tech Stack -->
  <ng-container *ngIf="product.techStack">
    <oth-hero [contents]="[{ text: 'Tech Stack', level: 2 }]"></oth-hero>
    <app-tech-stack-card [techStack]="product.techStack"></app-tech-stack-card>
  </ng-container>

  <!-- Related Products -->
  <ng-container *ngIf="productLineKey !== 'services'">
    <oth-hero [contents]="[{ text: 'Related Products', level: 2 }]"></oth-hero>
    <div class="flexible-cards-wrapper">
      <ng-container *ngFor="let productLine of PRODUCT_LINES">
        <ng-container
            *ngIf=" productLine.key === 'premium' ||
            (productLineKey === 'premium' ? productLine.key === 'server' : productLine.key === productLineKey)">
          <ng-container *ngFor="let relatedProduct of productLine.products">
            <app-presentation-card
                *ngIf="product.key !== relatedProduct.key"
                [class]="relatedProduct.color ? relatedProduct.color : ''"
                [footerText]="getPresentationCardFooter(relatedProduct.openSource)"
                [href]="URLS.product + '/' + productLine.key + '/' + relatedProduct.key"
                [imgHeight]="150"
                [maintenance]="relatedProduct.url === URLS.maintenance"
                [secondaryText]="relatedProduct.description"
                [src]="relatedProduct.logo"
                [title]="relatedProduct.name"
                class="related-product"></app-presentation-card>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>

  <!-- Related Libraries -->
  <ng-container *ngIf="productLineKey !== 'services'">
    <oth-hero [contents]="[{ text: 'Related Libraries', level: 2 }]"></oth-hero>
    <div class="flexible-cards-wrapper">
      <ng-container *ngFor="let productLine of LIBRARIES">
        <ng-container
            *ngIf="productLine.key === 'premium' ||
            (productLineKey === 'premium' ? productLine.key === 'server' : productLine.key === productLineKey)">
          <ng-container *ngFor="let relatedProduct of productLine.products">
            <app-presentation-card
                *ngIf="product.key !== relatedProduct.key"
                [class]="relatedProduct.color ? relatedProduct.color : ''"
                [footerText]="getPresentationCardFooter(relatedProduct.openSource)"
                [href]="relatedProduct.url"
                [imgHeight]="150"
                [maintenance]="relatedProduct.url === URLS.maintenance"
                [secondaryText]="relatedProduct.description"
                [src]="relatedProduct.logo"
                [title]="relatedProduct.name"
                class="related-product"></app-presentation-card>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</div>
