<div class="intro">
  <div class="left">
    <app-card [header]="header" [body]="body" [cardClass]="'transparent-card'" class="product-card">
      <ng-template #header>
        <div class="header">
          <h3>{{ product.name }}</h3>
        </div>
      </ng-template>
      <ng-template #body>
        <div class="body">
          <h5>{{ product.description }}</h5>
          <div class="open-source" *ngIf="product.openSource">
            <app-button1 [isSleekButton]="true" (click)="redirect()" [brandIcon]="'github'"
                         class="top-right-bottom-left-rounded-box" [text]="'Open Source'">
            </app-button1>
            <app-button1 [isSleekButton]="true" [themeColor]="'default'"
                         (click)="router.navigate([URLS.contactUs])"
                         class="top-right-bottom-left-rounded-box" [text]="'Professional help'">
            </app-button1>
          </div>
          <div class="request-for-demo" *ngIf="!product.openSource">
            <input
                [formControl]="emailControl"
                class="top-right-bottom-left-rounded-box"
                placeholder="Email address"
                type="text"/>
            <app-button1 [isSleekButton]="true" [themeColor]="'default'"
                         (click)="router.navigate([URLS.maintenance])"
                         class="top-right-bottom-left-rounded-box" [text]="productLineName === 'services' ? 'Contact Us' : 'Request for Demo'">
            </app-button1>
          </div>
        </div>
      </ng-template>
    </app-card>
  </div>
  <div class="right">
    <app-product-presentation [productLineName]="productLineName" [product]="product"></app-product-presentation>
  </div>
</div>

<div *ngIf="product.counters" class="counters">
  <a *ngFor="let counter of product.counters"
     [href]="environmentCommon.website.github.url + '/' + environmentCommon.oth.social.github"
     class="counter-wrapper"
     rel="noopener" target="_blank">
    <h2 *ngIf="counter.value" class="counter" id="npmCounterElement">
      {{ counter.value }}
    </h2>
    <h4>
      {{ counter.name }}
    </h4>
  </a>
</div>

<div class="pricing-plan-wrapper">
  <app-price-plan [productLineName]="productLineName" [product]="product"></app-price-plan>
</div>
