@use '../../../../styles/util/util';

.features {
  display: flex;
  flex-direction: column;
  position: relative;
}

.counters {
  @include util.flex-layout-row;

  box-sizing: border-box;
  margin: 0 50px;
  padding: 20px;

  border-top: 1px solid var(--theme-color-lighter-4);

  & a {
    letter-spacing: 0.04em;
  }
}

.demonstration {
  max-width: 100%;
}

.counter-wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  color: var(--theme-color-lighter-2);
  font-weight: 500;
}

.counter-wrapper h4 {
  color: var(--lighter-contrast);
}

.counter-wrapper h2 {
  font-weight: bold;
}

.product-content {
  @include util.flex-layout-row;

  align-items: flex-start;
  justify-content: space-evenly;

  text-align: center;

  & .left {

    & .header {
      padding: 20px;

      border-bottom-left-radius: 99em;
      border-top-right-radius: 99em;

      background-color: var(--darker-contrast);
    }

    & .body {

      border-top-left-radius: 70px;
      background-color: var(--shadow-lighter);

      & .request-for-demo {
        @include util.flex-layout-column;
        @include util.flex-center-center;

        & input {
          width: 35%;
          margin: 25px 0;
          background-color: var(--card);

          &:focus {
            border: 1px solid;
            transition: 200ms;
          }
        }

        & > * {
        }
      }
    }
  }

  & .right {
    align-items: center;
    justify-content: center;
  }
}

app-swiper-wrapper {
  height: 200px;
}

.pricing-plan-wrapper {
  @include util.flex-layout-column;
  @include util.flex-center-center;

  width: 100%;

  padding-bottom: 50px;
}

@media only screen and (max-width: 999px) {
  .product-content {
    @include util.flex-layout-column;
    @include util.flex-center-center;

    font-size: 22px;
    padding-top: 50px;

    justify-content: flex-start;

    & .body {
      padding: 30px;
    }

    & .left {
      border-bottom-right-radius: 125px;
      padding-bottom: 40px;
      width: 94%;
    }

    & .right {
      width: 100%;
      padding-bottom: 40px;
    }
  }

  .counters {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .counter-wrapper {
    height: 50px;
  }

  .product-line-header {
    padding-bottom: 20px;
    text-align: center;
  }

  .pricing-plan-wrapper {
    & > * {
      width: 94%;
    }
  }
}

@media only screen and (min-width: 1000px) {

  .product-content {
    padding-top: 80px;
    padding-bottom: 50px;

    flex-direction: row;

    & .body {
      padding: 60px;
    }

    & .left {
      width: 45%;
    }

    & .right {
      width: 40%;
    }
  }

  .product-line-header {
    padding-bottom: 40px;
  }

  .counters {
    padding-bottom: 160px;
    margin-top: 50px;
  }

  .counters a:not(:first-child) {
    padding-left: 9vw;
  }

  .counter-wrapper {
    flex-direction: column;
    text-align: left;
    align-items: initial;
  }

  .counters a {
    font-size: 0.7em;
  }

  .counter-wrapper h6 {
    margin: 5px 0 0;
  }

  .pricing-plan-wrapper {
    & > * {
      width: 90%;
    }
  }
}

