@use '../../../../styles/util/util';
@use '../../../component/card/card.component';

.features {
  display: flex;
  flex-direction: column;
  position: relative;
}

.counters {
  @include util.flex-layout-row;

  box-sizing: border-box;
  margin: 0 50px;
  padding: 20px;

  border-top: 1px solid var(--theme-color-lighter-4);

  & a {
    letter-spacing: 0.04em;
  }
}

.counter-wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  color: var(--theme-color-lighter-2);
  font-weight: 500;
}

.counter-wrapper h4 {
  color: var(--lighter-contrast);
}

.counter-wrapper h2 {
  font-weight: bold;
}

.intro {
  @include util.flex-layout-row;

  align-items: flex-start;
  justify-content: space-evenly;

  text-align: center;

  & .left {

    & .header {
      padding: 20px;

      border-bottom-left-radius: 99em;
      border-top-right-radius: 99em;

      background-color: var(--darker-contrast);

      z-index: 2;
    }

    & .body {

      border-top-left-radius: 70px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;

      background-color: var(--shadow-lighter);

      @include util.default-shadow;

      & .open-source {
        @include util.flex-layout-column;

        box-sizing: border-box;

        justify-content: center;

        width: 100%;
      }

      & .request-for-demo {
        @include util.flex-layout-column;
        @include util.flex-center-center;

        box-sizing: border-box;

        padding-top: 50px;

        width: 100%;

        & input {
          margin-bottom: 20px;
          background-color: var(--card);

          &:focus {
            border: 1px solid;
            transition: 200ms;
          }
        }
      }
    }
  }

  & .right {
    align-items: center;
    justify-content: center;
  }
}

app-swiper-wrapper {
  height: 200px;
}

.pricing-plan-wrapper {
  @include util.flex-layout-column;
  @include util.flex-center-center;

  width: 100%;

  padding-bottom: 50px;
}

@media only screen and (max-width: 999px) {
  .intro {
    @include util.flex-layout-column;
    @include util.flex-center-center;

    font-size: 22px;
    padding-top: 50px;

    justify-content: flex-start;

    & .body {
      padding: 50px 30px 30px;

      & .open-source {
        padding: 50px 10px 0;
      }
    }

    & .left {
      border-bottom-right-radius: 125px;
      padding-bottom: 50px;
      width: 94%;
    }

    & .right {
      width: 100%;
      padding-bottom: 50px;
    }
  }

  .counters {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .counter-wrapper {
    height: 50px;
  }

  .product-line-header {
    padding-bottom: 20px;
    text-align: center;
  }

  .pricing-plan-wrapper {
    & > * {
      width: 94%;
    }
  }
}

@media only screen and (min-width: 1000px) {

  .intro {
    padding-top: 80px;
    padding-bottom: 50px;

    flex-direction: row;

    & .body {
      padding: 60px 60px 40px;

      & .open-source {
        padding: 50px 150px 0;
      }

      & .request-for-demo {
        padding: 50px 150px 0;
      }
    }

    & .left {
      width: 45%;
    }

    & .right {
      width: 40%;
    }
  }

  .product-line-header {
    padding-bottom: 40px;
  }

  .counters {
    padding-bottom: 160px;
    margin-top: 10px;
  }

  .counters a:not(:first-child) {
    padding-left: 9vw;
  }

  .counter-wrapper {
    flex-direction: column;
    text-align: left;
    align-items: initial;
  }

  .counters a {
    font-size: 0.7em;
  }

  .counter-wrapper h6 {
    margin: 5px 0 0;
  }

  .pricing-plan-wrapper {
    & > * {
      width: 90%;
    }
  }
}

