@use '../../../../styles/util/util';
@use '../../card/card.component';

.employee-card {

  & .header {
    // Design
    margin-top: -50px;

    & .profile-image {
      @include util.margin-x-auto;
      @include util.circle;

      // Color
      background-color: var(--card);

      // Design
      border: 2px solid var(--darker-contrast);
      width: 100px;
      padding: 5px;
    }
  }

  & .body {
    @include card.default-body;

    // Design
    align-items: flex-end;

    & .title {
      // Color
      color: var(--theme-color-lighter-1);

      // Design
      font-size: 18px;
    }
  }

  & .footer {
    @include card.default-footer;
    @include util.flex-layout-row;

    & i {
      // Color
      color: var(--theme-color-lighter-2);

      // Design
      font-size: 20px;
    }
  }
}
