@import "../../../../styles/theme/themes";

.donation-accounts app-social-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interest-list app-label-with-icon-data {
  margin: 5px;
  min-width: -webkit-fit-content;
  display: flex;
  align-items: center;
}

.interest-list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  flex-wrap: wrap;
}

.follower-count, .following-count, .event-count {
  font-style: normal;
  color: var(--brand-color);
}

.follower-following-count-area {
  display: flex;
  margin-top: 0.7em;
  margin-left: 0.4em;
  font-weight: 300;
  flex-wrap: wrap;
  color: var(--color);
}

.follower-count-area, .following-count-area {
  margin-right: 20px;
}

.color-text {
  float: right;
  color: var(--color);
}

.color-text svg {
  margin-left: 2px;
  margin-right: 2px;
}

.rate-badge-wrapper {
  position: absolute;
  top: 45px;
  left: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rate-wrapper {
  display: flex;
  margin-right: 30px;
}

.rate-badge-wrapper label {
  font-size: 1.5em;
}

@media only screen and (min-width: 1000px) {

  .is-public app-card1 {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .public-profile-page {
    display: block;
    align-items: center;
    padding-top: 110px;
  }

  .public-profile-page app-card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  app-card1 .content-column-wrapper {
    display: flex;
    flex-direction: row;
  }

  app-card1 .column-first {
    display: flex;
    flex-direction: column;
  }

  app-card1 .column-second {
    display: flex;
    flex-direction: column;
    max-width: 40%;
  }

  app-card1 .img-wrapper {
    padding-bottom: 0.5em;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
    margin-left: 1em;
    overflow-x: auto;
    text-align: left;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-start;
    align-items: center;
  }

  app-card1 .column-first, app-card1 .column-second {
    width: -webkit-fill-available;
  }

  .donation-accounts app-social-button {
    width: 20vw;
  }

  .interest-list {
    flex-direction: row;
    place-content: center flex-start;
    align-items: center;
  }

  .follow-button-area {
    position: absolute;
    right: 50px;
    top: 20px;
  }
}

.chart-wrapper {
  width: 100%;
  min-height: 150px;
}

::ng-deep .ngx-charts {
  text {
    fill: var(--color) !important;
  }
}

@media only screen and (max-width: 999px) {

  .is-public app-card1 {
    padding-top: 60px;
  }

  .public-profile-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 85px;
  }

  .public-profile-page app-card1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  app-card1 .img-wrapper {
    margin-bottom: 1.5em;
    margin-top: 0.5em;
    overflow-x: auto;
    text-align: center;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
  }

  .donation-accounts app-social-button {
    width: 100%;
  }

  .interest-list {
    flex-direction: column;
    place-content: flex-start;
  }

  .follow-button-area {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: -50px;
    width: 70%;
    text-align: center;
  }

  .rate-badge-wrapper label {
    font-size: 1.4em;
  }

  .rate-badge-wrapper {
    left: 0;
    width: 100%;
    display: block;
  }

  .column-first.with-rate {
    margin-top: 90px;
  }

  .badge-area {
    padding-top: 5px;
    margin-left: initial;
    text-align: center;
  }


  .column-first {
    margin-top: 60px;
  }

  .rate-wrapper {
    width: -webkit-fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}
