.hero, .in-page-title, .landing-title {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.in-page-title, .landing-title {
  margin: 0.2em;
}

.hero {
  padding-top: 10vh;
}

.hero h2 {
  margin-bottom: 25px;
}

.hero .error-text {
  display: flex;
  justify-content: center;
}

.hero .quote {
  margin-top: 4em;
  padding: 0 10%;
}

.hero .author {
  color: var(--brand-color);
}

@media only screen and (max-width: 999px) {
  .in-page-title, .landing-title {
    margin: 0.5em;
  }

  .hero {
    margin-top: 10vh;
  }

  .hero h2 {
    margin-bottom: 15px;
  }

  .hero .brand-logo {
    height: 75px;
  }

  .hero .quote {
    margin-top: 2.5em;
    font-size: 1em;
  }

  .hero .author {
    font-size: 0.7em;
  }

  .landing-title {
    padding-top: 90px;
    padding-bottom: 55px;
  }

  .in-page-title {
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 1000px) {
  .hero .quote {
    font-size: 0.9em;
  }

  .hero .author {
    font-size: 0.8em;
  }

  .landing-title {
    padding-top: 125px;
    padding-bottom: 90px;
  }

  .in-page-title {
    padding-bottom: 60px;
  }
}
