.circle, .rounded-box.circle {
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
}

.rounded-box {
  -webkit-bottom-left-radius: 12px;
  -webkit-top-right-radius: 6px;
  -moz-bottom-left-radius: 12px;
  -moz-top-right-radius: 6px;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 6px;
}

.circle:hover, .rounded-box.circle:hover {
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
}

.flex-center {
  justify-content: center;
}

.flex-start {
  justify-content: flex-start;
}

@media only screen and (min-width: 1000px) {
  app-event-card {
    margin-left: 20px;
    margin-right: 20px;
  }
}
