<div class="form-page-layout">
  <!-- Register -->
  <app-hero [contents]="appHeroContents"></app-hero>
  <app-card [bodyTemplate]="bodyTemplate">
    <!-- Body -->
    <ng-template #bodyTemplate>
      <div class="body">
        <div class="flex-layout-column flex-center-center social-login-wrapper">
          <app-brand-button (click)="socialLogin(environmentCommon.website.facebook)"
                            [icon]="environmentCommon.website.facebook.cssClass"></app-brand-button>
          <app-brand-button (click)="socialLogin(environmentCommon.website.google)"
                            [icon]="environmentCommon.website.google.cssClass"></app-brand-button>
        </div>
        <div class="flex-layout-column flex-center-center">
          <p i18n="@@signUp.or.separator">or</p>
        </div>
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
          <div class="section">

            <div [class.error-input]="submitted && form.controls.username.invalid" class="input-with-icon">
              <input formControlName="username" i18n-placeholder="@@signUp.username.placeholder" placeholder="Username..." required type="text">
              <i aria-hidden="true" class="fas fa-user fa-lg fa-fw"></i>
            </div>
            <div [class.error-input]="submitted && form.controls.email.invalid" class="input-with-icon">
              <input formControlName="email" i18n-placeholder="@@signUp.email.placeholder" placeholder="Email..." required type="email">
              <i aria-hidden="true" class="fas fa-envelope fa-lg fa-fw"></i>
            </div>
            <div [class.error-input]="submitted && form.controls.password.invalid" class="input-with-icon">
              <input formControlName="password" i18n-placeholder="@@signUp.password.placeholder" placeholder="Password..." required type="password">
              <i aria-hidden="true" class="fas fa-key fa-lg fa-fw"></i>
            </div>
            <div [class.error-input]="submitted && form.controls.confirmPassword.invalid" class="input-with-icon">
              <input formControlName="confirmPassword" i18n-placeholder="@@signUp.confirmPassword.placeholder" placeholder="Confirm Password..." required type="password">
              <i aria-hidden="true" class="fas fa-lock fa-lg fa-fw"></i>
            </div>
          </div>
          <div class="section-submit">
            <app-button i18n-text="@@signUp.continue.button" text="CONTINUE"></app-button>
            <p>
              <small i18n="@@signUp.terms" class="dim">By signing up, you agree
                <a class="theme-color-link" rel=noopener routerLink="{{URLS.terms}}" target="_blank">Terms of Use</a>,
                <a class="theme-color-link" rel=noopener routerLink="{{URLS.privacyPolicy}}" target="_blank">Privacy
                  Policy</a>
                and
                <a class="theme-color-link" rel=noopener routerLink="{{URLS.cookiePolicy}}" target="_blank">Cookie
                  Policy</a>
              </small>
            </p>
            <hr class="dim"/>
            <p i18n="@@signUp.alreadyHaveAccount">
              Already have an account?
              <a [routerLink]="URLS.login" class="theme-color-link">
                Login
              </a>
            </p>
          </div>
        </form>
      </div>
    </ng-template>
  </app-card>
</div>
<app-cookies></app-cookies>
