<div class="form-page">
  <div class="hero">
    <div class="hero-content">
      <h3>Register</h3>
    </div>
    <app-card [body]="body">
      <!-- Body -->
      <ng-template #body>
        <div class="body">
          <div class="flex-layout-row flex-center-center">
            <app-social-button (click)="socialLogin(environmentCommon.website.facebook)"
                               [brand]="environmentCommon.website.facebook.cssClass"></app-social-button>
            <app-social-button (click)="socialLogin(environmentCommon.website.google)"
                               [brand]="environmentCommon.website.google.cssClass"></app-social-button>
          </div>
          <div class="login-page-middle-text flex-layout-column flex-center-center">
            <p>or</p>
          </div>
          <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <div class="section">

              <div [class.input-error]="submitted && form.controls.username.invalid" class="input-with-icon">
                <input formControlName="username" placeholder="Username..." required type="text">
                <i aria-hidden="true" class="fas fa-user fa-lg fa-fw"></i>
              </div>
              <div [class.input-error]="submitted && form.controls.email.invalid" class="input-with-icon">
                <input formControlName="email" placeholder="Email..." required type="email">
                <i aria-hidden="true" class="fas fa-envelope fa-lg fa-fw"></i>
              </div>
              <div [class.input-error]="submitted && form.controls.password.invalid" class="input-with-icon">
                <input formControlName="password" placeholder="Password..." required type="password">
                <i aria-hidden="true" class="fas fa-key fa-lg fa-fw"></i>
              </div>
              <div [class.input-error]="submitted && form.controls.confirmPassword.invalid" class="input-with-icon">
                <input formControlName="confirmPassword" placeholder="Confirm Password..." required type="password">
                <i aria-hidden="true" class="fas fa-lock fa-lg fa-fw"></i>
              </div>
            </div>
            <div class="section-submit">
              <app-button1 [text]="'CONTINUE'" [themeColor]="'default'"></app-button1>
              <p>
                <small class="dim">By signing up, you agree
                  <a class="theme-color-link" rel=noopener routerLink="{{URLS.terms}}" target="_blank">Terms of Use</a>,
                  <a class="theme-color-link" rel=noopener routerLink="{{URLS.privacyPolicy}}" target="_blank">Privacy
                    Policy</a>
                  and
                  <a class="theme-color-link" rel=noopener routerLink="{{URLS.cookiePolicy}}" target="_blank">Cookie
                    Policy</a>
                </small>
              </p>
              <hr class="dim"/>
              <p>
                Already have an account?
                <a [routerLink]="URLS.login" class="theme-color-link">
                  Login
                </a>
              </p>
            </div>
          </form>
        </div>
      </ng-template>
    </app-card>
  </div>
</div>
<app-cookies></app-cookies>
