.dashboard-page {
  & app-card {
    & .content-column-wrapper {
      & .rate-badge-wrapper {
        position: absolute;
        top: 45px;
        left: 26px;
        display: flex;
        align-items: center;
        justify-content: center;

        & label {
          font-size: 1.5em;
        }
      }

      & .column-first {
        & .section-output {
          & .follower-following-count-area {
            display: flex;
            margin-top: 0.7em;
            margin-left: 0.4em;
            font-weight: 300;
            color: var(--color);
            flex-wrap: wrap;

            & .follower-count-area {
              margin-right: 20px;

              & .follower-count {
                font-style: normal;
                color: var(--theme-color);
              }
            }

            & .following-count-area {
              margin-right: 20px;

              & .following-count {
                font-style: normal;
                color: var(--theme-color);
              }
            }

            & .event-count-area {
              & .event-count {
                font-style: normal;
                color: var(--theme-color);
              }
            }
          }
        }
      }

      & .column-second {
        & .interest-list {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          position: relative;
          margin-top: 0.5em;
          margin-bottom: 0.5em;
          flex-wrap: wrap;

          & app-label-with-icon-data {
            margin: 5px;
            min-width: -webkit-fit-content;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }

  & .dashboard-page-events {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1300px) {
  .dashboard-page {
    & app-card {
      &.bigger-card:hover {
        transform: scale(1.15);

        &:hover {
          transform: scale(1.18);
        }
      }

      & .content-column-wrapper {
        display: flex;
        flex-direction: row;

        & .column-second {
          display: flex;
          flex-direction: column;
          max-width: 40%;
        }
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .dashboard-page {
    display: block;
    align-items: center;
    padding-top: 110px;

    & app-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & .content-column-wrapper {
        & .column-first {
          display: flex;
          flex-direction: column;
          width: -webkit-fill-available;
        }

        & .column-second {
          width: -webkit-fill-available;

          & .interest-list {
            flex-direction: row;
            place-content: center flex-start;
            align-items: center;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 999px) {
  .dashboard-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 85px;

    & app-card {
      display: flex;
      justify-content: center;
      align-items: center;

      & .content-column-wrapper {
        & .rate-badge-wrapper {
          left: 0;
          width: 100%;
          display: block;

          & .badge-area {
            padding-top: 5px;
            margin-left: initial;
            text-align: center;
          }

          & label {
            font-size: 1.4em;
          }
        }

        & .column-first {
          &.with-rate {
            margin-top: 30px;
          }
        }

        & .column-second {
          & .interest-list {
            flex-direction: column;
            place-content: flex-start;
          }
        }
      }
    }
  }
}

app-event-card {
  &.bigger-card:hover {
    transform: scale(1.15);

    &:hover {
      transform: scale(1.18);
    }
  }
}
