.side-content-wrapper {
  height: 100vh;
  margin: 0;
  position: fixed;
  right: 0;
  background-color: var(--background-color);
  overflow-x: hidden;
  overflow-y: auto;
}

.side-content {
  width: 400px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.side-content app-card a {
  width: 95%;
}

app-search {
  display: flex;
  color: var(--color);
  align-items: center;
  position: fixed;
  width: 400px;
  z-index: 12;
  background-color: var(--background-color);
  height: 70px;
  padding-bottom: 10px;
}

.upcoming-card {
  position: fixed;
  margin-top: 108px;
  width: 400px;
  height: calc(100% - 120px);
  overflow: auto;
  padding: 10px calc(10px + env(safe-area-inset-right)) 0 10px;
}

#more-settings {
  border-top: 1px solid var(--hover);
}

@media only screen and (max-width: 999px) {
  .side-content-wrapper {
    visibility: hidden;
  }
}

@media only screen and (min-width: 1000px) {
  .side-content-wrapper {
    visibility: visible;
  }
}

@media (hover: hover) {
  /*
  .search-results a:hover {
    background-color: var(--hover);
  }*/
}
