.attendees-container {
  width: -webkit-fill-available;
}

.attendees-area {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 30px;
}

.attendees-area div {
  margin-bottom: 10px;
  width: 50%;
  text-align: left;
}

.attendees-name-area a {
  color: var(--brand-color);
}

h2, h3 {
  text-align: center;
}

@media (hover: hover) {
  .attendees-name-area a:hover {
    color: var(--darker);
  }
}

@media only screen and (max-width: 999px) {
  .event-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 85px;
  }

  .attendees-area div {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (min-width: 1000px) {
  .event-page {
    display: block;
    padding-top: 110px;
    min-height: 100vh;
  }
}

@media only screen and (min-width: 1600px) {
  .attendees-area div {
    width: 33%;
  }
}
