<div class="event-page">
  <div *ngIf="event">
    <div class="event">
      <app-event-card (itemIdForFillingForm)="fillForm()" [addMarginToDescription]="true"
                      [centeredTitle]="true" [completed]="completed" [event]="event"
                      [fillLayout]="true" [inProgress]="event.inProgress" [isEditable]="!!event?.attendees"
                      [maxHeight]="true" [profileImg]="!isProfileImageLoading ? profileImg : PROFILE_IMG"></app-event-card>
    </div>
  </div>
  <div *ngIf="event?.attendees" class="attendees-container">
    <h2 style="text-align: center;">Attendees</h2>
    <div class="attendees-area">
      <div *ngFor="let user of event.attendees" class="attendees-name-area">
        <a [routerLink]="URLS.user.root + '/' + user">
          {{ user }}
        </a>
      </div>
      <h3 *ngIf="event?.attendees.length === 0" class="dim">None</h3>
    </div>
  </div>
</div>
