@use '../../../../styles/util/util';
@use '../card.component';

.presentation-card {

  & .presentation-item {
    @include util.flex-layout-column;
    @include util.top-right-bottom-left-rounded-box;
    @include util.default-shadow;

    background-color: var(--card);

    align-items: center;
    justify-content: flex-start;

    box-sizing: border-box;
    padding: 15px 15px 12px;

    & .presentation-item-content {
      @include util.top-right-bottom-left-rounded-box;
      @include util.flex-layout-column;
      @include util.flex-center-center;
      @include util.default-shadow;

      overflow: hidden;
      margin-bottom: 20px;
    }

    & p, & a {
      font-size: 18px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    & .presentation-link {
      font-weight: 500;
    }

    & .presentation-description, & .presentation-footer {
      font-size: 15px;
      color: var(--lighter-contrast);
      font-weight: lighter;
      padding: 0 10px;
    }

    & .presentation-footer {
      @include util.margin-x-auto;

      color: var(--theme-color-lighter-4);
    }

    & > * {
      margin-bottom: 12px;
    }

    &.color-item {

      & .presentation-item-content {
        background-color: var(--theme-color);
      }

      &.secondary {
        & .presentation-item-content {
          background-color: var(--theme-color-secondary);
        }
      }

      &.tertiary {
        & .presentation-item-content {
          background-color: var(--theme-color-tertiary);
        }
      }
    }

    &.logo-item {

      & .presentation-item-content {
        height: 220px;
        box-shadow: none;
      }
    }

    &.product-item {

      & .presentation-item-content {
        height: 150px;
        box-shadow: none;
      }
    }

    &.wallpaper-item {
      height: 450px;

      & .presentation-item-content {
        height: 400px;
      }
    }
  }
}

@media only screen and (max-width: 999px) {
  .presentation-card {
    & .presentation-item {
      width: 94vw;
      height: 55vw;

      & .presentation-item-content {
        width: 100%;
      }

      &.color-item {
        & .presentation-item-content {
          height: calc(55vw - 100px);
        }
      }

      &.logo-item {
        height: 280px;
      }

      &.product-item {
        height: 450px;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .presentation-card {
    & .presentation-item {
      &.color-item {
        height: 200px;

        & .presentation-item-content {
          height: 100px;
          width: 200px;
        }
      }

      &.logo-item, &.product-item {
        & .presentation-item-content {
          width: 200px;
        }
      }

      &.product-item {
        height: 450px;
      }

      &.wallpaper-item {
        & .presentation-item-content {
          max-width: 750px;
        }
      }
    }
  }
}

