<app-card [headerTemplate]="headerTemplate" [bodyTemplate]="bodyTemplate" [footerTemplate]="footerTemplate"
          [bottomWrapperTemplate]="bottomWrapperTemplate" class="presentation-card" (click)="redirect()">
  <!-- Header -->
  <ng-template #headerTemplate>
    <div class="header">
      <div class="presentation-item-content">
        <img *ngIf="src" [height]="imgHeight" [src]="src" alt="logo">
        <p>{{ title }}</p>
      </div>
    </div>

  </ng-template>

  <!-- Body -->
  <ng-template #bodyTemplate>
    <div class="body">
      <p class="presentation-description">{{ secondaryText }}</p>
      <app-button class="button" i18n-text="@@learnMore.button" text="Learn more" [routerLink]="href"
                  [buttonClasses]="['theme-color-border-color', 'theme-color-font-color', 'transparent-button']">
      </app-button>
    </div>
  </ng-template>

  <!-- Body -->
  <ng-template #footerTemplate>
    <div class="footer">
      <p *ngIf="footerText">{{ footerText }}</p>
    </div>
  </ng-template>
  <ng-template #bottomWrapperTemplate></ng-template>
</app-card>
