<app-card [bodyTemplate]="bodyTemplate" [bottomWrapperTemplate]="bottomWrapperTemplate"
          [cardClass]="'profile-card'" class="profile-card">
  <!-- Body -->
  <ng-template #bodyTemplate>
    <div [class]="presentationItemClass" class="presentation-item">
      <a (click)="redirect()" class="presentation-item-content">
        <img *ngIf="src" [height]="imgHeight" [src]="src" alt="wallpaper">
      </a>

      <p>{{ title }}</p>

      <a (click)="redirect()" *ngIf="!href.startsWith('/') && secondaryText" class="presentation-link theme-color-link">
        {{ secondaryText }}
      </a>
      <p *ngIf="href.startsWith('/') && secondaryText" class="presentation-description">{{ secondaryText }}</p>
      <p *ngIf="footerText" class="presentation-footer">{{ footerText }}</p>
    </div>
  </ng-template>
  <ng-template #bottomWrapperTemplate></ng-template>
</app-card>
