<app-card [bodyTemplate]="bodyTemplate" [bottomWrapperTemplate]="bottomWrapperTemplate"
          class="presentation-card" [cardClass]="'transparent-card'">
  <!-- Body -->
  <ng-template #bodyTemplate>
    <div class="presentation-item" [class]="presentationItemClass">
      <a class="presentation-item-content" (click)="redirect()">
        <img [src]="src" *ngIf="src" [height]="imgHeight" alt="wallpaper">
      </a>

      <p>{{ title }}</p>

      <a class="presentation-link theme-color-link" *ngIf="!href.startsWith('/') && secondaryText" (click)="redirect()">
        {{ secondaryText }}
      </a>
      <p class="presentation-description" *ngIf="href.startsWith('/') && secondaryText">{{ secondaryText }}</p>
      <p class="presentation-footer" *ngIf="footerText">{{ footerText }}</p>
    </div>
  </ng-template>
  <ng-template #bottomWrapperTemplate></ng-template>
</app-card>
