@use '../../../styles/page/page';

.page-content {
  padding: 0 2rem 2em;
}

@media only screen and (max-width: 999px) {
  .page {
    min-height: 200vh;
    margin-top: 55px;
  }

  .page, .footer-wrap {
    margin-left: 0;
  }
}

@media only screen and (min-width: 1000px) {
  .side-nav-closed .page, .side-nav-closed .footer-wrap, .page, .footer-wrap {
    margin-left: 80px;
  }
}

@media only screen and (min-width: 1000px) {
  .page, .footer-wrap {
    margin-left: 256px;
  }
}

@media only screen and (min-width: 1000px) {
  .page {
    margin-top: 0;
  }

  .side-nav-closed .page, .side-nav-closed .footer-wrap {
    margin-left: 80px;
  }
}
